Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

block-secrets-file:
  name: block .secrets.age file
  language: fail
  entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

esphome-hosts-check:
  name: check ESPHome hosts terraform is up to date
  entry: scripts/gen-esphome-hosts --check
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

Require Goldilocks on every namespace
  .agents/rules/kubernetes/resources.md
  .kyverno/policies/require-goldilocks-vpa-config.yaml
  kubernetes/0-nfs-csi-driver/namespace.yaml
  kubernetes/cpap-ezshare-sync/namespace.yaml
  kubernetes/healthchecks/namespace.yaml
  kubernetes/network-storage-benchmark/namespace.yaml
  kubernetes/nvidia-device-plugin/namespace.yaml
  kubernetes/smtp-relay/namespace.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Update Renovate version constraints
  .renovaterc
Due: none

Record flux's trixie upgrade and stop its Ansible drift
  ansible/host_vars/flux.yaml
  ansible/roles/common/tasks/main.yaml
  opentofu/flux.tf
Due: ansible-lint

Record flux's trixie upgrade and stop its Ansible drift (#3088)
  ansible/host_vars/flux.yaml
  ansible/roles/common/tasks/main.yaml
  opentofu/flux.tf
Due: ansible-lint

Evaluate Renovate PRs in capped passes
  .github/workflows/renovate-eval.yaml
Due: none

Reserve a fixed IP and DNS name for the Droplet
  opentofu/locals.tf
Due: none

Let Renovate evaluation passes start the next pass
  .github/workflows/renovate-eval.yaml
Due: none

Start Renovate eval passes from CI and ESPHome only
  .github/workflows/renovate-eval.yaml
Due: none

Use the default Renovate evaluation batch size
  .github/workflows/renovate-eval.yaml
Due: none

Move actionlint to the maintained kjanat fork
  .github/workflows/renovate-eval.yaml
  .github/workflows/rpi-image-test.yaml
  .pre-commit-config.yaml
Due: none

Update camofox-browser to 1.18.1 with VNC helper fix
  kubernetes/camofox/deployment.yaml
  kubernetes/camofox/vnc-watcher-lib.sh
Due: kubeconform, ak-tool-generate, kyverno-validate

Update external-dns to 1.22.0 with GA hostname annotations
  kubernetes/alloy/syslog-service.yaml
  kubernetes/external-dns/Chart.yaml
  kubernetes/external-dns/helm/crds/dnsrecords.externaldns.k8s.io.yaml
  kubernetes/external-dns/helm/templates/clusterrole.yaml
  kubernetes/external-dns/helm/templates/clusterrolebinding.yaml
  kubernetes/external-dns/helm/templates/deployment.yaml
  kubernetes/external-dns/helm/templates/service.yaml
  kubernetes/external-dns/helm/templates/serviceaccount.yaml
  kubernetes/mosquitto/service.yaml
  kubernetes/netdata/netdata-streaming-lb.yaml
  kubernetes/smtp-relay/helm/service.yaml
  kubernetes/smtp-relay/values.yaml
  kubernetes/soju/service.yaml
  kubernetes/traefik/helm/templates/service.yaml
  kubernetes/traefik/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Ignore k5 ez Share WiFi link state in network role
  ansible/host_vars/k5.yaml
Due: ansible-lint

Pin the CRDs-catalog used by kubeconform
  docs/kubernetes-upgrade-playbook.md
  kubernetes/scripts/kubeconform-wrapper
Due: none

Enable unattended upgrades on Kubernetes nodes
  .pre-commit-config.yaml
  ansible/host_vars/k1.yaml
  ansible/host_vars/k2.yaml
  ansible/host_vars/k3.yaml
  ansible/roles/unattended_upgrades/defaults/main.yaml
  ansible/roles/unattended_upgrades/files/apt_info.py
  ansible/roles/unattended_upgrades/handlers/main.yaml
  ansible/roles/unattended_upgrades/tasks/main.yaml
  ansible/roles/unattended_upgrades/templates/52unattended-upgrades-local.j2
  ansible/roles/unattended_upgrades/templates/apt-info-textfile.service.j2
  ansible/roles/unattended_upgrades/templates/apt-info-textfile.timer.j2
  ansible/roles/unattended_upgrades/templates/apt-snapshot-advance.j2
  ansible/site.yaml
  kubernetes/prometheus/config/rules.yml
Due: ansible-lint, kubeconform, ak-tool-generate, kyverno-validate

Run unattended upgrades at 03:45 on Kubernetes nodes
  ansible/group_vars/kubernetes.yaml
  ansible/roles/unattended_upgrades/defaults/main.yaml
  ansible/roles/unattended_upgrades/handlers/main.yaml
  ansible/roles/unattended_upgrades/tasks/main.yaml
  ansible/roles/unattended_upgrades/templates/apt-daily-upgrade-time.conf.j2
Due: ansible-lint

Keep Prometheus schedulable when memory is short
  kubernetes/alertmanager/config.yaml
  kubernetes/alertmanager/deploy.yaml
  kubernetes/alertmanager/externalsecret.yaml
  kubernetes/karakeep/helm/meilisearch/configmap.yaml
  kubernetes/karakeep/helm/meilisearch/statefulset.yaml
  kubernetes/karakeep/values.yaml
  kubernetes/openarchiver/meilisearch-statefulset.yaml
  kubernetes/openarchiver/namespace.yaml
  kubernetes/prometheus/config/rules.yml
  kubernetes/prometheus/deploy.yaml
  kubernetes/prometheus/kustomization.yaml
  kubernetes/prometheus/priorityclass.yaml
  opentofu/healthchecks.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Reboot Kubernetes nodes with Kured
  kubernetes/kured/Chart.yaml
  kubernetes/kured/externalsecret.yaml
  kubernetes/kured/helm/templates/clusterrole.yaml
  kubernetes/kured/helm/templates/clusterrolebinding.yaml
  kubernetes/kured/helm/templates/daemonset.yaml
  kubernetes/kured/helm/templates/role.yaml
  kubernetes/kured/helm/templates/rolebinding.yaml
  kubernetes/kured/helm/templates/serviceaccount.yaml
  kubernetes/kured/kustomization.yaml
  kubernetes/kured/namespace.yaml
  kubernetes/kured/render
  kubernetes/kured/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Path conditions:
  block-secrets-file: any of: ^\.secrets\.age$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  esphome-hosts-check: any of: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
