Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

.pre-commit-config.yaml:

---
exclude: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^ansible/
  - id: check-added-large-files
    exclude: ^esphome/img/
  - id: check-merge-conflict

- repo: https://github.com/lyz-code/yamlfix
  rev: 1.19.1
  hooks:
  - id: yamlfix
    args: [-c, .yamlfix.toml]
    exclude: ^ansible/|service-blueprint\.template\.yaml$|kubernetes/hass/config/configuration\.yaml$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.38.0
  hooks:
  - id: yamllint
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    types_or: [json, markdown]

- repo: local
  hooks:
  - id: block-secrets-file
    name: block .secrets.age file
    language: fail
    entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate
    files: ^\.secrets\.age$
  - id: ansible-lint
    name: ansible-lint
    entry: scripts/ansible-lint-wrapper
    language: system
    files: ^ansible/.*$
    require_serial: true
  - id: format-kustomization
    name: format kustomization.yaml files
    entry: scripts/format-kustomization
    language: system
    files: ^kubernetes/.*/kustomization\.ya?ml$
    pass_filenames: true
  - id: kubeconform
    name: kubeconform manifest validation
    entry: kubernetes/scripts/kubeconform-wrapper
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
    exclude: (helm\.yaml|patch-.*\.yaml)$
  - id: ak-tool-generate
    name: generate authentik terraform configs
    entry: kubernetes/scripts/ak-tool generate
    language: system
    files: ^kubernetes/.*/.*\.(ya?ml)$
    pass_filenames: false
    always_run: false
  - id: hass-check-config
    name: validate home assistant config
    entry: scripts/hass-check-config
    language: system
    files: ^(kubernetes/hass/|scripts/hass-check-config)
    pass_filenames: false
  - id: kyverno-validate
    name: kyverno policy validation
    entry: kubernetes/scripts/kyverno-wrapper
    language: system
    pass_filenames: true
    files: ^kubernetes/.*\.(ya?ml)$
  - id: esphome-hosts-check
    name: check ESPHome hosts terraform is up to date
    entry: scripts/gen-esphome-hosts --check
    language: python
    additional_dependencies: [pyyaml]
    files: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$
    pass_filenames: false
  - id: beads-flush
    name: beads pre-commit flush
    entry: bash -c '[ "$GITHUB_ACTIONS" = "true" ] && exit 0; [ "$(git rev-parse --abbrev-ref
      HEAD)" != "beads-sync" ] && exit 0; bd hooks run pre-commit'
    language: system
    pass_filenames: false
    always_run: true
    stages: [pre-commit]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.11.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.47.0
  hooks:
  - id: markdownlint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.105.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
  - id: terraform_tflint
  - id: terraform_providers_lock
    args:
    - --hook-config=--mode=always-regenerate-lockfile
    - --args=-platform=linux_amd64
    - --args=-platform=darwin_arm64

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.10
  hooks:
  - id: actionlint

- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 42.95.1
  hooks:
  - id: renovate-config-validator

Add SpoolBuddy network configuration
  ansible/host_vars/spoolbuddy.yaml
  ansible/inventory/default
  opentofu/locals.tf
Due: ansible-lint

gitblobstore: checkandput manifest
  9hra2bm4o9mdlpn8nidqilrlvpctbsjc.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  95jnc4rlp385uulngsj5lidiv1o45anp
  manifest
Due: none

Update Speakr to 0.10.2-alpha
  kubernetes/speakr/deploy-speakr.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Add shared Camofox browser service
  kubernetes/camofox/camofox.config.json
  kubernetes/camofox/deployment.yaml
  kubernetes/camofox/ingress.yaml
  kubernetes/camofox/kustomization.yaml
  kubernetes/camofox/middleware-root-redirect.yaml
  kubernetes/camofox/namespace.yaml
  kubernetes/camofox/pvc.yaml
  kubernetes/camofox/service.yaml
  kubernetes/camofox/tailscale-ingress.yaml
  kubernetes/camofox/vnc-watcher-lib.sh
  kubernetes/felix/deployment.yaml
  opentofu/modules/authentik/generated-camofox.tf
  opentofu/modules/authentik/generated-outpost.tf
  opentofu/tailscale.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

gitblobstore: checkandput manifest
  manifest
  ugtpg87mmg5aac1dstes4mnen32tu43h.darc
Due: none

gitblobstore: checkandput manifest
  4ijnok176eel7d1bthmcgckmu5mcgbqs
  manifest
Due: none

gitblobstore: checkandput manifest
  fqvctne66edofo47ickjltkq0qrtof0q.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  2416nknb8eve9ihsslmdq1sme10rts3d
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  rsk0i21s8jcnedvqqcq3r2217hire1kn.darc
Due: none

gitblobstore: checkandput manifest
  52i0efohufshbrfn7jcf3imoa8u6h9dv
  manifest
Due: none

Update Bambuddy to 1.2.5
  kubernetes/bambuddy/deployment.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Fix Renovate version discovery
  .renovaterc
  kubernetes/plexmediaserver/deploy.yaml
  scripts/update-renovate-versions.py
Due: kubeconform, ak-tool-generate, kyverno-validate

gitblobstore: checkandput manifest
  manifest
  sl3g9rnikb58ta0155ddjg18ogjq8vb3.darc
Due: none

gitblobstore: checkandput manifest
  3knfqo9qnuqut5ccb143jia9hjt53dmc
  manifest
Due: none

Use noop registry for ExternalDNS
  kubernetes/external-dns/helm/templates/deployment.yaml
  kubernetes/external-dns/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Deploy BookBridge
  kubernetes/bookbridge/deployment.yaml
  kubernetes/bookbridge/ingress.yaml
  kubernetes/bookbridge/kustomization.yaml
  kubernetes/bookbridge/namespace.yaml
  kubernetes/bookbridge/pvc.yaml
  kubernetes/bookbridge/service.yaml
  opentofu/modules/authentik/generated-bookbridge.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Enforce infrastructure policy checks
  .github/workflows/ci.yaml
  kubernetes/bookbridge/namespace.yaml
  kubernetes/bookbridge/pvc.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Extend Authentik proxy sessions
  kubernetes/scripts/templates/provider-app-proxy.tf.j2
  opentofu/modules/authentik/generated-alertmanager.tf
  opentofu/modules/authentik/generated-ara.tf
  opentofu/modules/authentik/generated-bazarr.tf
  opentofu/modules/authentik/generated-bookbridge.tf
  opentofu/modules/authentik/generated-camofox.tf
  opentofu/modules/authentik/generated-changedetection.tf
  opentofu/modules/authentik/generated-felix-www.tf
  opentofu/modules/authentik/generated-goldilocks.tf
  opentofu/modules/authentik/generated-healthchecks.tf
  opentofu/modules/authentik/generated-homepage.tf
  opentofu/modules/authentik/generated-minuspod.tf
  opentofu/modules/authentik/generated-netdata.tf
  opentofu/modules/authentik/generated-prometheus.tf
  opentofu/modules/authentik/generated-prowlarr.tf
  opentofu/modules/authentik/generated-qbit-manage.tf
  opentofu/modules/authentik/generated-radarr.tf
  opentofu/modules/authentik/generated-readest-hardcover-sync.tf
  opentofu/modules/authentik/generated-smokeping.tf
  opentofu/modules/authentik/generated-sonarr.tf
  opentofu/modules/authentik/generated-tautulli.tf
Due: none

Remove mandatory agent push workflow
  AGENTS.md
Due: none

Add PiFire host configuration
  ansible/host_vars/pifire.yaml
  ansible/inventory/default
  ansible/roles/traefik/tasks/main.yml
  ansible/roles/traefik/templates/conf.d/pifire.yml.j2
  ansible/roles/traefik/templates/docker-compose.yml.j2
  opentofu/locals.tf
Due: ansible-lint

Resize Hetzner box to 5 TB
  opentofu/hetzner.tf
Due: none

Deploy Storyteller on Kubernetes
  kubernetes/storyteller/deployment.yaml
  kubernetes/storyteller/externalsecret-oidc.yaml
  kubernetes/storyteller/externalsecret-secret-key.yaml
  kubernetes/storyteller/ingress.yaml
  kubernetes/storyteller/kustomization.yaml
  kubernetes/storyteller/namespace.yaml
  kubernetes/storyteller/password-generator.yaml
  kubernetes/storyteller/pvc-data.yaml
  kubernetes/storyteller/pvc-database.yaml
  kubernetes/storyteller/service.yaml
  kubernetes/storyteller/storyteller.json
  opentofu/modules/authentik/generated-storyteller-oidc-1p.tf
  opentofu/modules/authentik/generated-storyteller.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Harden PiFire Traefik configuration
  ansible/host_vars/pifire.yaml
  ansible/roles/traefik/handlers/main.yml
  ansible/roles/traefik/tasks/main.yml
  ansible/roles/traefik/templates/conf.d/matter.yaml.j2
  ansible/roles/traefik/templates/conf.d/pifire.yaml.j2
  ansible/roles/traefik/templates/conf.d/proxmox.yaml.j2
  ansible/roles/traefik/templates/docker-compose.yaml.j2
Due: ansible-lint

Use namespaced Docker interface facts
  ansible/roles/matter/templates/docker-compose.yaml.j2
  ansible/roles/traefik/templates/conf.d/matter.yaml.j2
Due: ansible-lint
