Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

validate-iscsi-labels:
  name: validate iSCSI PVC labels
  entry: kubernetes/scripts/validate-iscsi-labels
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

Convert luser to single 10G NIC configuration
  ansible/host_vars/luser.yaml
Due: ansible-lint

Install qemu-guest-agent on virtual machines
  ansible/roles/common/tasks/main.yaml
Due: ansible-lint

Add Proxmox VE host support to infrastructure
  ansible/group_vars/all.yaml
  ansible/group_vars/proxmox.yaml
  ansible/host_vars/k1.yaml
  ansible/host_vars/k2.yaml
  ansible/host_vars/k4.yaml
  ansible/host_vars/k5.yaml
  ansible/host_vars/luser.yaml
  ansible/host_vars/p9.yaml
  ansible/inventory/default
  ansible/requirements.yml
  ansible/roles/common/tasks/main.yaml
  ansible/roles/common/vars/main.yaml
  ansible/roles/hostname/defaults/main.yml
  ansible/roles/hostname/templates/hosts.j2
  ansible/roles/proxmox/tasks/acme.yaml
  ansible/roles/proxmox/tasks/cluster.yaml
  ansible/roles/proxmox/tasks/main.yaml
  ansible/roles/proxmox/tasks/network.yaml
  ansible/roles/proxmox/tasks/storage.yaml
  ansible/roles/proxmox/tasks/users.yaml
  ansible/roles/proxmox/templates/aws-credentials.j2
  ansible/roles/proxmox/templates/interfaces.j2
  ansible/roles/proxmox/vars/main.yaml
  ansible/roles/setup_upgrade/tasks/main.yaml
  ansible/site.yaml
  flake.nix
  opentofu/locals.tf
Due: ansible-lint

Fix ansible-lint issues in proxmox role
  ansible/roles/proxmox/handlers/main.yaml
  ansible/roles/proxmox/tasks/acme.yaml
  ansible/roles/proxmox/tasks/cluster.yaml
  ansible/roles/proxmox/tasks/network.yaml
Due: ansible-lint

Use JSON output for ACME plugin list parsing
  ansible/roles/proxmox/tasks/acme.yaml
  ansible/roles/traefik/files/docker-compose.yml
  ansible/roles/traefik/tasks/main.yml
  ansible/roles/traefik/templates/traefik.env.j2
Due: ansible-lint

Add infrapi host with Traefik and NUT services
  ansible/host_vars/infrapi.yaml
  ansible/inventory/default
  ansible/roles/nut/files/docker-compose.yaml
  ansible/roles/nut/handlers/main.yaml
  ansible/roles/nut/tasks/webgui.yaml
  ansible/roles/nut/templates/webgui.env.j2
  ansible/roles/proxmox/tasks/users.yaml
  ansible/site.yaml
  opentofu/locals.tf
  opentofu/modules/dns/oneill.tf
Due: ansible-lint

Add PXE boot server role for automated Debian installs
  ansible/roles/pxe/files/boot.ipxe
  ansible/roles/pxe/files/dnsmasq.conf
  ansible/roles/pxe/files/docker-compose.yaml
  ansible/roles/pxe/files/preseed.bookworm.cfg
  ansible/roles/pxe/files/preseed.trixie.cfg
  ansible/roles/pxe/handlers/main.yml
  ansible/roles/pxe/tasks/main.yml
  ansible/site.yaml
  kubernetes/homepage/services.yaml
  opentofu/modules/dns/oneill.tf
Due: ansible-lint, kubeconform, validate-iscsi-labels, ak-tool-generate

Add OpenGarage ESPHome configs and refactor buzzer to RTTTL
  esphome/.gitignore
  esphome/common/device-classes/opengarage.yaml
  esphome/freezer-door.yaml
  esphome/left-garage-door.yaml
  esphome/right-garage-door.yaml
  esphome/scripts/esphome
Due: none

Switch ESPHome to uvx and improve bootstrap-secrets
  .github/workflows/esphome.yaml
  esphome/scripts/esphome
  esphome/secrets.tmpl
  flake.nix
  scripts/bootstrap-secrets
Due: none

Fix PXE boot for clients with built-in iPXE
  ansible/host_vars/infrapi.yaml
  ansible/roles/pxe/files/dnsmasq.conf
  ansible/site.yaml
Due: ansible-lint

Use smart fact gathering for single playbook runs
  ansible/ansible.cfg
Due: ansible-lint

Disable become for ARA Reporting play
  ansible/site.yaml
Due: ansible-lint

Rename Proxmox API token to automation
  ansible/group_vars/proxmox.yaml
Due: ansible-lint

Add Proxmox VM management and fstrim timer
  ansible/roles/common/tasks/main.yaml
  opentofu/.terraform.lock.hcl
  opentofu/main.tf
  opentofu/proxmox.tf
  opentofu/secrets.tf
Due: ansible-lint

Update proxmox provider constraint to ~> 0.87
  opentofu/main.tf
Due: none

Add script to fetch Home Assistant Prometheus metrics
  kubernetes/hass/get-prom-metrics
Due: none

Add k3 VM as Kubernetes worker
  ansible/host_vars/k3.yaml
  ansible/inventory/default
  ansible/roles/pxe/files/preseed.trixie.cfg
  opentofu/locals.tf
  opentofu/proxmox.tf
Due: ansible-lint

Convert k2 to Proxmox host p2 and add cluster automation
  ansible/group_vars/proxmox.yaml
  ansible/host_vars/p2.yaml
  ansible/inventory/default
  ansible/roles/proxmox/tasks/cluster.yaml
  ansible/roles/proxmox/tasks/main.yaml
  ansible/roles/proxmox/templates/prepare-proxmox-usb.j2
  ansible/roles/proxmox/vars/main.yaml
  opentofu/locals.tf
Due: ansible-lint

Replace pxe role with os-install role
  ansible/roles/os-install/files/boot.ipxe
  ansible/roles/os-install/files/dnsmasq.conf
  ansible/roles/os-install/files/docker-compose.yaml
  ansible/roles/os-install/files/nginx.conf
  ansible/roles/os-install/files/post-install.sh
  ansible/roles/os-install/files/preseed.bookworm.cfg
  ansible/roles/os-install/files/preseed.trixie.cfg
  ansible/roles/os-install/files/proxmox-answers/p2_b4:96:91:4b:34:58.toml
  ansible/roles/os-install/handlers/main.yml
  ansible/roles/os-install/tasks/main.yml
  ansible/roles/pxe/files/docker-compose.yaml
  ansible/roles/pxe/handlers/main.yml
  ansible/roles/pxe/tasks/main.yml
  ansible/site.yaml
  opentofu/modules/dns/oneill.tf
Due: ansible-lint

Path conditions:
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  validate-iscsi-labels: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
