Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

.pre-commit-config.yaml:

---
exclude: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^ansible/
  - id: check-added-large-files
    exclude: ^esphome/img/
  - id: check-merge-conflict

- repo: https://github.com/lyz-code/yamlfix
  rev: 1.19.1
  hooks:
  - id: yamlfix
    args: [-c, .yamlfix.toml]
    exclude: ^ansible/|service-blueprint\.template\.yaml$|kubernetes/hass/config/configuration\.yaml$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.38.0
  hooks:
  - id: yamllint
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    types_or: [json, markdown]

- repo: local
  hooks:
  - id: block-secrets-file
    name: block .secrets.age file
    language: fail
    entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate
    files: ^\.secrets\.age$
  - id: ansible-lint
    name: ansible-lint
    entry: scripts/ansible-lint-wrapper
    language: system
    files: ^ansible/.*$
    require_serial: true
  - id: format-kustomization
    name: format kustomization.yaml files
    entry: scripts/format-kustomization
    language: system
    files: ^kubernetes/.*/kustomization\.ya?ml$
    pass_filenames: true
  - id: kubeconform
    name: kubeconform manifest validation
    entry: kubernetes/scripts/kubeconform-wrapper
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
    exclude: (helm\.yaml|patch-.*\.yaml)$
  - id: ak-tool-generate
    name: generate authentik terraform configs
    entry: kubernetes/scripts/ak-tool generate
    language: system
    files: ^kubernetes/.*/.*\.(ya?ml)$
    pass_filenames: false
    always_run: false
  - id: hass-check-config
    name: validate home assistant config
    entry: scripts/hass-check-config
    language: system
    files: ^(kubernetes/hass/|scripts/hass-check-config)
    pass_filenames: false
  - id: kyverno-validate
    name: kyverno policy validation
    entry: kubernetes/scripts/kyverno-wrapper
    language: system
    pass_filenames: true
    files: ^kubernetes/.*\.(ya?ml)$
  - id: esphome-hosts-check
    name: check ESPHome hosts terraform is up to date
    entry: scripts/gen-esphome-hosts --check
    language: python
    additional_dependencies: [pyyaml]
    files: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$
    pass_filenames: false
  - id: beads-flush
    name: beads pre-commit flush
    entry: bash -c '[ "$GITHUB_ACTIONS" = "true" ] && exit 0; [ "$(git rev-parse --abbrev-ref
      HEAD)" != "beads-sync" ] && exit 0; bd hooks run pre-commit'
    language: system
    pass_filenames: false
    always_run: true
    stages: [pre-commit]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.11.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.47.0
  hooks:
  - id: markdownlint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.105.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
  - id: terraform_tflint
  - id: terraform_providers_lock
    args:
    - --hook-config=--mode=always-regenerate-lockfile
    - --args=-platform=linux_amd64
    - --args=-platform=darwin_arm64

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.10
  hooks:
  - id: actionlint

- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 42.95.1
  hooks:
  - id: renovate-config-validator

Calibrate renovate eval labels
  .claude/renovate-eval.md
  .claude/skills/renovate-eval/README.md
  .claude/skills/renovate-eval/prompts/auditor.md
  .claude/skills/renovate-eval/prompts/eval-data-schema.md
  .claude/skills/renovate-eval/prompts/evaluator.md
  .claude/skills/renovate-eval/prompts/report-format.md
Due: none

Expose Felix webhooks over Tailscale
  kubernetes/felix/deployment.yaml
  kubernetes/felix/kustomization.yaml
  kubernetes/felix/service-webhook.yaml
  kubernetes/felix/tailscale-ingress-webhook.yaml
  opentofu/tailscale.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Disable MinusPod service links
  kubernetes/minuspod/deploy.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Require parallel Renovate eval research
  .claude/skills/renovate-eval/lib/evaluator.py
  .claude/skills/renovate-eval/tests/test_evaluator.py
Due: none

Remove n8n deployment
  kubernetes/n8n/Chart.yaml
  kubernetes/n8n/externalsecret.yaml
  kubernetes/n8n/helm/n8n/configmap.yaml
  kubernetes/n8n/helm/n8n/deployment.yaml
  kubernetes/n8n/helm/n8n/ingress.yaml
  kubernetes/n8n/helm/n8n/pvc.yaml
  kubernetes/n8n/helm/n8n/service.yaml
  kubernetes/n8n/helm/n8n/serviceaccount.yaml
  kubernetes/n8n/helm/valkey/pvc.yaml
  kubernetes/n8n/helm/valkey/scripts.yaml
  kubernetes/n8n/helm/valkey/service-internal.yaml
  kubernetes/n8n/helm/valkey/services.yaml
  kubernetes/n8n/helm/valkey/statefulset.yaml
  kubernetes/n8n/kustomization.yaml
  kubernetes/n8n/n8n-postgres-cluster.yaml
  kubernetes/n8n/namespace.yaml
  kubernetes/n8n/render
  kubernetes/n8n/valkey-values.yaml
  kubernetes/n8n/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add yolo and Superpowers support to renovate eval
  .claude/skills/renovate-eval/README.md
  .claude/skills/renovate-eval/action.yaml
  .claude/skills/renovate-eval/lib/agent_runner.py
  .claude/skills/renovate-eval/lib/auditor.py
  .claude/skills/renovate-eval/lib/evaluator.py
  .claude/skills/renovate-eval/prompts/evaluator.md
  .claude/skills/renovate-eval/renovate_eval.py
  .claude/skills/renovate-eval/tests/test_action.py
  .claude/skills/renovate-eval/tests/test_agent_runner.py
  .claude/skills/renovate-eval/tests/test_auditor.py
  .claude/skills/renovate-eval/tests/test_evaluator.py
Due: none

Add yolo and Superpowers support to renovate eval (#2450)
  .claude/skills/renovate-eval/README.md
  .claude/skills/renovate-eval/action.yaml
  .claude/skills/renovate-eval/lib/agent_runner.py
  .claude/skills/renovate-eval/lib/auditor.py
  .claude/skills/renovate-eval/lib/evaluator.py
  .claude/skills/renovate-eval/prompts/evaluator.md
  .claude/skills/renovate-eval/renovate_eval.py
  .claude/skills/renovate-eval/tests/test_action.py
  .claude/skills/renovate-eval/tests/test_agent_runner.py
  .claude/skills/renovate-eval/tests/test_auditor.py
  .claude/skills/renovate-eval/tests/test_evaluator.py
Due: none

Add restic template repository init
  ansible/group_vars/all/restic-repo-secrets.yaml
  ansible/group_vars/all/restic.yaml
  ansible/host_vars/ansible-integration-test.yaml
  ansible/host_vars/flux.yaml
  ansible/roles/resticprofile/tasks/configure-client.yaml
  flake.nix
  kubernetes/restic/README.md
  kubernetes/restic/cronjob-nfs.yaml.j2
  kubernetes/restic/cronjobs/cronjob-flux-check.yaml
  kubernetes/restic/cronjobs/cronjob-flux-forget.yaml
  kubernetes/restic/cronjobs/cronjob-hetzner-check.yaml
  kubernetes/restic/cronjobs/cronjob-hetzner-forget.yaml
  kubernetes/restic/cronjobs/cronjob-hetzner-main-copy.yaml
  kubernetes/restic/cronjobs/cronjob-hetzner-xtal-check.yaml
  kubernetes/restic/cronjobs/cronjob-hetzner-xtal-copy.yaml
  kubernetes/restic/cronjobs/cronjob-hetzner-xtal-forget.yaml
  kubernetes/restic/cronjobs/cronjob-hetzner.yaml
  kubernetes/restic/cronjobs/cronjob-main-check.yaml
  kubernetes/restic/cronjobs/cronjob-main-forget.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-check.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-forget.yaml
  kubernetes/restic/kustomization.yaml
  kubernetes/restic/profiles.yaml
  kubernetes/restic/render-and-sync
  kubernetes/restic/rest-server/externalsecret.yaml
  kubernetes/restic/rest-server/service.yaml
  kubernetes/restic/shared/externalsecret.yaml
  kubernetes/restic/shared/namespace.yaml
  kubernetes/restic/shared/pvc.yaml
  kubernetes/restic/template-server/deployment.yaml
  kubernetes/restic/template-server/ingress.yaml
  kubernetes/restic/template-server/kustomization.yaml
  kubernetes/restic/template-server/service.yaml
  kubernetes/restic/template-server/tailscale-ingress.yaml
  kubernetes/semaphore/nix-flake.nix
Due: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add Codex runner auth refresh
  kubernetes/codex-runners/README.md
  kubernetes/codex-runners/auth-tools/copy-auth-json.py
  kubernetes/codex-runners/auth-tools/publish-auth-json.py
  kubernetes/codex-runners/auth-tools/refresh-auth.sh
  kubernetes/codex-runners/bootstrap/kustomization.yaml
  kubernetes/codex-runners/bootstrap/pod.yaml
  kubernetes/codex-runners/cronjob-auth-refresh.yaml
  kubernetes/codex-runners/externalsecret-healthcheck.yaml
  kubernetes/codex-runners/helm/infra-autoscalingrunnerset.yaml
  kubernetes/codex-runners/kustomization.yaml
  kubernetes/codex-runners/pvc-auth.yaml
  kubernetes/codex-runners/values.yaml
  opentofu/healthchecks.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Update pantrypi MAC for Pi 5
  opentofu/locals.tf
Due: none

gitblobstore: checkandput manifest
  5e1455rfjvbv4gus9rerg5csru2pumue.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  ekgk7m4srur301kq7gn2di6c7it2i195
  manifest
Due: none

gitblobstore: checkandput manifest
  l27g3a2optrfk9fni18fcg8qt440a86j.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  kb0uht0qgks472lo95e1vo07jo4vg5g6
  manifest
Due: none

Use shared renovate eval action
  .claude/skills/renovate-eval/.gitignore
  .claude/skills/renovate-eval/README.md
  .claude/skills/renovate-eval/SKILL.md
  .claude/skills/renovate-eval/action.yaml
  .claude/skills/renovate-eval/lib/__init__.py
  .claude/skills/renovate-eval/lib/agent_runner.py
  .claude/skills/renovate-eval/lib/auditor.py
  .claude/skills/renovate-eval/lib/check_ci.py
  .claude/skills/renovate-eval/lib/common.py
  .claude/skills/renovate-eval/lib/evaluator.py
  .claude/skills/renovate-eval/lib/fetch_pr_data.py
  .claude/skills/renovate-eval/lib/pr_status.py
  .claude/skills/renovate-eval/lib/render.py
  .claude/skills/renovate-eval/lib/validate.py
  .claude/skills/renovate-eval/prompts/auditor.md
  .claude/skills/renovate-eval/prompts/eval-data-schema.md
  .claude/skills/renovate-eval/prompts/evaluator.md
  .claude/skills/renovate-eval/prompts/report-format.md
  .claude/skills/renovate-eval/prompts/revision.md
  .claude/skills/renovate-eval/pyproject.toml
  .claude/skills/renovate-eval/renovate_eval.py
  .claude/skills/renovate-eval/tests/__init__.py
  .claude/skills/renovate-eval/tests/conftest.py
  .claude/skills/renovate-eval/tests/test_action.py
  .claude/skills/renovate-eval/tests/test_agent_runner.py
  .claude/skills/renovate-eval/tests/test_auditor.py
  .claude/skills/renovate-eval/tests/test_check_ci.py
  .claude/skills/renovate-eval/tests/test_common.py
  .claude/skills/renovate-eval/tests/test_evaluator.py
  .claude/skills/renovate-eval/tests/test_fetch_pr_data.py
  .claude/skills/renovate-eval/tests/test_pr_status.py
  .claude/skills/renovate-eval/tests/test_render.py
  .claude/skills/renovate-eval/tests/test_validate.py
  .claude/skills/renovate-eval/uv.lock
  .github/workflows/ci.yaml
  .github/workflows/renovate-eval.yaml
  .pre-commit-config.yaml
Due: none

Update Renovate version constraints
  .renovaterc
Due: none

Add UnPoller Helm deployment
  kubernetes/unpoller/Chart.yaml
  kubernetes/unpoller/externalsecret.yaml
  kubernetes/unpoller/helm/templates/deployment.yaml
  kubernetes/unpoller/helm/templates/unpoller-config-secret.yaml
  kubernetes/unpoller/kustomization.yaml
  kubernetes/unpoller/render
  kubernetes/unpoller/service.yaml
  kubernetes/unpoller/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Rename BedJet power plug
  esphome/eightsleep-power.yaml
  opentofu/esphome-hosts.tf
Due: esphome-hosts-check

Constrain RPi image Renovate tags
  .renovaterc
Due: none

Use reusable Renovate eval workflow
  .github/workflows/renovate-eval.yaml
Due: none

Use reusable Renovate eval workflow (#2469)
  .github/workflows/renovate-eval.yaml
Due: none

Add renovate eval Codex runners
  kubernetes/codex-runners/helm/dotfiles-autoscalingrunnerset.yaml
  kubernetes/codex-runners/helm/github-actions-autoscalingrunnerset.yaml
  kubernetes/codex-runners/helm/go-unifi-mcp-autoscalingrunnerset.yaml
  kubernetes/codex-runners/kustomization.yaml
  kubernetes/codex-runners/repos.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Keep renovate eval workflow on main
  .github/workflows/renovate-eval.yaml
  .renovaterc
Due: none

Add managed network bootstrap
  ansible/site.yaml
Due: ansible-lint

Detect SMART-capable disks before smartd
  ansible/roles/common/handlers/main.yaml
  ansible/roles/common/tasks/main.yaml
Due: ansible-lint
