Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

.pre-commit-config.yaml:

---
exclude: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^ansible/
  - id: check-added-large-files
    exclude: ^esphome/img/
  - id: check-merge-conflict

- repo: https://github.com/lyz-code/yamlfix
  rev: 1.19.0
  hooks:
  - id: yamlfix
    args: [-c, .yamlfix.toml]
    exclude: ^ansible/|service-blueprint\.template\.yaml$|kubernetes/hass/config/configuration\.yaml$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.37.1
  hooks:
  - id: yamllint
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    types_or: [json, markdown]

- repo: local
  hooks:
  - id: ansible-lint
    name: ansible-lint
    entry: scripts/ansible-lint-wrapper
    language: system
    files: ^ansible/.*$
    require_serial: true
  - id: format-kustomization
    name: format kustomization.yaml files
    entry: scripts/format-kustomization
    language: system
    files: ^kubernetes/.*/kustomization\.ya?ml$
    pass_filenames: true
  - id: kubeconform
    name: kubeconform manifest validation
    entry: kubernetes/scripts/kubeconform-wrapper
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
    exclude: (helm\.yaml|patch-.*\.yaml)$
  - id: ak-tool-generate
    name: generate authentik terraform configs
    entry: kubernetes/scripts/ak-tool generate
    language: system
    files: ^kubernetes/.*/.*\.(ya?ml)$
    pass_filenames: false
    always_run: false
  - id: hass-check-config
    name: validate home assistant config
    entry: scripts/hass-check-config
    language: system
    files: ^(kubernetes/hass/|scripts/hass-check-config)
    pass_filenames: false
  - id: kyverno-validate
    name: kyverno policy validation
    entry: kubernetes/scripts/kyverno-wrapper
    language: system
    pass_filenames: true
    files: ^kubernetes/.*\.(ya?ml)$

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.11.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.8
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.46.0
  hooks:
  - id: markdownlint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.104.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
  - id: terraform_tflint
  - id: terraform_providers_lock
    args:
    - --hook-config=--mode=always-regenerate-lockfile
    - --args=-platform=linux_amd64
    - --args=-platform=darwin_arm64

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.9
  hooks:
  - id: actionlint

- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 42.38.0
  hooks:
  - id: renovate-config-validator

bd sync: 2026-01-20 16:39:08
  .beads/beads.db
  .beads/issues.jsonl
Due: none

Remove infra-4ps comment from infra-3s7
  .beads/issues.jsonl
Due: none

Add EGO battery charger quarterly maintenance automation
  kubernetes/hass/config/kustomization.yaml
  kubernetes/hass/config/packages/ego_charger_maintenance.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Add mcp-cli for Home Assistant entity queries
  .claude/rules/integrations/home-assistant.md
  .claude/skills/mcp-cli/SKILL.md
  .envrc
  .mcp_servers.json
  flake.nix
Due: none

Add Birdfy low bird count Slack alert
  kubernetes/hass/config/kustomization.yaml
  kubernetes/hass/config/packages/birdfy.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Add k4 back to Ansible inventory
  ansible/inventory/default
Due: ansible-lint

bd sync: 2026-01-23 08:55:26
  .beads/beads.db
  .beads/beads.db-shm
  .beads/beads.db-wal
  .beads/issues.jsonl
Due: none

Fix INJECT_FACTS_AS_VARS deprecations and add CI tracking
  ansible/deprecation-allowlist.yaml
  ansible/group_vars/all/main.yaml
  ansible/group_vars/all/node_exporter.yaml
  ansible/roles/setup_upgrade/handlers/main.yaml
  ansible/scripts/check-deprecations
  ansible/scripts/docker-integration-test
Due: ansible-lint

Fix resticprofile INJECT_FACTS_AS_VARS deprecation
  ansible/deprecation-allowlist.yaml
  ansible/roles/resticprofile/tasks/install.yaml
  ansible/scripts/check-deprecations
Due: ansible-lint

Debug silent failure in issue triage post-results
  .github/workflows/issue-triage.yaml
Due: none

Update Renovate version constraints
  .renovaterc
Due: none

Fix issue triage post-results not posting comments
  .github/workflows/issue-triage.yaml
Due: none

Switch Ansible collections from Galaxy to Git
  .envrc
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/FILES.json
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/MANIFEST.json
  ansible/galaxy/collections/ansible_collections/community/proxmox/FILES.json
  ansible/galaxy/collections/ansible_collections/community/proxmox/MANIFEST.json
  ansible/requirements.yml
  scripts/ansible-lint-wrapper
Due: ansible-lint

Deploy Speakr audio transcription service
  kubernetes/speakr/deploy-speakr.yaml
  kubernetes/speakr/deploy-whisperx.yaml
  kubernetes/speakr/externalsecret-oidc.yaml
  kubernetes/speakr/externalsecret.yaml
  kubernetes/speakr/ingress.yaml
  kubernetes/speakr/kustomization.yaml
  kubernetes/speakr/namespace.yaml
  kubernetes/speakr/pvc-uploads.yaml
  kubernetes/speakr/pvc-whisperx-cache.yaml
  kubernetes/speakr/service-speakr.yaml
  kubernetes/speakr/service-whisperx.yaml
  kubernetes/speakr/speakr-postgres-cluster.yaml
  opentofu/modules/authentik/generated-speakr-oidc-1p.tf
  opentofu/modules/authentik/generated-speakr.tf
  opentofu/openai.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Build flake outputs on flake changes
  .github/workflows/flake-builds.yaml
Due: none

Refine flake build workflow
  .github/workflows/flake-builds.yaml
Due: none

Add flake package for CI test
  flake.nix
Due: none

Force local builds for verbose logs
  .github/workflows/flake-builds.yaml
Due: none

Revert nixpkgs lock bump
  flake.lock
Due: none

Deploy PinePods podcast manager
  kubernetes/pinepods/Chart.yaml
  kubernetes/pinepods/externalsecret.yaml
  kubernetes/pinepods/helm/pinepods/deployment.yaml
  kubernetes/pinepods/helm/pinepods/ingress.yaml
  kubernetes/pinepods/helm/pinepods/pvc.yaml
  kubernetes/pinepods/helm/pinepods/secret.yaml
  kubernetes/pinepods/helm/pinepods/service.yaml
  kubernetes/pinepods/helm/valkey/configmap.yaml
  kubernetes/pinepods/helm/valkey/headless-svc.yaml
  kubernetes/pinepods/helm/valkey/health-configmap.yaml
  kubernetes/pinepods/helm/valkey/networkpolicy.yaml
  kubernetes/pinepods/helm/valkey/primary/application.yaml
  kubernetes/pinepods/helm/valkey/primary/service.yaml
  kubernetes/pinepods/helm/valkey/primary/serviceaccount.yaml
  kubernetes/pinepods/helm/valkey/scripts-configmap.yaml
  kubernetes/pinepods/kustomization.yaml
  kubernetes/pinepods/namespace.yaml
  kubernetes/pinepods/postgres-cluster.yaml
  kubernetes/pinepods/pvc-downloads.yaml
  kubernetes/pinepods/render
  kubernetes/pinepods/values.yaml
  opentofu/modules/authentik/generated-pinepods-oidc-1p.tf
  opentofu/modules/authentik/generated-pinepods.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Gate flake builds on flake changes
  .github/workflows/flake-builds.yaml
Due: none

Allow manual flake builds
  .github/workflows/flake-builds.yaml
Due: none

Fetch full history for flake changes
  .github/workflows/flake-builds.yaml
Due: none
