Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

.pre-commit-config.yaml:

---
exclude: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^ansible/
  - id: check-added-large-files
    exclude: ^esphome/img/
  - id: check-merge-conflict

- repo: https://github.com/lyz-code/yamlfix
  rev: 1.19.1
  hooks:
  - id: yamlfix
    args: [-c, .yamlfix.toml]
    exclude: ^ansible/|service-blueprint\.template\.yaml$|kubernetes/hass/config/configuration\.yaml$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.38.0
  hooks:
  - id: yamllint
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    types_or: [json, markdown]

- repo: local
  hooks:
  - id: block-secrets-file
    name: block .secrets.age file
    language: fail
    entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate
    files: ^\.secrets\.age$
  - id: ansible-lint
    name: ansible-lint
    entry: scripts/ansible-lint-wrapper
    language: system
    files: ^ansible/.*$
    require_serial: true
  - id: format-kustomization
    name: format kustomization.yaml files
    entry: scripts/format-kustomization
    language: system
    files: ^kubernetes/.*/kustomization\.ya?ml$
    pass_filenames: true
  - id: kubeconform
    name: kubeconform manifest validation
    entry: kubernetes/scripts/kubeconform-wrapper
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
    exclude: (helm\.yaml|patch-.*\.yaml)$
  - id: ak-tool-generate
    name: generate authentik terraform configs
    entry: kubernetes/scripts/ak-tool generate
    language: system
    files: ^kubernetes/.*/.*\.(ya?ml)$
    pass_filenames: false
    always_run: false
  - id: hass-check-config
    name: validate home assistant config
    entry: scripts/hass-check-config
    language: system
    files: ^(kubernetes/hass/|scripts/hass-check-config)
    pass_filenames: false
  - id: kyverno-validate
    name: kyverno policy validation
    entry: kubernetes/scripts/kyverno-wrapper
    language: system
    pass_filenames: true
    files: ^kubernetes/.*\.(ya?ml)$
  - id: esphome-hosts-check
    name: check ESPHome hosts terraform is up to date
    entry: scripts/gen-esphome-hosts --check
    language: python
    additional_dependencies: [pyyaml]
    files: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$
    pass_filenames: false
  - id: beads-flush
    name: beads pre-commit flush
    entry: bash -c '[ "$GITHUB_ACTIONS" = "true" ] && exit 0; [ "$(git rev-parse --abbrev-ref
      HEAD)" != "beads-sync" ] && exit 0; bd hooks run pre-commit'
    language: system
    pass_filenames: false
    always_run: true
    stages: [pre-commit]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.11.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.47.0
  hooks:
  - id: markdownlint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.105.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
  - id: terraform_tflint
  - id: terraform_providers_lock
    args:
    - --hook-config=--mode=always-regenerate-lockfile
    - --args=-platform=linux_amd64
    - --args=-platform=darwin_arm64

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.10
  hooks:
  - id: actionlint

- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 42.95.1
  hooks:
  - id: renovate-config-validator

Handle qBittorrent 5.2 cleanup auth
  kubernetes/cross-seed/cleanup.js
Due: none

Remove stale Grafana RBAC resources
  kubernetes/grafana/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Increase Frank compaction reserve
  kubernetes/frank/openclaw.json
Due: none

Update Renovate version constraints
  .renovaterc
Due: none

Deploy MinusPod protected feed
  kubernetes/minuspod/deploy.yaml
  kubernetes/minuspod/externalsecret.yaml
  kubernetes/minuspod/ingress.yaml
  kubernetes/minuspod/kustomization.yaml
  kubernetes/minuspod/namespace.yaml
  kubernetes/minuspod/password-generators.yaml
  kubernetes/minuspod/pvc.yaml
  kubernetes/minuspod/service.yaml
  opentofu/cloudflare-minuspod.tf
  opentofu/cloudflare-tunnel.tf
  opentofu/modules/authentik/generated-minuspod.tf
  opentofu/modules/authentik/generated-outpost.tf
  opentofu/workers/minuspod-feed-basic-auth.js
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Handle Tailscale provider split DNS validation
  opentofu/tailscale.tf
Due: none

Retire Frank and promote Felix
  kubernetes/descheduler/helm/templates/configmap.yaml
  kubernetes/descheduler/values.yaml
  kubernetes/felix/api-entrypoint.sh
  kubernetes/felix/deployment.yaml
  kubernetes/felix/externalsecret.yaml
  kubernetes/felix/ingress-dashboard.yaml
  kubernetes/felix/ingress-www.yaml
  kubernetes/felix/ingress.yaml
  kubernetes/felix/kustomization.yaml
  kubernetes/felix/namespace.yaml
  kubernetes/felix/nginx.conf
  kubernetes/felix/postgres.yaml
  kubernetes/felix/pvc.yaml
  kubernetes/felix/rbac.yaml
  kubernetes/felix/service-dashboard.yaml
  kubernetes/felix/service-www.yaml
  kubernetes/felix/service.yaml
  kubernetes/frank/deployment.yaml
  kubernetes/frank/ingress-syncthing.yaml
  kubernetes/frank/ingress-ui.yaml
  kubernetes/frank/openclaw.json
  kubernetes/frank/pvc-syncthing.yaml
  kubernetes/frank/service-syncthing-gui.yaml
  kubernetes/frank/service-syncthing.yaml
  kubernetes/frank/service.yaml
  opentofu/modules/authentik/generated-felix-dashboard-oidc-1p.tf
  opentofu/modules/authentik/generated-felix-dashboard.tf
  opentofu/modules/authentik/generated-felix-www.tf
  opentofu/modules/authentik/generated-frank-syncthing.tf
  opentofu/modules/authentik/generated-frank-ui.tf
  opentofu/modules/authentik/generated-frank-www.tf
  opentofu/modules/authentik/generated-outpost.tf
  opentofu/slack/README.md
  opentofu/slack/apps.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Retire Frank and promote Felix (#2356)
  kubernetes/descheduler/helm/templates/configmap.yaml
  kubernetes/descheduler/helm/templates/cronjob.yaml
  kubernetes/descheduler/values.yaml
  kubernetes/felix/api-entrypoint.sh
  kubernetes/felix/deployment.yaml
  kubernetes/felix/externalsecret.yaml
  kubernetes/felix/ingress-dashboard.yaml
  kubernetes/felix/ingress-www.yaml
  kubernetes/felix/ingress.yaml
  kubernetes/felix/kustomization.yaml
  kubernetes/felix/namespace.yaml
  kubernetes/felix/nginx.conf
  kubernetes/felix/postgres.yaml
  kubernetes/felix/pvc.yaml
  kubernetes/felix/rbac.yaml
  kubernetes/felix/service-dashboard.yaml
  kubernetes/felix/service-www.yaml
  kubernetes/felix/service.yaml
  kubernetes/frank/deployment.yaml
  kubernetes/frank/ingress-syncthing.yaml
  kubernetes/frank/ingress-ui.yaml
  kubernetes/frank/openclaw.json
  kubernetes/frank/pvc-syncthing.yaml
  kubernetes/frank/service-syncthing-gui.yaml
  kubernetes/frank/service-syncthing.yaml
  kubernetes/frank/service.yaml
  opentofu/modules/authentik/generated-felix-dashboard-oidc-1p.tf
  opentofu/modules/authentik/generated-felix-dashboard.tf
  opentofu/modules/authentik/generated-felix-www.tf
  opentofu/modules/authentik/generated-frank-syncthing.tf
  opentofu/modules/authentik/generated-frank-ui.tf
  opentofu/modules/authentik/generated-frank-www.tf
  opentofu/modules/authentik/generated-outpost.tf
  opentofu/slack/README.md
  opentofu/slack/apps.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Update Proxmox provider to 0.107
  opentofu/.terraform.lock.hcl
  opentofu/main.tf
  opentofu/proxmox-pve-exporter.tf
  opentofu/proxmox.tf
Due: none

Fix Traefik chart CRD reference
  kubernetes/traefik/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Update MetalLB metrics scraping
  kubernetes/metallb/helm/charts/frr-k8s/charts/crds/templates/frrk8s.metallb.io_bgpsessionstates.yaml
  kubernetes/metallb/helm/charts/frr-k8s/charts/crds/templates/frrk8s.metallb.io_frrconfigurations.yaml
  kubernetes/metallb/helm/charts/frr-k8s/charts/crds/templates/frrk8s.metallb.io_frrk8sconfigurations.yaml
  kubernetes/metallb/helm/charts/frr-k8s/charts/crds/templates/frrk8s.metallb.io_frrnodestates.yaml
  kubernetes/metallb/helm/charts/frr-k8s/templates/controller.yaml
  kubernetes/metallb/helm/charts/frr-k8s/templates/rbac.yaml
  kubernetes/metallb/helm/charts/frr-k8s/templates/service-accounts.yaml
  kubernetes/metallb/helm/charts/frr-k8s/templates/status-cleaner.yaml
  kubernetes/metallb/helm/charts/frr-k8s/templates/webhooks.yaml
  kubernetes/metallb/helm/templates/controller.yaml
  kubernetes/metallb/helm/templates/rbac.yaml
  kubernetes/metallb/helm/templates/speaker.yaml
  kubernetes/metallb/values.yaml
  kubernetes/prometheus/config/prometheus.yml
Due: kubeconform, ak-tool-generate, kyverno-validate

Narrow Renovate Monday schedule
  .renovaterc
Due: none

Harden Semaphore task monitoring
  kubernetes/semaphore/scripts/lib/semaphore.py
  scripts/lib/semaphore.py
Due: none

Add AtomS3R KMeterISO temp probe
  esphome/common/device-classes/m5stack_atoms3r_kmeteriso.yaml
  esphome/temp-probe3.yaml
  opentofu/esphome-hosts.tf
Due: esphome-hosts-check

Add tomato plant soil monitoring
  kubernetes/hass/config/configuration.yaml
  kubernetes/hass/config/packages/bhyve_valve_metrics.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Update Renovate version constraints (#2390)
  .renovaterc
Due: none

Update ESPHome to 2026.4.5
  esphome/common/device-classes/crowpanel-p4-10.yaml
  esphome/scripts/esphome
Due: none

Update Ansible deprecation allowlist
  ansible/deprecation-allowlist.yaml
Due: ansible-lint

Tune xtal node exporter alerting
  kubernetes/prometheus/config/rules.yml
Due: kubeconform, ak-tool-generate, kyverno-validate

Fix Matter Thread routing on pantrypi
  ansible/roles/matter/defaults/main.yaml
  ansible/roles/matter/tasks/main.yaml
  ansible/roles/matter/templates/docker-compose.yaml.j2
Due: ansible-lint

Replace temp probes with AtomS3 Lite units
  esphome/common/device-classes/m5stack_atoms3lite_kmeteriso.yaml
  esphome/temp-probe1.yaml
  esphome/temp-probe2.yaml
  opentofu/esphome-hosts.tf
Due: esphome-hosts-check

Calibrate renovate eval labels
  .claude/renovate-eval.md
  .claude/skills/renovate-eval/README.md
  .claude/skills/renovate-eval/prompts/auditor.md
  .claude/skills/renovate-eval/prompts/eval-data-schema.md
  .claude/skills/renovate-eval/prompts/evaluator.md
  .claude/skills/renovate-eval/prompts/report-format.md
Due: none
