Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

.pre-commit-config.yaml:

---
exclude: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^ansible/
  - id: check-added-large-files
    exclude: ^esphome/img/
  - id: check-merge-conflict

- repo: https://github.com/lyz-code/yamlfix
  rev: 1.19.1
  hooks:
  - id: yamlfix
    args: [-c, .yamlfix.toml]
    exclude: ^ansible/|service-blueprint\.template\.yaml$|kubernetes/hass/config/configuration\.yaml$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.38.0
  hooks:
  - id: yamllint
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    types_or: [json, markdown]

- repo: local
  hooks:
  - id: block-secrets-file
    name: block .secrets.age file
    language: fail
    entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate
    files: ^\.secrets\.age$
  - id: ansible-lint
    name: ansible-lint
    entry: scripts/ansible-lint-wrapper
    language: system
    files: ^ansible/.*$
    require_serial: true
  - id: format-kustomization
    name: format kustomization.yaml files
    entry: scripts/format-kustomization
    language: system
    files: ^kubernetes/.*/kustomization\.ya?ml$
    pass_filenames: true
  - id: kubeconform
    name: kubeconform manifest validation
    entry: kubernetes/scripts/kubeconform-wrapper
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
    exclude: (helm\.yaml|patch-.*\.yaml)$
  - id: ak-tool-generate
    name: generate authentik terraform configs
    entry: kubernetes/scripts/ak-tool generate
    language: system
    files: ^kubernetes/.*/.*\.(ya?ml)$
    pass_filenames: false
    always_run: false
  - id: hass-check-config
    name: validate home assistant config
    entry: scripts/hass-check-config
    language: system
    files: ^(kubernetes/hass/|scripts/hass-check-config)
    pass_filenames: false
  - id: kyverno-validate
    name: kyverno policy validation
    entry: kubernetes/scripts/kyverno-wrapper
    language: system
    pass_filenames: true
    files: ^kubernetes/.*\.(ya?ml)$
  - id: esphome-hosts-check
    name: check ESPHome hosts terraform is up to date
    entry: scripts/gen-esphome-hosts --check
    language: python
    additional_dependencies: [pyyaml]
    files: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$
    pass_filenames: false
  - id: beads-flush
    name: beads pre-commit flush
    entry: bash -c '[ "$GITHUB_ACTIONS" = "true" ] && exit 0; [ "$(git rev-parse --abbrev-ref
      HEAD)" != "beads-sync" ] && exit 0; bd hooks run pre-commit'
    language: system
    pass_filenames: false
    always_run: true
    stages: [pre-commit]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.11.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.47.0
  hooks:
  - id: markdownlint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.105.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
  - id: terraform_tflint
  - id: terraform_providers_lock
    args:
    - --hook-config=--mode=always-regenerate-lockfile
    - --args=-platform=linux_amd64
    - --args=-platform=darwin_arm64

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.10
  hooks:
  - id: actionlint

- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 42.95.1
  hooks:
  - id: renovate-config-validator

Skip NFS CSI volumes in Velero backups
  .agents/rules/backups.md
  kubernetes/velero/volume-policy-configmap.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Skip NFS CSI volumes in Velero backups (#3036)
  .agents/rules/backups.md
  kubernetes/velero/volume-policy-configmap.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Expose Felix API key in local direnv
  .secrets.tmpl
Due: none

Pin MinusPod 2.97.14 for evaluation
  kubernetes/minuspod/deploy.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Let Renovate propose Kubernetes version updates
  .renovaterc
  ansible/group_vars/kubernetes.yaml
  ansible/roles/kubeadm/defaults/main.yaml
  ansible/roles/kubeadm/tasks/common.yaml
  docs/kubernetes-upgrade-playbook.md
  scripts/renovate-dryrun
  scripts/update-renovate-versions.py
Due: ansible-lint

Give Kubernetes Renovate PRs informative titles
  .renovaterc
Due: none

Add Ecowitt WN31 test sensor
  kubernetes/hass/config/packages/rtl433_garden_sensors.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Evaluate infra Renovate PRs with Claude
  .github/workflows/renovate-eval.yaml
  opentofu/github-repos.tf
Due: none

Upgrade Kubernetes nodes in order when versions change
  .agents/rules/ansible/semaphore.md
  ansible/group_vars/kubernetes.yaml
  ansible/host_vars/k2.yaml
  ansible/kubernetes.yaml
  ansible/roles/kubeadm/defaults/main.yaml
  ansible/roles/kubeadm/tasks/common.yaml
  ansible/roles/kubeadm/tasks/packages.yaml
  ansible/roles/kubeadm/tasks/preflight.yaml
  ansible/roles/kubeadm/tasks/upgrade-control-plane.yaml
  ansible/roles/kubeadm/tasks/upgrade-cordon.yaml
  ansible/roles/kubeadm/tasks/upgrade-node-state.yaml
  ansible/roles/kubeadm/tasks/upgrade-pods-before.yaml
  ansible/roles/kubeadm/tasks/upgrade-uncordon.yaml
  ansible/roles/kubeadm/tasks/upgrade-verify.yaml
  ansible/roles/kubeadm/tasks/upgrade-wait.yaml
  ansible/roles/kubeadm/tasks/upgrade-worker.yaml
  ansible/site.yaml
  docs/kubernetes-upgrade-playbook.md
Due: ansible-lint

Upgrade Kubernetes to 1.34.10
  ansible/group_vars/kubernetes.yaml
Due: ansible-lint

Finish the drain path for minor Kubernetes upgrades
  ansible/roles/kubeadm/defaults/main.yaml
  ansible/roles/kubeadm/tasks/upgrade-cordon.yaml
  ansible/roles/kubeadm/tasks/upgrade-pods-before.yaml
  ansible/roles/kubeadm/tasks/upgrade-uncordon.yaml
  ansible/roles/kubeadm/tasks/upgrade-wait.yaml
  docs/kubernetes-upgrade-playbook.md
Due: ansible-lint

Fail Ansible change detection when git diff fails
  scripts/ansible-detect-changes
Due: none

Tell renovate-eval how Kubernetes updates work
  .renovate-eval.md
Due: none

Put containerd and democratic-csi images under Renovate
  .renovaterc
  ansible/group_vars/all/docker.yaml
  ansible/group_vars/kubernetes.yaml
  kubernetes/democratic-csi/kustomization.yaml
Due: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Make Renovate's release-age check timestamp-optional
  .renovate-eval.md
  .renovaterc
Due: none

Keep containerd on LTS releases
  .github/workflows/update-renovate-versions.yaml
  .renovaterc
  scripts/update-renovate-versions.py
Due: none

Fix upgrade waits that stalled the 1.35 rollout
  ansible/roles/kubeadm/defaults/main.yaml
  ansible/roles/kubeadm/tasks/upgrade-pods-before.yaml
  ansible/roles/kubeadm/tasks/upgrade-uncordon.yaml
  docs/kubernetes-upgrade-playbook.md
  scripts/rolling-node-reboot.sh
Due: ansible-lint

Drop upstream resource settings from multus
  kubernetes/0-multus/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Document leaving resource requests and limits to VPA
  .agents/rules/kubernetes/resources.md
  AGENTS.md
Due: none

Skip felix's volume chown when its root already matches
  kubernetes/felix/deployment.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Fix upgrade waits that stalled the 1.35 rollout
  ansible/roles/kubeadm/defaults/main.yaml
  ansible/roles/kubeadm/tasks/upgrade-cordon.yaml
  ansible/roles/kubeadm/tasks/upgrade-pods-before.yaml
  ansible/roles/kubeadm/tasks/upgrade-uncordon.yaml
  docs/kubernetes-upgrade-playbook.md
  scripts/rolling-node-reboot.sh
Due: ansible-lint

Document leaving CPU and memory requests to VPA
  .agents/rules/kubernetes/resources.md
  AGENTS.md
Due: none
