Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

Add Loki/logcli config and fix healthchecks 1Password path
  .envrc
Due: none

Add infra1 host as replacement for infrapi
  ansible/host_vars/infra1.yaml
  ansible/inventory/default
  opentofu/locals.tf
Due: ansible-lint

Migrate to Debian 13 (Trixie) base images
  .renovaterc
  Dockerfile.ansible
  kubernetes/ara/ara-postgres-cluster.yaml
  kubernetes/authentik/authentik-postgres-cluster.yaml
  kubernetes/crowdsec/postgres-cluster.yaml
  kubernetes/dawarich/dawarich-postgres-cluster.yaml
  kubernetes/hass/hass-postgres-cluster.yaml
  kubernetes/homebox/homebox-postgres-cluster.yaml
  kubernetes/karakeep/postgres-cluster.yaml
  kubernetes/n8n/n8n-postgres-cluster.yaml
  kubernetes/openarchiver/postgres-cluster.yaml
  kubernetes/rreading-glasses/postgres-cluster.yaml
  kubernetes/semaphore/semaphore-postgres-cluster.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Add SMTP relay and self-hosted healthchecks
  .envrc
  ansible/host_vars/infra1.yaml
  ansible/inventory/default
  kubernetes/alertmanager/config.template.yaml
  kubernetes/alertmanager/deploy.yaml
  kubernetes/alertmanager/ingress.yaml
  kubernetes/healthchecks/Chart.yaml
  kubernetes/healthchecks/cronjob-canary-ping.yaml
  kubernetes/healthchecks/externalsecret.yaml
  kubernetes/healthchecks/helm/healthchecks/common.yaml
  kubernetes/healthchecks/kustomization.yaml
  kubernetes/healthchecks/namespace.yaml
  kubernetes/healthchecks/postgres-cluster.yaml
  kubernetes/healthchecks/render
  kubernetes/healthchecks/values.yaml
  kubernetes/scripts/ak-tool
  kubernetes/smtp-relay/Chart.yaml
  kubernetes/smtp-relay/certificate.yaml
  kubernetes/smtp-relay/externalsecret.yaml
  kubernetes/smtp-relay/helm/configmap.yaml
  kubernetes/smtp-relay/helm/service.yaml
  kubernetes/smtp-relay/helm/serviceaccount.yaml
  kubernetes/smtp-relay/helm/statefulset.yaml
  kubernetes/smtp-relay/kustomization.yaml
  kubernetes/smtp-relay/namespace.yaml
  kubernetes/smtp-relay/render
  kubernetes/smtp-relay/values.yaml
  opentofu/.terraform.lock.hcl
  opentofu/healthchecks.tf
  opentofu/locals.tf
  opentofu/main.tf
  opentofu/modules/authentik/generated-alertmanager.tf
  opentofu/modules/authentik/generated-healthchecks.tf
  opentofu/modules/authentik/generated-outpost.tf
  opentofu/secrets.tf
Due: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add SMTP relay and self-hosted healthchecks (#857)
  .envrc
  ansible/host_vars/infra1.yaml
  ansible/inventory/default
  kubernetes/alertmanager/config.template.yaml
  kubernetes/alertmanager/deploy.yaml
  kubernetes/alertmanager/ingress.yaml
  kubernetes/healthchecks/Chart.lock
  kubernetes/healthchecks/Chart.yaml
  kubernetes/healthchecks/charts/healthchecks-0.17.0.tgz
  kubernetes/healthchecks/cronjob-canary-ping.yaml
  kubernetes/healthchecks/externalsecret.yaml
  kubernetes/healthchecks/helm/healthchecks/common.yaml
  kubernetes/healthchecks/kustomization.yaml
  kubernetes/healthchecks/namespace.yaml
  kubernetes/healthchecks/postgres-cluster.yaml
  kubernetes/healthchecks/render
  kubernetes/healthchecks/values.yaml
  kubernetes/scripts/ak-tool
  kubernetes/smtp-relay/Chart.yaml
  kubernetes/smtp-relay/certificate.yaml
  kubernetes/smtp-relay/externalsecret.yaml
  kubernetes/smtp-relay/helm/configmap.yaml
  kubernetes/smtp-relay/helm/service.yaml
  kubernetes/smtp-relay/helm/serviceaccount.yaml
  kubernetes/smtp-relay/helm/statefulset.yaml
  kubernetes/smtp-relay/kustomization.yaml
  kubernetes/smtp-relay/namespace.yaml
  kubernetes/smtp-relay/render
  kubernetes/smtp-relay/values.yaml
  opentofu/.terraform.lock.hcl
  opentofu/healthchecks.tf
  opentofu/locals.tf
  opentofu/main.tf
  opentofu/modules/authentik/generated-alertmanager.tf
  opentofu/modules/authentik/generated-healthchecks.tf
  opentofu/modules/authentik/generated-outpost.tf
  opentofu/secrets.tf
Due: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add diagnostics for systemd container startup debugging
  ansible/scripts/docker-integration-test
Due: ansible-lint

Fix systemd status detection and add failed units diagnostic
  ansible/scripts/docker-integration-test
Due: ansible-lint

Add /tmp diagnostics to investigate missing vault password file
  ansible/scripts/docker-integration-test
Due: ansible-lint

Move vault password mount from /tmp to /run/secrets
  ansible/scripts/docker-integration-test
Due: ansible-lint

Move vault password mount to /var/lib
  ansible/scripts/docker-integration-test
Due: ansible-lint

Add maxAllowed memory caps to VPA request recommendations
  kubernetes/qbittorrent/deploy.yaml
  kubernetes/restic/shared/namespace.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Add maxAllowed memory caps to VPA request recommendations (#868)
  kubernetes/qbittorrent/deploy.yaml
  kubernetes/restic/shared/namespace.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Restore infra1 host to Ansible inventory
  ansible/host_vars/infra1.yaml
  ansible/inventory/default
Due: ansible-lint

Restore infra1 host to Ansible inventory (#869)
  ansible/host_vars/infra1.yaml
  ansible/inventory/default
Due: ansible-lint

Migrate healthchecks from SaaS to self-hosted
  ansible/group_vars/all/restic.yaml
  kubernetes/got-your-back/cronjob-full.yaml
  kubernetes/got-your-back/cronjob-incremental.yaml
  kubernetes/got-your-back/externalsecret.yaml
  kubernetes/got-your-back/run
  kubernetes/restic/cronjob-nfs.yaml.j2
  kubernetes/restic/cronjobs/cronjob-b2-check.yaml
  kubernetes/restic/cronjobs/cronjob-flux-check.yaml
  kubernetes/restic/cronjobs/cronjob-flux-forget.yaml
  kubernetes/restic/cronjobs/cronjob-main-check.yaml
  kubernetes/restic/cronjobs/cronjob-main-forget.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-check.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-forget.yaml
  kubernetes/restic/cronjobs/kustomization.yaml
  kubernetes/restic/kustomization.yaml
  kubernetes/restic/maintenance-wrapper.sh
  kubernetes/restic/profiles.yaml
  kubernetes/restic/render-and-sync
  kubernetes/restic/shared/externalsecret.yaml
  kubernetes/rsnapshot/cronjob-daily.yaml
  kubernetes/rsnapshot/cronjob-monthly.yaml
  kubernetes/rsnapshot/cronjob-weekly.yaml
  kubernetes/rsnapshot/externalsecret.yaml
  kubernetes/velero/healthcheck-externalsecret.yaml
  kubernetes/velero/healthcheck.sh
  opentofu/healthchecks.tf
Due: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Migrate healthchecks from SaaS to self-hosted (#870)
  ansible/group_vars/all/restic.yaml
  kubernetes/got-your-back/cronjob-full.yaml
  kubernetes/got-your-back/cronjob-incremental.yaml
  kubernetes/got-your-back/externalsecret.yaml
  kubernetes/got-your-back/run
  kubernetes/restic/cronjob-nfs.yaml.j2
  kubernetes/restic/cronjobs/cronjob-b2-check.yaml
  kubernetes/restic/cronjobs/cronjob-flux-check.yaml
  kubernetes/restic/cronjobs/cronjob-flux-forget.yaml
  kubernetes/restic/cronjobs/cronjob-main-check.yaml
  kubernetes/restic/cronjobs/cronjob-main-forget.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-check.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-forget.yaml
  kubernetes/restic/cronjobs/kustomization.yaml
  kubernetes/restic/kustomization.yaml
  kubernetes/restic/maintenance-wrapper.sh
  kubernetes/restic/profiles.yaml
  kubernetes/restic/render-and-sync
  kubernetes/restic/shared/externalsecret.yaml
  kubernetes/rsnapshot/cronjob-daily.yaml
  kubernetes/rsnapshot/cronjob-monthly.yaml
  kubernetes/rsnapshot/cronjob-weekly.yaml
  kubernetes/rsnapshot/externalsecret.yaml
  kubernetes/velero/healthcheck-externalsecret.yaml
  kubernetes/velero/healthcheck.sh
  opentofu/healthchecks.tf
Due: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add Authorization header to basic-auth Authentik component
  kubernetes/components/authentik/kustomization.yaml
  scripts/format-kustomization
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add Authorization header to basic-auth Authentik component (#876)
  kubernetes/components/authentik/kustomization.yaml
  scripts/format-kustomization
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Decommission infrapi, migrate services to infra1
  ansible/host_vars/infra1.yaml
  ansible/host_vars/infrapi.yaml
  ansible/inventory/default
  ansible/roles/common/vars/main.yaml
  ansible/roles/nut/tasks/main.yaml
  ansible/roles/os-install/files/boot.ipxe
  ansible/roles/os-install/files/dnsmasq.conf
  ansible/roles/os-install/files/preseed.trixie.cfg
  ansible/site.yaml
  kubernetes/smokeping-prober/config.yaml
  opentofu/locals.tf
  opentofu/modules/dns/oneill.tf
Due: ansible-lint, kubeconform, ak-tool-generate, kyverno-validate

Decommission infrapi, migrate services to infra1 (#877)
  ansible/host_vars/infra1.yaml
  ansible/host_vars/infrapi.yaml
  ansible/inventory/default
  ansible/roles/common/vars/main.yaml
  ansible/roles/nut/tasks/main.yaml
  ansible/roles/os-install/files/boot.ipxe
  ansible/roles/os-install/files/dnsmasq.conf
  ansible/roles/os-install/files/preseed.trixie.cfg
  ansible/site.yaml
  kubernetes/smokeping-prober/config.yaml
  opentofu/locals.tf
  opentofu/modules/dns/oneill.tf
Due: ansible-lint, kubeconform, ak-tool-generate, kyverno-validate

Add weekly cache cleanup to nix dev shell
  flake.nix
Due: none

Remove sabnzbd deployment (unused)
  kubernetes/sabnzbd/deploy.yaml
  kubernetes/sabnzbd/ingress.yaml
  kubernetes/sabnzbd/kustomization.yaml
  kubernetes/sabnzbd/pvc.yaml
  kubernetes/sabnzbd/service.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add Paperless-ngx deployment with OIDC authentication
  kubernetes/paperless-ngx/Chart.yaml
  kubernetes/paperless-ngx/configmap-rclone.yaml
  kubernetes/paperless-ngx/configmap-sync-script.yaml
  kubernetes/paperless-ngx/externalsecret-oidc.yaml
  kubernetes/paperless-ngx/externalsecret-rclone.yaml
  kubernetes/paperless-ngx/externalsecret.yaml
  kubernetes/paperless-ngx/gotenberg-deployment.yaml
  kubernetes/paperless-ngx/helm/paperless-ngx/common.yaml
  kubernetes/paperless-ngx/helm/valkey/scripts.yaml
  kubernetes/paperless-ngx/helm/valkey/service-internal.yaml
  kubernetes/paperless-ngx/helm/valkey/services.yaml
  kubernetes/paperless-ngx/helm/valkey/statefulset.yaml
  kubernetes/paperless-ngx/kustomization.yaml
  kubernetes/paperless-ngx/namespace.yaml
  kubernetes/paperless-ngx/paperless-postgres-cluster.yaml
  kubernetes/paperless-ngx/patch-gdrive-sidecar.yaml
  kubernetes/paperless-ngx/pvc-data.yaml
  kubernetes/paperless-ngx/pvc-export.yaml
  kubernetes/paperless-ngx/pvc-valkey.yaml
  kubernetes/paperless-ngx/render
  kubernetes/paperless-ngx/tika-deployment.yaml
  kubernetes/paperless-ngx/valkey-values.yaml
  kubernetes/paperless-ngx/values.yaml
  opentofu/modules/authentik/generated-outpost.tf
  opentofu/modules/authentik/generated-paperless-ngx-oidc-1p.tf
  opentofu/modules/authentik/generated-paperless-ngx.tf
  opentofu/modules/authentik/generated-sabnzbd.tf
  scripts/format-kustomization
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Pin ARA to older image to avoid broken migration
  kubernetes/ara/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Remove explicit cpu.units from VMs
  opentofu/proxmox.tf
Due: none

restic: remove init containers, use inline UUID generation
  kubernetes/restic/cronjob-nfs.yaml.j2
  kubernetes/restic/cronjobs/cronjob-b2-check.yaml
  kubernetes/restic/cronjobs/cronjob-b2-forget.yaml
  kubernetes/restic/cronjobs/cronjob-b2.yaml
  kubernetes/restic/cronjobs/cronjob-flux-check.yaml
  kubernetes/restic/cronjobs/cronjob-flux-forget.yaml
  kubernetes/restic/cronjobs/cronjob-main-check.yaml
  kubernetes/restic/cronjobs/cronjob-main-copy.yaml
  kubernetes/restic/cronjobs/cronjob-main-forget.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-check.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-forget.yaml
  kubernetes/restic/kustomization.yaml
  kubernetes/restic/profiles.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

restic: add xtal backup copy to B2
  kubernetes/restic/cronjobs/cronjob-xtal-copy.yaml
  kubernetes/restic/cronjobs/kustomization.yaml
  kubernetes/restic/profiles.yaml
  opentofu/healthchecks.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Path conditions:
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
