Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

Standardize docker_compose_v2 module usage across roles
  ansible/host_vars/infra1.yaml
  ansible/roles/nut/handlers/main.yaml
  ansible/roles/nut/tasks/webgui.yaml
  ansible/roles/os-install/handlers/main.yml
  ansible/roles/os-install/tasks/main.yaml
  ansible/roles/rtl433/handlers/main.yaml
  ansible/roles/rtl433/tasks/main.yaml
  ansible/roles/traefik/tasks/main.yml
Due: ansible-lint

Add Z-Wave JS and Zigbee2MQTT ansible roles for pantrypi
  .renovaterc
  ansible/inventory/default
  ansible/roles/rtl433/defaults/main.yaml
  ansible/roles/traefik/files/docker-compose.yml
  ansible/roles/zigbee2mqtt/defaults/main.yaml
  ansible/roles/zigbee2mqtt/handlers/main.yaml
  ansible/roles/zigbee2mqtt/meta/main.yaml
  ansible/roles/zigbee2mqtt/tasks/main.yaml
  ansible/roles/zigbee2mqtt/templates/docker-compose.yaml.j2
  ansible/roles/zwavejs/defaults/main.yaml
  ansible/roles/zwavejs/handlers/main.yaml
  ansible/roles/zwavejs/meta/main.yaml
  ansible/roles/zwavejs/tasks/main.yaml
  ansible/roles/zwavejs/templates/docker-compose.yaml.j2
  ansible/site.yaml
  kubernetes/homepage/services.yaml
  kubernetes/smokeping-prober/config.yaml
  opentofu/locals.tf
  opentofu/modules/dns/oneill.tf
Due: ansible-lint, kubeconform, ak-tool-generate, kyverno-validate

Migrate from zwavejs2mqtt to zwave-js-ui Docker image
  .renovaterc
  ansible/roles/zwavejs/templates/docker-compose.yaml.j2
Due: ansible-lint

Add digest pinning support to ansible role regex managers
  .renovaterc
Due: none

Enable GPU workloads for Plex
  .renovaterc
  ansible/group_vars/kubernetes.yaml
  ansible/roles/kubeadm/handlers/main.yaml
  ansible/roles/kubeadm/tasks/nvidia.yaml
  kubernetes/nvidia-device-plugin/kustomization.yaml
  kubernetes/nvidia-device-plugin/priorityclass.yaml
  kubernetes/plexmediaserver/deploy.yaml
  kubernetes/plexmediaserver/kustomization.yaml
  kubernetes/plexmediaserver/pvc.yaml
  opentofu/proxmox.tf
Due: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Use /log endpoint for resticprofile failures
  ansible/group_vars/all/restic.yaml
  ansible/roles/resticprofile/files/body-failure.txt
  ansible/roles/resticprofile/files/body-start.txt
  ansible/roles/resticprofile/files/body-success.txt
  ansible/roles/resticprofile/tasks/configure-client.yaml
  kubernetes/restic/body-failure.txt
  kubernetes/restic/body-start.txt
  kubernetes/restic/body-success.txt
  kubernetes/restic/kustomization.yaml
  kubernetes/restic/profiles.yaml
Due: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Disable memory ballooning on Kubernetes VMs
  ansible/host_vars/p2.yaml
  ansible/host_vars/p3.yaml
  ansible/host_vars/p4.yaml
  ansible/host_vars/p9.yaml
  opentofu/proxmox.tf
Due: ansible-lint

Enable NVIDIA GPU for Immich ML
  kubernetes/immich/helm/immich/machine-learning.yaml
  kubernetes/immich/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Fix ARA PostgreSQL migration issue
  kubernetes/ara/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Reorganize CLAUDE.md into modular .claude/rules/ structure
  .claude/rules/ansible/usage.md
  .claude/rules/integrations/home-assistant.md
  .claude/rules/kubernetes/deployment-pattern.md
  .claude/rules/kubernetes/external-secrets.md
  .claude/rules/kubernetes/helm-rendering.md
  .claude/rules/opentofu/usage.md
  .claude/rules/overview.md
  .claude/rules/tooling/authentik.md
  .claude/rules/tooling/ci-cd.md
  .claude/rules/tooling/pre-commit.md
  .claude/rules/workflow.md
  AGENTS.md
Due: none

Remove broken nvidia-driver Renovate configuration
  .renovaterc
Due: none

Enable Renovate kubernetes manager for image updates
  .renovaterc
Due: none

Exclude helm directories from Renovate kubernetes manager
  .renovaterc
Due: none

Fix ESPHome Renovate config to use PyPI instead of Docker
  .renovaterc
Due: none

Use debian:stable-slim for cluster-backup
  kubernetes/cluster-backup/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Update Dawarich to 0.37.1 and add OIDC support
  kubernetes/dawarich/deploy-sidekiq.yaml
  kubernetes/dawarich/deploy-web.yaml
  kubernetes/dawarich/externalsecret-oidc.yaml
  kubernetes/dawarich/ingress.yaml
  kubernetes/dawarich/kustomization.yaml
  opentofu/modules/authentik/generated-dawarich-oidc-1p.tf
  opentofu/modules/authentik/generated-dawarich.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Use inline digest format for Ansible Docker images
  .renovaterc
  ansible/roles/rtl433/defaults/main.yaml
  ansible/roles/zigbee2mqtt/defaults/main.yaml
  ansible/roles/zwavejs/defaults/main.yaml
Due: ansible-lint

Tune Go runtime and scheduling for restic backup jobs
  ansible/group_vars/all/restic.yaml
  kubernetes/restic/cronjob-nfs.yaml.j2
  kubernetes/restic/cronjobs/cronjob-b2-check.yaml
  kubernetes/restic/cronjobs/cronjob-b2-forget.yaml
  kubernetes/restic/cronjobs/cronjob-b2.yaml
  kubernetes/restic/cronjobs/cronjob-flux-check.yaml
  kubernetes/restic/cronjobs/cronjob-flux-forget.yaml
  kubernetes/restic/cronjobs/cronjob-main-check.yaml
  kubernetes/restic/cronjobs/cronjob-main-copy.yaml
  kubernetes/restic/cronjobs/cronjob-main-forget.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-b2-check.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-b2-forget.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-check.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-copy.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-forget.yaml
  kubernetes/restic/profiles.yaml
  kubernetes/restic/render-and-sync
Due: ansible-lint, kubeconform, ak-tool-generate, kyverno-validate

Add Tailscale endpoint for healthchecks
  .claude/rules/ansible/usage.md
  ansible/group_vars/all/restic.yaml
  ansible/host_vars/flux.yaml
  kubernetes/healthchecks/helm/healthchecks/common.yaml
  kubernetes/healthchecks/kustomization.yaml
  kubernetes/healthchecks/tailscale-ingress.yaml
  kubernetes/healthchecks/values.yaml
  opentofu/tailscale.tf
Due: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Switch cluster-backup and mosquitto init to Alpine
  kubernetes/cluster-backup/backup
  kubernetes/cluster-backup/cronjob.yaml
  kubernetes/cluster-backup/kustomization.yaml
  kubernetes/mosquitto/create-password-file
  kubernetes/mosquitto/deploy.yaml
  kubernetes/mosquitto/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Fix B2 application key bucket_id deprecation
  opentofu/b2.tf
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
