Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

.pre-commit-config.yaml:

---
exclude: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^ansible/
  - id: check-added-large-files
    exclude: ^esphome/img/
  - id: check-merge-conflict

- repo: https://github.com/lyz-code/yamlfix
  rev: 1.19.0
  hooks:
  - id: yamlfix
    args: [-c, .yamlfix.toml]
    exclude: ^ansible/|service-blueprint\.template\.yaml$|kubernetes/hass/config/configuration\.yaml$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.37.1
  hooks:
  - id: yamllint
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    types_or: [json, markdown]

- repo: local
  hooks:
  - id: ansible-lint
    name: ansible-lint
    entry: scripts/ansible-lint-wrapper
    language: system
    files: ^ansible/.*$
    require_serial: true
  - id: format-kustomization
    name: format kustomization.yaml files
    entry: scripts/format-kustomization
    language: system
    files: ^kubernetes/.*/kustomization\.ya?ml$
    pass_filenames: true
  - id: kubeconform
    name: kubeconform manifest validation
    entry: kubernetes/scripts/kubeconform-wrapper
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
    exclude: (helm\.yaml|patch-.*\.yaml)$
  - id: ak-tool-generate
    name: generate authentik terraform configs
    entry: kubernetes/scripts/ak-tool generate
    language: system
    files: ^kubernetes/.*/.*\.(ya?ml)$
    pass_filenames: false
    always_run: false
  - id: hass-check-config
    name: validate home assistant config
    entry: scripts/hass-check-config
    language: system
    files: ^(kubernetes/hass/|scripts/hass-check-config)
    pass_filenames: false
  - id: kyverno-validate
    name: kyverno policy validation
    entry: kubernetes/scripts/kyverno-wrapper
    language: system
    pass_filenames: true
    files: ^kubernetes/.*\.(ya?ml)$

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.11.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.8
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.46.0
  hooks:
  - id: markdownlint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.104.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
  - id: terraform_tflint
  - id: terraform_providers_lock
    args:
    - --hook-config=--mode=always-regenerate-lockfile
    - --args=-platform=linux_amd64
    - --args=-platform=darwin_arm64

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.9
  hooks:
  - id: actionlint

- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 42.38.0
  hooks:
  - id: renovate-config-validator

Remove paperless-ngx deployment
  kubernetes/paperless-ngx/Chart.yaml
  kubernetes/paperless-ngx/configmap-rclone.yaml
  kubernetes/paperless-ngx/configmap-sync-script.yaml
  kubernetes/paperless-ngx/externalsecret-oidc.yaml
  kubernetes/paperless-ngx/externalsecret-rclone.yaml
  kubernetes/paperless-ngx/externalsecret.yaml
  kubernetes/paperless-ngx/gotenberg-deployment.yaml
  kubernetes/paperless-ngx/helm/paperless-ngx/common.yaml
  kubernetes/paperless-ngx/helm/valkey/scripts.yaml
  kubernetes/paperless-ngx/helm/valkey/service-internal.yaml
  kubernetes/paperless-ngx/helm/valkey/services.yaml
  kubernetes/paperless-ngx/helm/valkey/statefulset.yaml
  kubernetes/paperless-ngx/kustomization.yaml
  kubernetes/paperless-ngx/namespace.yaml
  kubernetes/paperless-ngx/paperless-postgres-cluster.yaml
  kubernetes/paperless-ngx/patch-gdrive-sidecar.yaml
  kubernetes/paperless-ngx/pvc-data.yaml
  kubernetes/paperless-ngx/pvc-export.yaml
  kubernetes/paperless-ngx/pvc-valkey.yaml
  kubernetes/paperless-ngx/render
  kubernetes/paperless-ngx/tika-deployment.yaml
  kubernetes/paperless-ngx/valkey-values.yaml
  kubernetes/paperless-ngx/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Replace main floor hygrostat with basement hygrostat
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Fix proxmox group_vars directory/file conflict
  ansible/group_vars/proxmox.yaml
  ansible/group_vars/proxmox/zram.yaml
Due: ansible-lint

Add p1 Proxmox host with configurable ZFS raid level
  ansible/host_vars/p1.yaml
  ansible/inventory/default
  ansible/roles/os-install/templates/proxmox-answer.toml.j2
  opentofu/locals.tf
Due: ansible-lint

Remove luser from nut_client group
  ansible/inventory/default
Due: ansible-lint

Add Docker to luser via Ansible
  ansible/group_vars/docker.yaml
  ansible/inventory/default
  ansible/site.yaml
Due: ansible-lint

luser cleanup: remove NUT, add Docker via Ansible
  ansible/group_vars/docker.yaml
  ansible/inventory/default
  ansible/site.yaml
Due: ansible-lint

Add RPi image customization and integration test
  .github/workflows/rpi-image-test.yaml
  .renovaterc
  scripts/rpi-image-customize
  scripts/rpi-image-test
  tests/rpi/Dockerfile
  tests/rpi/docker-compose.yaml
  tests/rpi/entrypoint.sh
  tests/rpi/verify.sh
Due: none

Add Renovate tracking for Pi image tag
  .renovaterc
  scripts/rpi-image-customize
Due: none

Simplify Pi image tag parsing
  scripts/rpi-image-customize
Due: none

Fix ansible INJECT_FACTS_AS_VARS deprecation warnings
  ansible/roles/common/tasks/main.yaml
  ansible/roles/hostname/templates/hosts.j2
  ansible/roles/setup_upgrade/tasks/main.yaml
  ansible/roles/zram/tasks/main.yaml
Due: ansible-lint

Add hygrostat tolerance and cycle duration settings
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Remove unused libvirt restic exclusion from luser
  ansible/host_vars/luser.yaml
Due: ansible-lint

Use age-encrypted secrets file for direnv
  .envrc
  .gitignore
  .pre-commit-config.yaml
  .secrets.tmpl
  flake.nix
  scripts/bootstrap-secrets
Due: none

Migrate scripts from direct op calls to .secrets.age
  .secrets.tmpl
  kubernetes/hass/get-prom-metrics
  kubernetes/restic/scripts/get-1password-secrets
  kubernetes/restic/scripts/run
  kubernetes/restic/scripts/run-rclone
  kubernetes/velero/get-1password-secrets
  kubernetes/velero/run-kopia
  kubernetes/velero/run-rclone
  scripts/require-secrets
Due: hass-check-config

Add Renovate manager for got-your-back
  .renovaterc
Due: none

Update gyb binary URL to use glibc2.35
  kubernetes/got-your-back/run
Due: none

Add rtl433 on garagepi with infrastructure updates
  .renovaterc
  ansible/group_vars/all/docker.yaml
  ansible/group_vars/rtl433.yaml
  ansible/inventory/default
  ansible/roles/rtl433/defaults/main.yaml
  ansible/roles/rtl433/handlers/main.yaml
  ansible/roles/rtl433/meta/main.yaml
  ansible/roles/rtl433/tasks/main.yaml
  ansible/roles/rtl433/templates/docker-compose.yaml.j2
  ansible/roles/rtl433/templates/env.j2
  ansible/roles/traefik/meta/main.yaml
  ansible/site.yaml
  kubernetes/smokeping-prober/config.yaml
  opentofu/locals.tf
Due: ansible-lint, kubeconform, ak-tool-generate, kyverno-validate

Add zwavejs to rtl433 group and upgrade docker-compose-plugin
  ansible/group_vars/all/docker.yaml
  ansible/inventory/default
Due: ansible-lint

Add zwavejs to rtl433 group and upgrade docker-compose-plugin
  ansible/roles/rtl433/tasks/main.yaml
  ansible/roles/rtl433/templates/docker-compose.yaml.j2
Due: ansible-lint

Add TLS support to mosquitto
  kubernetes/mosquitto/certificate.yaml
  kubernetes/mosquitto/deploy.yaml
  kubernetes/mosquitto/kustomization.yaml
  kubernetes/mosquitto/mosquitto.conf
  kubernetes/mosquitto/service.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add GPU passthrough for RTX 2060 Super to k2
  ansible/host_vars/k2.yaml
  ansible/host_vars/p1.yaml
  ansible/roles/kubeadm/tasks/main.yaml
  ansible/roles/kubeadm/tasks/nvidia.yaml
  ansible/roles/proxmox/handlers/main.yaml
  ansible/roles/proxmox/tasks/gpu-passthrough.yaml
  ansible/roles/proxmox/tasks/main.yaml
  kubernetes/node-feature-discovery/helm/templates/nfd-worker-conf.yaml
  kubernetes/node-feature-discovery/helm/templates/worker.yaml
  kubernetes/node-feature-discovery/values.yaml
  kubernetes/nvidia-device-plugin/Chart.yaml
  kubernetes/nvidia-device-plugin/helm/configmap.yml
  kubernetes/nvidia-device-plugin/helm/daemonset-device-plugin.yml
  kubernetes/nvidia-device-plugin/helm/daemonset-gfd.yml
  kubernetes/nvidia-device-plugin/helm/daemonset-mps-control-daemon.yml
  kubernetes/nvidia-device-plugin/helm/role-binding.yml
  kubernetes/nvidia-device-plugin/helm/role.yml
  kubernetes/nvidia-device-plugin/helm/service-account.yml
  kubernetes/nvidia-device-plugin/kustomization.yaml
  kubernetes/nvidia-device-plugin/namespace.yaml
  kubernetes/nvidia-device-plugin/render
  kubernetes/nvidia-device-plugin/runtime-class.yaml
  kubernetes/nvidia-device-plugin/values.yaml
  opentofu/modules/authentik/generated-paperless-ngx-oidc-1p.tf
  opentofu/modules/authentik/generated-paperless-ngx.tf
  opentofu/proxmox.tf
Due: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Standardize docker_compose_v2 module usage across roles
  ansible/host_vars/infra1.yaml
  ansible/roles/nut/handlers/main.yaml
  ansible/roles/nut/tasks/webgui.yaml
  ansible/roles/os-install/handlers/main.yml
  ansible/roles/os-install/tasks/main.yaml
  ansible/roles/rtl433/handlers/main.yaml
  ansible/roles/rtl433/tasks/main.yaml
  ansible/roles/traefik/tasks/main.yml
Due: ansible-lint
