Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

Refactor Semaphore to use ConfigMap-mounted flake
  kubernetes/semaphore/flake.lock
  kubernetes/semaphore/flake.nix
  kubernetes/semaphore/idempotency-test/cronjob.yaml
  kubernetes/semaphore/idempotency-test/externalsecret.yaml
  kubernetes/semaphore/idempotency-test/kustomization.yaml
  kubernetes/semaphore/init-tools.sh
  kubernetes/semaphore/kustomization.yaml
  kubernetes/semaphore/patch-deployment.yaml
  kubernetes/semaphore/render
  kubernetes/semaphore/scripts/ansible-wrapper.sh
  kubernetes/semaphore/scripts/init-tools.sh
  kubernetes/semaphore/scripts/setup-nix.sh
  opentofu/healthchecks.tf
  scripts/ansible-idempotency-test
  scripts/lib/__init__.py
  scripts/lib/semaphore.py
  scripts/semaphore-deploy
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Address PR feedback for Semaphore ConfigMap refactor
  flake.nix
  kubernetes/semaphore/kustomization.yaml
  kubernetes/semaphore/nix-flake.lock
  kubernetes/semaphore/nix-flake.nix
  kubernetes/semaphore/scripts/init-tools.sh
  kubernetes/semaphore/scripts/setup-nix.sh
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Update idempotency test CronJob to use ConfigMap-mounted scripts
  kubernetes/semaphore/idempotency-test/cronjob.yaml
  kubernetes/semaphore/kustomization.yaml
  kubernetes/semaphore/nix-flake.nix
  kubernetes/semaphore/patch-deployment.yaml
  kubernetes/semaphore/render
  kubernetes/semaphore/scripts/ansible-idempotency-test
  kubernetes/semaphore/scripts/init-tools.sh
  kubernetes/semaphore/scripts/lib/__init__.py
  kubernetes/semaphore/scripts/lib/semaphore.py
  kubernetes/semaphore/scripts/run-idempotency-test.sh
  kubernetes/semaphore/scripts/setup-nix.sh
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

bd sync: 2026-01-09 16:13:12
  .beads/issues.jsonl
Due: none

Enable p4 in Ansible inventory, remove decommissioned hosts
  ansible/inventory/default
Due: ansible-lint

Add downloads volume mount to qui for orphan scanner
  kubernetes/qui/deploy.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

bd sync: 2026-01-10 11:59:04
  .beads/issues.jsonl
Due: none

Remove Tailscale version pin workaround
  ansible/roles/rtl433/handlers/main.yaml
  ansible/roles/rtl433/meta/main.yaml
  ansible/roles/traefik/meta/main.yaml
  ansible/site.yaml
Due: ansible-lint

Set timezone for Semaphore container
  kubernetes/semaphore/patch-deployment.yaml
Due: ak-tool-generate, kyverno-validate

bd sync: 2026-01-10 12:54:18
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-11 11:15:09
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-11 21:28:53
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-11 21:30:18
  .beads/issues.jsonl
Due: none

Migrate Home Assistant templates to modern syntax
  AGENTS.md
  kubernetes/hass/config/automations-manual.yaml
  kubernetes/hass/config/configuration.yaml
  kubernetes/hass/config/packages/temperature_alerts.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Work around nvidia-cdi-refresh.service bug for compressed modules
  ansible/roles/kubeadm/tasks/nvidia.yaml
Due: ansible-lint

Add availability templates to garage door covers
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Remove Renovate rate limits and expand schedule window
  .renovaterc
Due: none

Add auto-managed Renovate version constraints
  .github/workflows/update-renovate-versions.yaml
  .renovaterc
  kubernetes/hass/kustomization.yaml
  scripts/update-renovate-versions.py
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Block radarr 6.x (mistagged pre-release)
  .renovaterc
Due: none

Add unifi-protect-backup service
  kubernetes/unifi-protect-backup/deployment.yaml
  kubernetes/unifi-protect-backup/externalsecret.yaml
  kubernetes/unifi-protect-backup/kustomization.yaml
  kubernetes/unifi-protect-backup/namespace.yaml
  kubernetes/unifi-protect-backup/pvc.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Remove unnecessary nix develop instruction from rules
  .claude/rules/overview.md
Due: none

Update meilisearch to v1.31.0 with dumpless upgrade
  kubernetes/karakeep/helm/meilisearch/configmap.yaml
  kubernetes/karakeep/helm/meilisearch/statefulset.yaml
  kubernetes/karakeep/kustomization.yaml
  kubernetes/karakeep/values.yaml
  kubernetes/openarchiver/meilisearch-statefulset.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add tests/rpi/Dockerfile to automerge digest updates
  .renovaterc
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
