Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

.pre-commit-config.yaml:

---
exclude: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^ansible/
  - id: check-added-large-files
    exclude: ^esphome/img/
  - id: check-merge-conflict

- repo: https://github.com/lyz-code/yamlfix
  rev: 1.19.1
  hooks:
  - id: yamlfix
    args: [-c, .yamlfix.toml]
    exclude: ^ansible/|service-blueprint\.template\.yaml$|kubernetes/hass/config/configuration\.yaml$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.38.0
  hooks:
  - id: yamllint
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    types_or: [json, markdown]

- repo: local
  hooks:
  - id: block-secrets-file
    name: block .secrets.age file
    language: fail
    entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate
    files: ^\.secrets\.age$
  - id: ansible-lint
    name: ansible-lint
    entry: scripts/ansible-lint-wrapper
    language: system
    files: ^ansible/.*$
    require_serial: true
  - id: format-kustomization
    name: format kustomization.yaml files
    entry: scripts/format-kustomization
    language: system
    files: ^kubernetes/.*/kustomization\.ya?ml$
    pass_filenames: true
  - id: kubeconform
    name: kubeconform manifest validation
    entry: kubernetes/scripts/kubeconform-wrapper
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
    exclude: (helm\.yaml|patch-.*\.yaml)$
  - id: ak-tool-generate
    name: generate authentik terraform configs
    entry: kubernetes/scripts/ak-tool generate
    language: system
    files: ^kubernetes/.*/.*\.(ya?ml)$
    pass_filenames: false
    always_run: false
  - id: hass-check-config
    name: validate home assistant config
    entry: scripts/hass-check-config
    language: system
    files: ^(kubernetes/hass/|scripts/hass-check-config)
    pass_filenames: false
  - id: kyverno-validate
    name: kyverno policy validation
    entry: kubernetes/scripts/kyverno-wrapper
    language: system
    pass_filenames: true
    files: ^kubernetes/.*\.(ya?ml)$
  - id: esphome-hosts-check
    name: check ESPHome hosts terraform is up to date
    entry: scripts/gen-esphome-hosts --check
    language: python
    additional_dependencies: [pyyaml]
    files: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$
    pass_filenames: false
  - id: beads-flush
    name: beads pre-commit flush
    entry: bash -c '[ "$GITHUB_ACTIONS" = "true" ] && exit 0; [ "$(git rev-parse --abbrev-ref
      HEAD)" != "beads-sync" ] && exit 0; bd hooks run pre-commit'
    language: system
    pass_filenames: false
    always_run: true
    stages: [pre-commit]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.11.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.47.0
  hooks:
  - id: markdownlint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.105.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
  - id: terraform_tflint
  - id: terraform_providers_lock
    args:
    - --hook-config=--mode=always-regenerate-lockfile
    - --args=-platform=linux_amd64
    - --args=-platform=darwin_arm64

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.10
  hooks:
  - id: actionlint

- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 42.95.1
  hooks:
  - id: renovate-config-validator

Guard HA automations against restart-triggered spurious firing
  kubernetes/hass/config/automations-manual.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Add Telegram channel to Frank, upgrade to v2026.3.2
  kubernetes/frank/deployment.yaml
  kubernetes/frank/externalsecret.yaml
  kubernetes/frank/openclaw.json
Due: kubeconform, ak-tool-generate, kyverno-validate

Upgrade 1Password provider v2 → v3 with feature adoption
  opentofu/.terraform.lock.hcl
  opentofu/main.tf
  opentofu/modules/authentik/.terraform.lock.hcl
  opentofu/modules/authentik/versions.tf
  opentofu/secrets.tf
Due: none

Guard VRRoom reboot with rolling power minimum
  kubernetes/hass/config/automations-manual.yaml
  kubernetes/hass/config/configuration.yaml
  kubernetes/hass/config/kustomization.yaml
  kubernetes/hass/config/packages/basement_entertainment.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Replace Overseerr with Seerr
  kubernetes/overseerr/deploy.yaml
  kubernetes/seerr/deploy.yaml
  kubernetes/seerr/ingress.yaml
  kubernetes/seerr/kustomization.yaml
  kubernetes/seerr/namespace.yaml
  kubernetes/seerr/pvc-config.yaml
  kubernetes/seerr/service.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add basement clock for CrowPanel 10.1" ESP32-P4
  .gitignore
  .secrets.tmpl
  esphome/basement-clock.yaml
  esphome/common/device-classes/crowpanel-p4-10.yaml
  esphome/common/lvgl/dock-item.yaml
  esphome/common/lvgl/outline-block.yaml
  esphome/common/weather-bg.yaml
  esphome/local_components/httpd_header_fix/__init__.py
  flake.nix
  kubernetes/hass/config/kustomization.yaml
  kubernetes/hass/config/packages/basement_clock.yaml
  kubernetes/hass/config/packages/basement_entertainment.yaml
  kubernetes/weather-bg/deployment.yaml
  kubernetes/weather-bg/ingress.yaml
  kubernetes/weather-bg/kustomization.yaml
  kubernetes/weather-bg/namespace.yaml
  kubernetes/weather-bg/nginx.conf
  kubernetes/weather-bg/service.yaml
  opentofu/esphome-hosts.tf
  opentofu/firewall.tf
  tools/weather-bg/generate
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

Update Renovate version constraints
  .renovaterc
Due: none

Ignore rendered Helm templates globally in Renovate
  .renovaterc
Due: none

Fix Renovate hidden Unicode and spegel lookup warnings
  .renovaterc
  kubernetes/cert-manager/helm/templates/crd-acme.cert-manager.io_challenges.yaml
  kubernetes/cert-manager/helm/templates/crd-cert-manager.io_clusterissuers.yaml
  kubernetes/cert-manager/helm/templates/crd-cert-manager.io_issuers.yaml
  kubernetes/scripts/chart-version
  kubernetes/tailscale-operator/helm/templates/recorder.yaml
Due: none

Update Booklore to v2.1.0
  kubernetes/booklore/deployment.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Update rclone to v1.73.2
  kubernetes/velero/rclone-deployment.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Narrow Renovate schedule to 2am-8am EST on Monday
  .renovaterc
Due: none

Switch ARA back to official image after 1.7.5 release
  kubernetes/ara/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Enable Authentik OIDC SSO for HomeBox
  kubernetes/homebox/externalsecret-oidc.yaml
  kubernetes/homebox/helm/homebox/deployment.yaml
  kubernetes/homebox/helm/homebox/ingress.yaml
  kubernetes/homebox/helm/homebox/secrets.yaml
  kubernetes/homebox/kustomization.yaml
  kubernetes/homebox/values.yaml
  opentofu/modules/authentik/generated-homebox-oidc-1p.tf
  opentofu/modules/authentik/generated-homebox.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add Cloudflare Tunnel and Access for external Seerr access
  kubernetes/cloudflared/deploy.yaml
  kubernetes/cloudflared/externalsecret.yaml
  kubernetes/cloudflared/kustomization.yaml
  kubernetes/cloudflared/namespace.yaml
  opentofu/cloudflare-access-seerr.tf
  opentofu/cloudflare-tunnel.tf
  opentofu/secrets.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Enable decluttarr removal jobs for Sonarr and Radarr
  kubernetes/decluttarr/config-radarr.yaml
  kubernetes/decluttarr/config-sonarr.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Add Cloudflare Tunnel and Access for external Seerr access (#1661)
  kubernetes/cloudflared/deploy.yaml
  kubernetes/cloudflared/externalsecret.yaml
  kubernetes/cloudflared/kustomization.yaml
  kubernetes/cloudflared/namespace.yaml
  opentofu/cloudflare-access-seerr.tf
  opentofu/cloudflare-tunnel.tf
  opentofu/secrets.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Enable decluttarr removal jobs for Sonarr and Radarr (#1662)
  kubernetes/decluttarr/config-radarr.yaml
  kubernetes/decluttarr/config-sonarr.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Migrate recyclarr to v8, enhance decluttarr
  .gitignore
  kubernetes/decluttarr/config-radarr.yaml
  kubernetes/decluttarr/config-sonarr.yaml
  kubernetes/decluttarr/deployment-radarr.yaml
  kubernetes/decluttarr/deployment-sonarr.yaml
  tools/recyclarr/data/recyclarr.yml
Due: kubeconform, ak-tool-generate, kyverno-validate

Migrate recyclarr to v8, enhance decluttarr (#1663)
  .gitignore
  kubernetes/decluttarr/config-radarr.yaml
  kubernetes/decluttarr/config-sonarr.yaml
  kubernetes/decluttarr/deployment-radarr.yaml
  kubernetes/decluttarr/deployment-sonarr.yaml
  tools/recyclarr/data/recyclarr.yml
Due: kubeconform, ak-tool-generate, kyverno-validate

Reorganize Homepage dashboard with tabs and new categories
  kubernetes/ara/ingress.yaml
  kubernetes/argocd/helm/templates/argocd-server/ingress.yaml
  kubernetes/argocd/values.yaml
  kubernetes/authentik/helm/authentik/server/ingress.yaml
  kubernetes/authentik/values.yaml
  kubernetes/autobrr/ingress.yaml
  kubernetes/bazarr/ingress.yaml
  kubernetes/booklore/ingress.yaml
  kubernetes/bookshelf/ingress.yaml
  kubernetes/changedetection/ingress.yaml
  kubernetes/dawarich/ingress.yaml
  kubernetes/frank/ingress-www.yaml
  kubernetes/hass/helm/ingress.yaml
  kubernetes/hass/values.yaml
  kubernetes/homebox/helm/homebox/ingress.yaml
  kubernetes/homebox/values.yaml
  kubernetes/homepage/services.yaml
  kubernetes/homepage/settings.yaml
  kubernetes/immich/helm/immich/server.yaml
  kubernetes/immich/values.yaml
  kubernetes/karakeep/helm/karakeep/common.yaml
  kubernetes/karakeep/values.yaml
  kubernetes/meshcentral/ingress.yaml
  kubernetes/n8n/helm/n8n/ingress.yaml
  kubernetes/n8n/kustomization.yaml
  kubernetes/n8n/values.yaml
  kubernetes/openarchiver/ingress.yaml
  kubernetes/prowlarr/ingress.yaml
  kubernetes/qbit-manage/ingress.yaml
  kubernetes/qbittorrent/ingress.yaml
  kubernetes/qui/ingress.yaml
  kubernetes/radarr/ingress.yaml
  kubernetes/rreading-glasses/ingress.yaml
  kubernetes/seerr/ingress.yaml
  kubernetes/semaphore/helm/ingress.yaml
  kubernetes/semaphore/values.yaml
  kubernetes/sonarr/ingress.yaml
  kubernetes/speakr/ingress.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Reorganize Homepage dashboard with tabs and new categories (#1664)
  kubernetes/ara/ingress.yaml
  kubernetes/argocd/helm/templates/argocd-server/ingress.yaml
  kubernetes/argocd/values.yaml
  kubernetes/authentik/helm/authentik/server/ingress.yaml
  kubernetes/authentik/values.yaml
  kubernetes/autobrr/ingress.yaml
  kubernetes/bazarr/ingress.yaml
  kubernetes/booklore/ingress.yaml
  kubernetes/bookshelf/ingress.yaml
  kubernetes/changedetection/ingress.yaml
  kubernetes/dawarich/ingress.yaml
  kubernetes/frank/ingress-www.yaml
  kubernetes/hass/helm/ingress.yaml
  kubernetes/hass/values.yaml
  kubernetes/homebox/helm/homebox/ingress.yaml
  kubernetes/homebox/values.yaml
  kubernetes/homepage/services.yaml
  kubernetes/homepage/settings.yaml
  kubernetes/immich/helm/immich/server.yaml
  kubernetes/immich/values.yaml
  kubernetes/karakeep/helm/karakeep/common.yaml
  kubernetes/karakeep/values.yaml
  kubernetes/meshcentral/ingress.yaml
  kubernetes/n8n/helm/n8n/ingress.yaml
  kubernetes/n8n/kustomization.yaml
  kubernetes/n8n/values.yaml
  kubernetes/openarchiver/ingress.yaml
  kubernetes/prowlarr/ingress.yaml
  kubernetes/qbit-manage/ingress.yaml
  kubernetes/qbittorrent/ingress.yaml
  kubernetes/qui/ingress.yaml
  kubernetes/radarr/ingress.yaml
  kubernetes/rreading-glasses/ingress.yaml
  kubernetes/seerr/ingress.yaml
  kubernetes/semaphore/helm/ingress.yaml
  kubernetes/semaphore/nix-flake.lock
  kubernetes/semaphore/nix-flake.nix
  kubernetes/semaphore/values.yaml
  kubernetes/sonarr/ingress.yaml
  kubernetes/speakr/ingress.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Deploy Shelfmark book downloader
  kubernetes/shelfmark/deploy.yaml
  kubernetes/shelfmark/externalsecret-oidc.yaml
  kubernetes/shelfmark/ingress.yaml
  kubernetes/shelfmark/kustomization.yaml
  kubernetes/shelfmark/namespace.yaml
  kubernetes/shelfmark/pvc-config.yaml
  kubernetes/shelfmark/service.yaml
  opentofu/modules/authentik/generated-shelfmark-oidc-1p.tf
  opentofu/modules/authentik/generated-shelfmark.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Deploy Shelfmark book downloader (#1665)
  kubernetes/shelfmark/deploy.yaml
  kubernetes/shelfmark/externalsecret-oidc.yaml
  kubernetes/shelfmark/ingress.yaml
  kubernetes/shelfmark/kustomization.yaml
  kubernetes/shelfmark/namespace.yaml
  kubernetes/shelfmark/pvc-config.yaml
  kubernetes/shelfmark/service.yaml
  opentofu/modules/authentik/generated-shelfmark-oidc-1p.tf
  opentofu/modules/authentik/generated-shelfmark.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add Homebox API credentials to direnv secrets
  .secrets.tmpl
Due: none

Add Homebox API credentials to direnv secrets (#1667)
  .secrets.tmpl
Due: none

Replace Aqara vibration sensors with Third Reality tilt sensors for garage doors
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate
