Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

bd sync: 2026-01-30 14:55:54
  .beads/sync_base.jsonl
Due: none

bd sync: 2026-01-30 20:03:49
  .beads/sync_base.jsonl
Due: none

Add Matter and Thread support for pantrypi
  ansible/group_vars/all/tailscale.yaml
  ansible/group_vars/pi.yaml
  ansible/host_vars/pantrypi.yaml
  ansible/inventory/default
  ansible/roles/matter/defaults/main.yaml
  ansible/roles/matter/handlers/main.yaml
  ansible/roles/matter/meta/main.yaml
  ansible/roles/matter/tasks/main.yaml
  ansible/roles/matter/templates/docker-compose.yaml.j2
  ansible/roles/traefik/templates/conf.d/matter.yml.j2
  ansible/roles/zigbee2mqtt/tasks/main.yaml
  ansible/roles/zigbee2mqtt/templates/docker-compose.yaml.j2
  ansible/roles/zwavejs/handlers/main.yaml
  ansible/roles/zwavejs/tasks/main.yaml
  ansible/roles/zwavejs/templates/docker-compose.yaml.j2
  ansible/site.yaml
  opentofu/modules/dns/oneill.tf
Due: ansible-lint

bd sync: 2026-01-31 11:01:26
  .beads/sync_base.jsonl
Due: none

Add Matter and Thread support for pantrypi (#1318)
  ansible/group_vars/all/tailscale.yaml
  ansible/group_vars/pi.yaml
  ansible/host_vars/pantrypi.yaml
  ansible/inventory/default
  ansible/roles/matter/defaults/main.yaml
  ansible/roles/matter/handlers/main.yaml
  ansible/roles/matter/meta/main.yaml
  ansible/roles/matter/tasks/main.yaml
  ansible/roles/matter/templates/docker-compose.yaml.j2
  ansible/roles/traefik/templates/conf.d/matter.yml.j2
  ansible/roles/zigbee2mqtt/tasks/main.yaml
  ansible/roles/zigbee2mqtt/templates/docker-compose.yaml.j2
  ansible/roles/zwavejs/handlers/main.yaml
  ansible/roles/zwavejs/tasks/main.yaml
  ansible/roles/zwavejs/templates/docker-compose.yaml.j2
  ansible/site.yaml
  opentofu/modules/dns/oneill.tf
Due: ansible-lint

bd sync: 2026-01-31 11:12:53
  .beads/sync_base.jsonl
Due: none

Expose OTBR web UI through Traefik
  ansible/roles/matter/templates/docker-compose.yaml.j2
  ansible/roles/traefik/templates/conf.d/matter.yml.j2
Due: ansible-lint

bd sync: 2026-01-31 12:13:12
  .beads/sync_base.jsonl
Due: none

Enable MQTT TLS for ESP32, remove MQTT from ESP8266
  esphome/bedjet.yaml
  esphome/common/base.yaml
  esphome/common/mqtt.yaml
  esphome/x1c-ams1-monitor.yaml
  esphome/x1c-ams2-monitor.yaml
Due: none

Add logcli and Loki environment configuration
  .envrc
  .secrets.tmpl
  flake.nix
Due: none

bd sync: 2026-01-31 19:18:15
  .beads/issues.jsonl
Due: none

Codify UniFi firewall rules in OpenTofu
  opentofu/firewall.tf
Due: none

Expose OTBR web UI and API through Traefik
  ansible/group_vars/pi.yaml
  ansible/host_vars/pantrypi.yaml
  ansible/roles/matter/templates/docker-compose.yaml.j2
  ansible/roles/traefik/templates/conf.d/matter.yml.j2
  opentofu/modules/dns/oneill.tf
Due: ansible-lint

Fix NVIDIA CUDA repo SHA1 issue and pin container toolkit
  ansible/group_vars/kubernetes.yaml
  ansible/roles/kubeadm/tasks/nvidia.yaml
Due: ansible-lint

Add apt cache warmup to idempotency test
  ansible/roles/common/tasks/main.yaml
  kubernetes/semaphore/scripts/ansible-idempotency-test
  scripts/ansible-idempotency-test
Due: ansible-lint

bd sync: 2026-02-01 18:50:25
  .beads/sync_base.jsonl
Due: none

Upgrade snapshot-controller chart to v5.0.2
  kubernetes/volume-snapshot-controller/Chart.yaml
  kubernetes/volume-snapshot-controller/crds/volumesnapshotclasses-crd.yaml
  kubernetes/volume-snapshot-controller/crds/volumesnapshotcontents-crd.yaml
  kubernetes/volume-snapshot-controller/crds/volumesnapshots-crd.yaml
  kubernetes/volume-snapshot-controller/helm/templates/crds.yaml
  kubernetes/volume-snapshot-controller/helm/templates/deployment_controller.yaml
  kubernetes/volume-snapshot-controller/kustomization.yaml
  kubernetes/volume-snapshot-controller/render
  kubernetes/volume-snapshot-controller/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Remove dotnet-sdk build dep from pre-commit
  flake.nix
Due: none

Use .override to stub out dotnet-sdk in pre-commit
  flake.nix
Due: none

Update authentik to 2025.12.1
  kubernetes/authentik/Chart.yaml
  kubernetes/authentik/helm/authentik/secret.yaml
  kubernetes/authentik/helm/authentik/server/deployment.yaml
  kubernetes/authentik/helm/authentik/server/ingress.yaml
  kubernetes/authentik/helm/authentik/server/service.yaml
  kubernetes/authentik/helm/authentik/worker/deployment.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Pin dnsmasq to 2.91 to fix PXE boot regression
  ansible/roles/os-install/files/docker-compose.yaml
Due: ansible-lint

Pin dnsmasq to 2.91 to fix PXE boot regression (#1363)
  ansible/roles/os-install/files/docker-compose.yaml
Due: ansible-lint

Enable VLAN trunking on Proxmox hosts and configure SDN
  ansible/group_vars/proxmox.yaml
  ansible/host_vars/p1.yaml
  ansible/host_vars/p2.yaml
  ansible/host_vars/p3.yaml
  ansible/host_vars/p4.yaml
  ansible/roles/proxmox/tasks/main.yaml
  ansible/roles/proxmox/tasks/sdn.yaml
  ansible/roles/proxmox/templates/interfaces.j2
  opentofu/unifi.tf
Due: ansible-lint

Fix Proxmox SDN idempotency by using template files
  ansible/roles/proxmox/handlers/main.yaml
  ansible/roles/proxmox/tasks/sdn.yaml
  ansible/roles/proxmox/templates/sdn-vnets.cfg.j2
  ansible/roles/proxmox/templates/sdn-zones.cfg.j2
  opentofu/locals.tf
Due: ansible-lint

Enable smartmontools on Pi hosts
  ansible/roles/common/tasks/main.yaml
  ansible/roles/common/templates/smartd.conf.j2
Due: ansible-lint

Block IoT and DMZ traffic to more trusted networks
  opentofu/firewall.tf
Due: none

Remove CLAUDE_CODE_OAUTH_TOKEN from secrets template
  .secrets.tmpl
Due: none

Remove CLAUDE_CODE_OAUTH_TOKEN from secrets template (#1369)
  .secrets.tmpl
Due: none

Add Netdata Kubernetes manifests
  kubernetes/netdata/Chart.yaml
  kubernetes/netdata/dbengine-pvc.yaml
  kubernetes/netdata/externalsecret.yaml
  kubernetes/netdata/helm/netdata/child/configmap.yaml
  kubernetes/netdata/helm/netdata/child/daemonset.yaml
  kubernetes/netdata/helm/netdata/clusterrole.yaml
  kubernetes/netdata/helm/netdata/clusterrolebinding.yaml
  kubernetes/netdata/helm/netdata/k8s-state/configmap.yaml
  kubernetes/netdata/helm/netdata/k8s-state/deployment.yaml
  kubernetes/netdata/helm/netdata/k8s-state/persistentvolumeclaim.yaml
  kubernetes/netdata/helm/netdata/parent/configmap.yaml
  kubernetes/netdata/helm/netdata/parent/deployment.yaml
  kubernetes/netdata/helm/netdata/parent/ingress.yaml
  kubernetes/netdata/helm/netdata/parent/persistentvolumeclaim.yaml
  kubernetes/netdata/helm/netdata/parent/service.yaml
  kubernetes/netdata/helm/netdata/serviceaccount.yaml
  kubernetes/netdata/kustomization.yaml
  kubernetes/netdata/namespace.yaml
  kubernetes/netdata/patch-child-stream-init.yaml
  kubernetes/netdata/patch-k8s-state-stream-init.yaml
  kubernetes/netdata/render
  kubernetes/netdata/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add Netdata Kubernetes manifests (#1368)
  kubernetes/netdata/Chart.yaml
  kubernetes/netdata/dbengine-pvc.yaml
  kubernetes/netdata/externalsecret.yaml
  kubernetes/netdata/helm/netdata/child/configmap.yaml
  kubernetes/netdata/helm/netdata/child/daemonset.yaml
  kubernetes/netdata/helm/netdata/clusterrole.yaml
  kubernetes/netdata/helm/netdata/clusterrolebinding.yaml
  kubernetes/netdata/helm/netdata/k8s-state/configmap.yaml
  kubernetes/netdata/helm/netdata/k8s-state/deployment.yaml
  kubernetes/netdata/helm/netdata/k8s-state/persistentvolumeclaim.yaml
  kubernetes/netdata/helm/netdata/parent/configmap.yaml
  kubernetes/netdata/helm/netdata/parent/deployment.yaml
  kubernetes/netdata/helm/netdata/parent/ingress.yaml
  kubernetes/netdata/helm/netdata/parent/persistentvolumeclaim.yaml
  kubernetes/netdata/helm/netdata/parent/service.yaml
  kubernetes/netdata/helm/netdata/serviceaccount.yaml
  kubernetes/netdata/kustomization.yaml
  kubernetes/netdata/namespace.yaml
  kubernetes/netdata/patch-child-stream-init.yaml
  kubernetes/netdata/patch-k8s-state-stream-init.yaml
  kubernetes/netdata/render
  kubernetes/netdata/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Update Renovate version constraints
  .renovaterc
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
