Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

.pre-commit-config.yaml:

---
exclude: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^ansible/
  - id: check-added-large-files
    exclude: ^esphome/img/
  - id: check-merge-conflict

- repo: https://github.com/lyz-code/yamlfix
  rev: 1.19.1
  hooks:
  - id: yamlfix
    args: [-c, .yamlfix.toml]
    exclude: ^ansible/|service-blueprint\.template\.yaml$|kubernetes/hass/config/configuration\.yaml$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.38.0
  hooks:
  - id: yamllint
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    types_or: [json, markdown]

- repo: local
  hooks:
  - id: block-secrets-file
    name: block .secrets.age file
    language: fail
    entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate
    files: ^\.secrets\.age$
  - id: ansible-lint
    name: ansible-lint
    entry: scripts/ansible-lint-wrapper
    language: system
    files: ^ansible/.*$
    require_serial: true
  - id: format-kustomization
    name: format kustomization.yaml files
    entry: scripts/format-kustomization
    language: system
    files: ^kubernetes/.*/kustomization\.ya?ml$
    pass_filenames: true
  - id: kubeconform
    name: kubeconform manifest validation
    entry: kubernetes/scripts/kubeconform-wrapper
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
    exclude: (helm\.yaml|patch-.*\.yaml)$
  - id: ak-tool-generate
    name: generate authentik terraform configs
    entry: kubernetes/scripts/ak-tool generate
    language: system
    files: ^kubernetes/.*/.*\.(ya?ml)$
    pass_filenames: false
    always_run: false
  - id: hass-check-config
    name: validate home assistant config
    entry: scripts/hass-check-config
    language: system
    files: ^(kubernetes/hass/|scripts/hass-check-config)
    pass_filenames: false
  - id: kyverno-validate
    name: kyverno policy validation
    entry: kubernetes/scripts/kyverno-wrapper
    language: system
    pass_filenames: true
    files: ^kubernetes/.*\.(ya?ml)$
  - id: esphome-hosts-check
    name: check ESPHome hosts terraform is up to date
    entry: scripts/gen-esphome-hosts --check
    language: python
    additional_dependencies: [pyyaml]
    files: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$
    pass_filenames: false
  - id: beads-flush
    name: beads pre-commit flush
    entry: bash -c '[ "$GITHUB_ACTIONS" = "true" ] && exit 0; [ "$(git rev-parse --abbrev-ref
      HEAD)" != "beads-sync" ] && exit 0; bd hooks run pre-commit'
    language: system
    pass_filenames: false
    always_run: true
    stages: [pre-commit]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.11.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.47.0
  hooks:
  - id: markdownlint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.105.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
  - id: terraform_tflint
  - id: terraform_providers_lock
    args:
    - --hook-config=--mode=always-regenerate-lockfile
    - --args=-platform=linux_amd64
    - --args=-platform=darwin_arm64

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.10
  hooks:
  - id: actionlint

- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 42.95.1
  hooks:
  - id: renovate-config-validator

Deploy Frigate NVR with Viewu notifications
  kubernetes/frigate/Chart.yaml
  kubernetes/frigate/config/config.yml
  kubernetes/frigate/deploy-viewu.yaml
  kubernetes/frigate/externalsecret.yaml
  kubernetes/frigate/helm/frigate/config-pvc.yaml
  kubernetes/frigate/helm/frigate/deployment.yaml
  kubernetes/frigate/helm/frigate/ingress.yaml
  kubernetes/frigate/helm/frigate/media-pvc.yaml
  kubernetes/frigate/helm/frigate/service.yaml
  kubernetes/frigate/ingress-api.yaml
  kubernetes/frigate/kustomization.yaml
  kubernetes/frigate/namespace.yaml
  kubernetes/frigate/render
  kubernetes/frigate/values.yaml
  kubernetes/nvidia-device-plugin/helm/configmap.yml
  kubernetes/nvidia-device-plugin/helm/daemonset-device-plugin.yml
  kubernetes/nvidia-device-plugin/helm/daemonset-mps-control-daemon.yml
  kubernetes/nvidia-device-plugin/values.yaml
  opentofu/modules/authentik/generated-frigate.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add garagepi eth0 interface and fix bootstrap-secrets
  ansible/host_vars/garagepi.yaml
  kubernetes/smokeping-prober/config.yaml
  opentofu/locals.tf
  scripts/bootstrap-secrets
Due: ansible-lint, kubeconform, ak-tool-generate, kyverno-validate

Update IPv6 prefix from 2ece:7500 to 2eec:a000
  ansible/group_vars/all/ipv6.yaml
  opentofu/locals.tf
Due: ansible-lint

Use rebase strategy for Renovate automerge
  .renovaterc
Due: none

Refactor cross-seed Prowlarr config and add 3 indexers
  kubernetes/cross-seed/config.js
  kubernetes/cross-seed/deploy.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Deploy Komga with shelfmark-comics staging flow
  kubernetes/komga/deploy.yaml
  kubernetes/komga/externalsecret-oidc.yaml
  kubernetes/komga/ingress.yaml
  kubernetes/komga/kustomization.yaml
  kubernetes/komga/namespace.yaml
  kubernetes/komga/pvc-config.yaml
  kubernetes/komga/service.yaml
  kubernetes/shelfmark-comics/deploy.yaml
  kubernetes/shelfmark-comics/externalsecret-oidc.yaml
  kubernetes/shelfmark-comics/ingress.yaml
  kubernetes/shelfmark-comics/kustomization.yaml
  kubernetes/shelfmark-comics/namespace.yaml
  kubernetes/shelfmark-comics/pvc-config.yaml
  kubernetes/shelfmark-comics/service.yaml
  opentofu/modules/authentik/generated-komga-oidc-1p.tf
  opentofu/modules/authentik/generated-komga.tf
  opentofu/modules/authentik/generated-shelfmark-comics-oidc-1p.tf
  opentofu/modules/authentik/generated-shelfmark-comics.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Remove frigate NVR deployment and viewu companion
  kubernetes/frigate/Chart.yaml
  kubernetes/frigate/config/config.yml
  kubernetes/frigate/deploy-viewu.yaml
  kubernetes/frigate/externalsecret.yaml
  kubernetes/frigate/helm/frigate/config-pvc.yaml
  kubernetes/frigate/helm/frigate/deployment.yaml
  kubernetes/frigate/helm/frigate/ingress.yaml
  kubernetes/frigate/helm/frigate/media-pvc.yaml
  kubernetes/frigate/helm/frigate/service.yaml
  kubernetes/frigate/ingress-api.yaml
  kubernetes/frigate/kustomization.yaml
  kubernetes/frigate/namespace.yaml
  kubernetes/frigate/render
  kubernetes/frigate/values.yaml
  opentofu/modules/authentik/generated-frigate.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Update dawarich to 1.6.1
  kubernetes/dawarich/deploy-sidekiq.yaml
  kubernetes/dawarich/deploy-web.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Set openarchiver meilisearch to production mode
  kubernetes/openarchiver/meilisearch-statefulset.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

immich: bump chart to v0.11.1, pin images via kustomize
  kubernetes/immich/Chart.yaml
  kubernetes/immich/kustomization.yaml
  kubernetes/immich/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Pin immich images by digest
  kubernetes/immich/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

cross-seed: add prowlarr indexer 17
  kubernetes/cross-seed/config.js
Due: none

qbittorrent: move bittorrent port from 51414 to 51413
  kubernetes/qbittorrent/deploy.yaml
  kubernetes/qbittorrent/service.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Add Codex account fallback and set thinking to high
  kubernetes/frank/openclaw.json
Due: none

Add Tailscale ingress for byparr
  kubernetes/byparr/kustomization.yaml
  kubernetes/byparr/tailscale-ingress.yaml
  opentofu/tailscale.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add dnd:read bot scope to Home Slack app
  opentofu/slack/apps.tf
Due: none

hass: suppress habluetooth.manager startup error
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Link repo skills for Codex
  .agents/skills/mcp-cli
  .agents/skills/renovate-eval
Due: none

cross-seed: add cleanup sidecar for stuck partials
  kubernetes/cross-seed/cleanup.js
  kubernetes/cross-seed/deploy.yaml
  kubernetes/cross-seed/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Update Renovate version constraints
  .renovaterc
Due: none

Add Prowlarr 18 to cross-seed
  kubernetes/cross-seed/config.js
Due: none
