Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

.pre-commit-config.yaml:

---
exclude: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^ansible/
  - id: check-added-large-files
    exclude: ^esphome/img/
  - id: check-merge-conflict

- repo: https://github.com/lyz-code/yamlfix
  rev: 1.18.0
  hooks:
  - id: yamlfix
    args: [-c, .yamlfix.toml]
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.37.1
  hooks:
  - id: yamllint
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    types_or: [json, markdown]

- repo: local
  hooks:
  - id: ansible-lint
    name: ansible-lint
    entry: scripts/ansible-lint-wrapper
    language: system
    files: ^ansible/.*$
    require_serial: true
  - id: format-kustomization
    name: format kustomization.yaml files
    entry: scripts/format-kustomization
    language: system
    files: ^kubernetes/.*/kustomization\.ya?ml$
    pass_filenames: true
  - id: kubeconform
    name: kubeconform manifest validation
    entry: kubernetes/scripts/kubeconform-wrapper
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
    exclude: (helm\.yaml|patch-.*\.yaml)$
  - id: validate-iscsi-labels
    name: validate iSCSI PVC labels
    entry: kubernetes/scripts/validate-iscsi-labels
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
  - id: ak-tool-generate
    name: generate authentik terraform configs
    entry: kubernetes/scripts/ak-tool generate
    language: system
    files: ^kubernetes/.*/.*\.(ya?ml)$
    pass_filenames: false
    always_run: false

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.11.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.2
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.45.0
  hooks:
  - id: markdownlint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.103.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
  - id: terraform_tflint
  - id: terraform_providers_lock
    args:
    - --hook-config=--mode=always-regenerate-lockfile
    - --args=-platform=linux_amd64
    - --args=-platform=darwin_arm64

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.8
  hooks:
  - id: actionlint

- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 41.165.5
  hooks:
  - id: renovate-config-validator

Configure ARA to display timestamps in America/New_York timezone
  kubernetes/ara/helm/deployment.yaml
  kubernetes/ara/values.yaml
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Add authentik exclude for CWA downloader API
  kubernetes/cwa/ingress-downloader.yaml
  opentofu/modules/authentik/generated-cwa-downloader.tf
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Add Bookshelf (Readarr fork) for ebook management
  kubernetes/bookshelf/copy-to-cwa.sh
  kubernetes/bookshelf/deploy.yaml
  kubernetes/bookshelf/ingress.yaml
  kubernetes/bookshelf/kustomization.yaml
  kubernetes/bookshelf/pvc-config.yaml
  kubernetes/bookshelf/service.yaml
  opentofu/modules/authentik/generated-bookshelf.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Don't put CWA OPDS behind authentik
  kubernetes/cwa/ingress.yaml
  kubernetes/ingress-nginx/helm/controller-configmap.yaml
  kubernetes/ingress-nginx/values.yaml
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Fix nginx ingress snippet annotations blocking Authentik auth requests
  kubernetes/cwa/ingress.yaml
  kubernetes/ingress-nginx/helm/controller-configmap.yaml
  kubernetes/ingress-nginx/values.yaml
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Add Velero monitoring with Prometheus and Healthchecks.io
  kubernetes/velero/healthcheck-cronjob.yaml
  kubernetes/velero/healthcheck-externalsecret.yaml
  kubernetes/velero/healthcheck.sh
  kubernetes/velero/helm/service.yaml
  kubernetes/velero/kustomization.yaml
  kubernetes/velero/run-kopia
  kubernetes/velero/values.yaml
Due: format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Enable Tailscale DNS with exit nodes via consolidated configuration
  opentofu/.terraform.lock.hcl
  opentofu/locals.tf
  opentofu/main.tf
  opentofu/modules/dns/oneill.tf
  opentofu/modules/dns/outputs.tf
  opentofu/modules/dns/variables.tf
  opentofu/tailscale.tf
  opentofu/unifi.tf
Due: none

Migrate Home Assistant to Helm chart with PostgreSQL backend
  .gitignore
  .pre-commit-config.yaml
  kubernetes/hass/Chart.yaml
  kubernetes/hass/config/automations-manual.yaml
  kubernetes/hass/config/configuration.yaml
  kubernetes/hass/config/input_boolean.yaml
  kubernetes/hass/config/input_select.yaml
  kubernetes/hass/deploy.yaml
  kubernetes/hass/externalsecret.yaml
  kubernetes/hass/hass-externalsecrets.yaml
  kubernetes/hass/hass-postgres-cluster.yaml
  kubernetes/hass/helm/ingress.yaml
  kubernetes/hass/helm/service.yaml
  kubernetes/hass/helm/serviceaccount.yaml
  kubernetes/hass/helm/statefulset.yaml
  kubernetes/hass/ingress.yaml
  kubernetes/hass/kustomization.yaml
  kubernetes/hass/mysql-deploy.yaml
  kubernetes/hass/mysql-pvc.yaml
  kubernetes/hass/mysql-service.yaml
  kubernetes/hass/namespace.yaml
  kubernetes/hass/pvc.yaml
  kubernetes/hass/render
  kubernetes/hass/service.yaml
  kubernetes/hass/values.yaml
  scripts/analyze-chart-changes.py
  scripts/hass-check-config
Due: format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Enable automerge for GitHub Actions digest updates
  .renovaterc
Due: none

Upgrade Home Assistant to 2025.11 and remove version pin
  kubernetes/hass/helm/statefulset.yaml
  kubernetes/hass/values.yaml
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Increase refrigerator freezer alert threshold to 15°F
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Fix Prometheus scraping of Home Assistant
  kubernetes/prometheus/config/prometheus.yml
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Configure smartd for disk health monitoring with email alerts
  ansible/roles/common/handlers/main.yaml
  ansible/roles/common/tasks/main.yaml
  ansible/roles/common/templates/smartd.conf.j2
Due: ansible-lint

Allow unauthenticated access to Prometheus API endpoints
  kubernetes/prometheus/ingress.yaml
  opentofu/modules/authentik/generated-prometheus.tf
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Add rreading-glasses Kubernetes deployment
  kubernetes/rreading-glasses/deploy.yaml
  kubernetes/rreading-glasses/externalsecret.yaml
  kubernetes/rreading-glasses/ingress.yaml
  kubernetes/rreading-glasses/kustomization.yaml
  kubernetes/rreading-glasses/postgres-cluster.yaml
  kubernetes/rreading-glasses/service.yaml
Due: format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Remove resource requests and limits from rreading-glasses deployment
  kubernetes/rreading-glasses/deploy.yaml
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Migrate ESP32 devices to ESP-IDF framework
  .gitignore
  esphome/common/ams-monitor.yaml
  esphome/common/device-classes/lolin-s3-mini.yaml
  esphome/decommissioned/README.md
  esphome/decommissioned/water-pump.yaml
  esphome/x1c-bentobox.yaml
Due: none

Configure Renovate to manage Caddy and route53 plugin together
  .renovaterc
Due: none

Replace Caddy with Traefik for PeaNUT reverse proxy
  .renovaterc
  ansible/roles/nut/files/Dockerfile
  ansible/roles/nut/files/docker-compose.yaml
  ansible/roles/nut/handlers/main.yaml
  ansible/roles/nut/tasks/peanut.yaml
  ansible/roles/nut/templates/Caddyfile.j2
  ansible/roles/nut/templates/peanut.env.j2
Due: ansible-lint

Remove Caddy build workflow
  .github/workflows/peanut-caddy-build.yaml
Due: none
