Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

.pre-commit-config.yaml:

---
exclude: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^ansible/
  - id: check-added-large-files
    exclude: ^esphome/img/
  - id: check-merge-conflict

- repo: https://github.com/lyz-code/yamlfix
  rev: 1.19.1
  hooks:
  - id: yamlfix
    args: [-c, .yamlfix.toml]
    exclude: ^ansible/|service-blueprint\.template\.yaml$|kubernetes/hass/config/configuration\.yaml$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.38.0
  hooks:
  - id: yamllint
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    types_or: [json, markdown]

- repo: local
  hooks:
  - id: block-secrets-file
    name: block .secrets.age file
    language: fail
    entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate
    files: ^\.secrets\.age$
  - id: ansible-lint
    name: ansible-lint
    entry: scripts/ansible-lint-wrapper
    language: system
    files: ^ansible/.*$
    require_serial: true
  - id: format-kustomization
    name: format kustomization.yaml files
    entry: scripts/format-kustomization
    language: system
    files: ^kubernetes/.*/kustomization\.ya?ml$
    pass_filenames: true
  - id: kubeconform
    name: kubeconform manifest validation
    entry: kubernetes/scripts/kubeconform-wrapper
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
    exclude: (helm\.yaml|patch-.*\.yaml)$
  - id: ak-tool-generate
    name: generate authentik terraform configs
    entry: kubernetes/scripts/ak-tool generate
    language: system
    files: ^kubernetes/.*/.*\.(ya?ml)$
    pass_filenames: false
    always_run: false
  - id: hass-check-config
    name: validate home assistant config
    entry: scripts/hass-check-config
    language: system
    files: ^(kubernetes/hass/|scripts/hass-check-config)
    pass_filenames: false
  - id: kyverno-validate
    name: kyverno policy validation
    entry: kubernetes/scripts/kyverno-wrapper
    language: system
    pass_filenames: true
    files: ^kubernetes/.*\.(ya?ml)$
  - id: esphome-hosts-check
    name: check ESPHome hosts terraform is up to date
    entry: scripts/gen-esphome-hosts --check
    language: python
    additional_dependencies: [pyyaml]
    files: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$
    pass_filenames: false
  - id: beads-flush
    name: beads pre-commit flush
    entry: bash -c '[ "$GITHUB_ACTIONS" = "true" ] && exit 0; [ "$(git rev-parse --abbrev-ref
      HEAD)" != "beads-sync" ] && exit 0; bd hooks run pre-commit'
    language: system
    pass_filenames: false
    always_run: true
    stages: [pre-commit]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.11.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.47.0
  hooks:
  - id: markdownlint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.105.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
  - id: terraform_tflint
  - id: terraform_providers_lock
    args:
    - --hook-config=--mode=always-regenerate-lockfile
    - --args=-platform=linux_amd64
    - --args=-platform=darwin_arm64

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.10
  hooks:
  - id: actionlint

- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 42.95.1
  hooks:
  - id: renovate-config-validator

Fix Home Assistant package name in renovate version script
  scripts/update-renovate-versions.py
Due: none

Update Renovate version constraints
  .renovaterc
Due: none

Add state_class to WH40 rain sensor
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Revise Kubernetes upgrade runbook
  docs/kubernetes-upgrade-playbook.md
Due: none

Upgrade Kubernetes 1.33.8 → 1.34.6
  ansible/group_vars/kubernetes.yaml
  ansible/roles/kubeadm/templates/kubeadm.conf.j2
  docs/kubernetes-upgrade-playbook.md
  kubernetes/authentik/authentik-postgres-cluster.yaml
  scripts/rolling-node-reboot.sh
Due: ansible-lint, kubeconform, ak-tool-generate, kyverno-validate

Enable LimitedSwap and spegel PreferSameNode
  ansible/roles/kubeadm/templates/kubeadm.conf.j2
  kubernetes/spegel/helm/templates/daemonset.yaml
  kubernetes/spegel/helm/templates/service.yaml
  kubernetes/spegel/values.yaml
Due: ansible-lint, kubeconform, ak-tool-generate, kyverno-validate

Update qbit_manage port to 8181
  kubernetes/qbit-manage/deploy.yaml
  kubernetes/qbit-manage/ingress.yaml
  kubernetes/qbit-manage/service.yaml
  opentofu/modules/authentik/generated-qbit-manage.tf
Due: kubeconform, ak-tool-generate, kyverno-validate

Modernize cross-seed config and add Sonarr/Radarr ID searching
  kubernetes/cross-seed/config.js
  kubernetes/cross-seed/deploy.yaml
  kubernetes/sonarr/ingress.yaml
  opentofu/modules/authentik/generated-sonarr.tf
Due: kubeconform, ak-tool-generate, kyverno-validate

Modernize cross-seed config and add Sonarr/Radarr ID searching (#1940)
  kubernetes/cross-seed/config.js
  kubernetes/cross-seed/deploy.yaml
  kubernetes/sonarr/ingress.yaml
  opentofu/modules/authentik/generated-sonarr.tf
Due: kubeconform, ak-tool-generate, kyverno-validate

Revert descheduler to v0.34.0
  kubernetes/descheduler/Chart.yaml
  kubernetes/descheduler/helm/templates/clusterrole.yaml
  kubernetes/descheduler/helm/templates/clusterrolebinding.yaml
  kubernetes/descheduler/helm/templates/configmap.yaml
  kubernetes/descheduler/helm/templates/cronjob.yaml
  kubernetes/descheduler/helm/templates/serviceaccount.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Gitignore Claude Code ephemeral files
  .gitignore
Due: none

Convert p2, p3, p4 from Proxmox to bare metal k8s nodes
  ansible/group_vars/nut.yaml
  ansible/host_vars/k3.yaml
  ansible/host_vars/k5.yaml
  ansible/host_vars/p2.yaml
  ansible/host_vars/p3.yaml
  ansible/host_vars/p4.yaml
  ansible/inventory/default
  ansible/roles/os-install/files/post-install.sh
  ansible/roles/os-install/files/preseed.trixie.cfg
  docs/kubernetes-upgrade-playbook.md
  esphome/k3-power.yaml
  esphome/k4-power.yaml
  esphome/k5-power.yaml
  kubernetes/homepage/services.yaml
  kubernetes/netdata/values.yaml
  kubernetes/prometheus/config/prometheus.yml
  kubernetes/smokeping-prober/config.yaml
  opentofu/esphome-hosts.tf
  opentofu/locals.tf
  opentofu/modules/authentik/proxmox.tf
  opentofu/proxmox.tf
  opentofu/unifi.tf
Due: ansible-lint, kubeconform, ak-tool-generate, kyverno-validate, esphome-hosts-check

Move openarchiver-status script to kubernetes/openarchiver/scripts/
  kubernetes/openarchiver/scripts/status
Due: none

Use service discovery for cross-seed Sonarr/Radarr URLs
  kubernetes/cross-seed/config.js
Due: none

Convert p2, p3, p4 from Proxmox to bare metal k8s nodes
  ansible/roles/os-install/files/preseed.trixie.cfg
  opentofu/modules/authentik/proxmox.tf
  opentofu/proxmox.tf
Due: ansible-lint

Fix cross-seed UID, config defaults, and cleanup
  kubernetes/cross-seed/config.js
  kubernetes/cross-seed/deploy.yaml
  kubernetes/cross-seed/kustomization.yaml
  kubernetes/cross-seed/pvc-config.yaml
  kubernetes/cross-seed/pvc.yaml
  kubernetes/qbittorrent/deploy.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Clarify renovate-eval label guidance for security patches
  .claude/skills/renovate-eval/prompts/eval-data-schema.md
  .claude/skills/renovate-eval/prompts/evaluator.md
  .claude/skills/renovate-eval/prompts/report-format.md
Due: none

Fix basement clock template ValueError on idle media player
  kubernetes/hass/config/packages/basement_clock.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Fix stale image digest for 18.3-standard-trixie
  kubernetes/ara/ara-postgres-cluster.yaml
  kubernetes/authentik/authentik-postgres-cluster.yaml
  kubernetes/crowdsec/postgres-cluster.yaml
  kubernetes/hass/hass-postgres-cluster.yaml
  kubernetes/healthchecks/postgres-cluster.yaml
  kubernetes/homebox/homebox-postgres-cluster.yaml
  kubernetes/karakeep/postgres-cluster.yaml
  kubernetes/n8n/n8n-postgres-cluster.yaml
  kubernetes/openarchiver/postgres-cluster.yaml
  kubernetes/pinepods/postgres-cluster.yaml
  kubernetes/rreading-glasses/postgres-cluster.yaml
  kubernetes/semaphore/semaphore-postgres-cluster.yaml
  kubernetes/speakr/speakr-postgres-cluster.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Quote YAML time trigger values to prevent sexagesimal parsing
  .yamlfix.toml
  kubernetes/hass/config/packages/birdfy.yaml
  kubernetes/hass/config/packages/ego_charger_maintenance.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Set Frank thinking default to medium
  kubernetes/frank/openclaw.json
Due: none

Add Audiobookshelf deployment with Authentik OIDC
  kubernetes/audiobookshelf/deploy.yaml
  kubernetes/audiobookshelf/externalsecret-oidc.yaml
  kubernetes/audiobookshelf/ingress.yaml
  kubernetes/audiobookshelf/kustomization.yaml
  kubernetes/audiobookshelf/namespace.yaml
  kubernetes/audiobookshelf/pvc-config.yaml
  kubernetes/audiobookshelf/pvc-metadata.yaml
  kubernetes/audiobookshelf/service.yaml
  kubernetes/shelfmark/deploy.yaml
  opentofu/modules/authentik/generated-audiobookshelf-oidc-1p.tf
  opentofu/modules/authentik/generated-audiobookshelf.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Deploy Frigate NVR with Viewu notifications
  kubernetes/frigate/Chart.yaml
  kubernetes/frigate/config/config.yml
  kubernetes/frigate/deploy-viewu.yaml
  kubernetes/frigate/externalsecret.yaml
  kubernetes/frigate/helm/frigate/config-pvc.yaml
  kubernetes/frigate/helm/frigate/deployment.yaml
  kubernetes/frigate/helm/frigate/ingress.yaml
  kubernetes/frigate/helm/frigate/media-pvc.yaml
  kubernetes/frigate/helm/frigate/service.yaml
  kubernetes/frigate/ingress-api.yaml
  kubernetes/frigate/kustomization.yaml
  kubernetes/frigate/namespace.yaml
  kubernetes/frigate/render
  kubernetes/frigate/values.yaml
  kubernetes/nvidia-device-plugin/helm/configmap.yml
  kubernetes/nvidia-device-plugin/helm/daemonset-device-plugin.yml
  kubernetes/nvidia-device-plugin/helm/daemonset-mps-control-daemon.yml
  kubernetes/nvidia-device-plugin/values.yaml
  opentofu/modules/authentik/generated-frigate.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate
