Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

.pre-commit-config.yaml:

---
exclude: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^ansible/
  - id: check-added-large-files
    exclude: ^esphome/img/
  - id: check-merge-conflict

- repo: https://github.com/lyz-code/yamlfix
  rev: 1.19.0
  hooks:
  - id: yamlfix
    args: [-c, .yamlfix.toml]
    exclude: ^ansible/|service-blueprint\.template\.yaml$|kubernetes/hass/config/configuration\.yaml$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.37.1
  hooks:
  - id: yamllint
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    types_or: [json, markdown]

- repo: local
  hooks:
  - id: ansible-lint
    name: ansible-lint
    entry: scripts/ansible-lint-wrapper
    language: system
    files: ^ansible/.*$
    require_serial: true
  - id: format-kustomization
    name: format kustomization.yaml files
    entry: scripts/format-kustomization
    language: system
    files: ^kubernetes/.*/kustomization\.ya?ml$
    pass_filenames: true
  - id: kubeconform
    name: kubeconform manifest validation
    entry: kubernetes/scripts/kubeconform-wrapper
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
    exclude: (helm\.yaml|patch-.*\.yaml)$
  - id: ak-tool-generate
    name: generate authentik terraform configs
    entry: kubernetes/scripts/ak-tool generate
    language: system
    files: ^kubernetes/.*/.*\.(ya?ml)$
    pass_filenames: false
    always_run: false
  - id: hass-check-config
    name: validate home assistant config
    entry: scripts/hass-check-config
    language: system
    files: ^(kubernetes/hass/|scripts/hass-check-config)
    pass_filenames: false
  - id: kyverno-validate
    name: kyverno policy validation
    entry: kubernetes/scripts/kyverno-wrapper
    language: system
    pass_filenames: true
    files: ^kubernetes/.*\.(ya?ml)$

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.11.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.8
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.46.0
  hooks:
  - id: markdownlint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.104.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
  - id: terraform_tflint
  - id: terraform_providers_lock
    args:
    - --hook-config=--mode=always-regenerate-lockfile
    - --args=-platform=linux_amd64
    - --args=-platform=darwin_arm64

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.9
  hooks:
  - id: actionlint

- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 42.38.0
  hooks:
  - id: renovate-config-validator

Update Renovate version constraints
  .renovaterc
Due: none

Add Netdata Ansible role and TLS streaming
  ansible/group_vars/all/netdata.yaml
  ansible/roles/netdata/defaults/main.yaml
  ansible/roles/netdata/handlers/main.yaml
  ansible/roles/netdata/tasks/main.yaml
  ansible/roles/netdata/templates/netdata.conf.j2
  ansible/roles/netdata/templates/stream.conf.j2
  ansible/site.yaml
  kubernetes/netdata/certificate-streaming.yaml
  kubernetes/netdata/helm/netdata/child/configmap.yaml
  kubernetes/netdata/helm/netdata/child/daemonset.yaml
  kubernetes/netdata/helm/netdata/k8s-state/configmap.yaml
  kubernetes/netdata/helm/netdata/k8s-state/deployment.yaml
  kubernetes/netdata/helm/netdata/parent/deployment.yaml
  kubernetes/netdata/helm/netdata/parent/ingress.yaml
  kubernetes/netdata/kustomization.yaml
  kubernetes/netdata/netdata-streaming-lb.yaml
  kubernetes/netdata/render
  kubernetes/netdata/values.yaml
Due: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Expose Netdata streaming to flux VPS via Tailscale
  ansible/host_vars/flux/netdata.yaml
  ansible/roles/netdata/templates/stream.conf.j2
  kubernetes/netdata/kustomization.yaml
  kubernetes/netdata/tailscale-service.yaml
  opentofu/tailscale.tf
Due: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add OpenClaw Kubernetes deployment
  kubernetes/openclaw/deployment.yaml
  kubernetes/openclaw/externalsecret.yaml
  kubernetes/openclaw/ingress-ui.yaml
  kubernetes/openclaw/ingress.yaml
  kubernetes/openclaw/kustomization.yaml
  kubernetes/openclaw/namespace.yaml
  kubernetes/openclaw/openclaw.json
  kubernetes/openclaw/pvc.yaml
  kubernetes/openclaw/service.yaml
  opentofu/modules/authentik/generated-openclaw.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add Frank (OpenClaw) Kubernetes deployment
  kubernetes/frank/deployment.yaml
  kubernetes/frank/externalsecret.yaml
  kubernetes/frank/ingress-ui.yaml
  kubernetes/frank/ingress.yaml
  kubernetes/frank/kustomization.yaml
  kubernetes/frank/namespace.yaml
  kubernetes/frank/openclaw.json
  kubernetes/frank/pvc.yaml
  kubernetes/frank/service.yaml
  opentofu/modules/authentik/generated-frank.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add Frank Kubernetes deployment
  kubernetes/frank/deployment.yaml
  kubernetes/frank/externalsecret.yaml
  kubernetes/frank/ingress-ui.yaml
  kubernetes/frank/ingress.yaml
  kubernetes/frank/kustomization.yaml
  kubernetes/frank/namespace.yaml
  kubernetes/frank/openclaw.json
  kubernetes/frank/pvc.yaml
  kubernetes/frank/service.yaml
  opentofu/modules/authentik/generated-frank.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add Frank Kubernetes deployment (#1406)
  kubernetes/frank/deployment.yaml
  kubernetes/frank/externalsecret.yaml
  kubernetes/frank/ingress-ui.yaml
  kubernetes/frank/ingress.yaml
  kubernetes/frank/kustomization.yaml
  kubernetes/frank/namespace.yaml
  kubernetes/frank/openclaw.json
  kubernetes/frank/pvc.yaml
  kubernetes/frank/service.yaml
  opentofu/modules/authentik/generated-frank.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add Authentik SSO to Netdata dashboard
  kubernetes/netdata/helm/netdata/parent/ingress.yaml
  kubernetes/netdata/kustomization.yaml
  kubernetes/netdata/values.yaml
  opentofu/modules/authentik/generated-netdata.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add Authentik SSO to Netdata dashboard (#1407)
  kubernetes/netdata/helm/netdata/parent/ingress.yaml
  kubernetes/netdata/kustomization.yaml
  kubernetes/netdata/values.yaml
  opentofu/modules/authentik/generated-netdata.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add Netdata MCP server and upgrade mcp-cli to v0.3.0
  .mcp_servers.json
  flake.nix
Due: none

Fix RPi QEMU integration test disk space failure
  tests/rpi/Dockerfile
  tests/rpi/entrypoint.sh
  tests/rpi/verify.sh
Due: none

Fix RPi QEMU integration test disk space failure (#1410)
  tests/rpi/Dockerfile
  tests/rpi/entrypoint.sh
  tests/rpi/verify.sh
Due: none

Fix flux host_vars shadowed by directory
  ansible/host_vars/flux.yaml
  ansible/host_vars/flux/netdata.yaml
Due: ansible-lint

Add new external-secrets CRDs to kustomization
  kubernetes/external-secrets/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Deploy Proxmox PVE exporter for cluster monitoring
  kubernetes/netdata/helm/netdata/parent/configmap.yaml
  kubernetes/netdata/helm/netdata/parent/deployment.yaml
  kubernetes/netdata/values.yaml
  kubernetes/prometheus-pve-exporter/deployment.yaml
  kubernetes/prometheus-pve-exporter/externalsecret.yaml
  kubernetes/prometheus-pve-exporter/kustomization.yaml
  kubernetes/prometheus-pve-exporter/service.yaml
  kubernetes/prometheus/config/prometheus.yml
  opentofu/proxmox-pve-exporter.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add pbr to ARA runtime dependencies
  flake.nix
  kubernetes/semaphore/nix-flake.nix
Due: none

Remove decommissioned hosts from smokeping targets
  kubernetes/smokeping-prober/config.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Clear gyb config dir before copying on restart
  kubernetes/got-your-back/run
Due: none

Add timezone management to common Ansible role
  ansible/group_vars/all/main.yaml
  ansible/roles/common/tasks/main.yaml
Due: ansible-lint

Add pollonly to NUT UPS drivers to fix CPU spin
  ansible/group_vars/nut.yaml
Due: ansible-lint

Reduce k3/k4 CPU steal time
  ansible/roles/proxmox/tasks/main.yaml
  kubernetes/restic/cronjob-nfs.yaml.j2
  kubernetes/restic/cronjobs/cronjob-b2-check.yaml
  kubernetes/restic/cronjobs/cronjob-b2-forget.yaml
  kubernetes/restic/cronjobs/cronjob-b2.yaml
  kubernetes/restic/cronjobs/cronjob-flux-check.yaml
  kubernetes/restic/cronjobs/cronjob-flux-forget.yaml
  kubernetes/restic/cronjobs/cronjob-main-check.yaml
  kubernetes/restic/cronjobs/cronjob-main-copy.yaml
  kubernetes/restic/cronjobs/cronjob-main-forget.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-b2-check.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-b2-forget.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-check.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-copy.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-forget.yaml
Due: ansible-lint, kubeconform, ak-tool-generate, kyverno-validate

Add daily frank pod restart via descheduler PodLifeTime
  kubernetes/descheduler/helm/templates/configmap.yaml
  kubernetes/descheduler/helm/templates/cronjob.yaml
  kubernetes/descheduler/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Switch ArgoCD to insecure mode for ingress TLS termination
  kubernetes/argocd/helm/templates/argocd-configs/argocd-cmd-params-cm.yaml
  kubernetes/argocd/helm/templates/argocd-server/certificate.yaml
  kubernetes/argocd/helm/templates/argocd-server/ingress.yaml
  kubernetes/argocd/kustomization.yaml
  kubernetes/argocd/tailscale-ingress.yaml
  kubernetes/argocd/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Switch ArgoCD to insecure mode for ingress TLS termination (#1430)
  kubernetes/argocd/helm/templates/argocd-configs/argocd-cmd-params-cm.yaml
  kubernetes/argocd/helm/templates/argocd-server/certificate.yaml
  kubernetes/argocd/helm/templates/argocd-server/ingress.yaml
  kubernetes/argocd/kustomization.yaml
  kubernetes/argocd/tailscale-ingress.yaml
  kubernetes/argocd/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate
