Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

block-secrets-file:
  name: block .secrets.age file
  language: fail
  entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

esphome-hosts-check:
  name: check ESPHome hosts terraform is up to date
  entry: scripts/gen-esphome-hosts --check
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

Enable Slack thread replies for Frank
  kubernetes/frank/openclaw.json
Due: none

Isolate Slack app manifests into separate tofu root
  .claude/rules/opentofu/slack.md
  .claude/rules/opentofu/usage.md
  .secrets.tmpl
  opentofu/.terraform.lock.hcl
  opentofu/main.tf
  opentofu/slack-home.tf
  opentofu/slack/.terraform.lock.hcl
  opentofu/slack/README.md
  opentofu/slack/apps.tf
  opentofu/slack/main.tf
  scripts/slack-token-refresh
  scripts/tofu-slack
Due: none

Remove Huntarr (security vulnerabilities)
  kubernetes/huntarr/deploy.yaml
  kubernetes/huntarr/ingress.yaml
  kubernetes/huntarr/kustomization.yaml
  kubernetes/huntarr/pvc-config.yaml
  kubernetes/huntarr/service.yaml
  opentofu/modules/authentik/generated-huntarr.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Remove Huntarr (security vulnerabilities) (#1537)
  kubernetes/huntarr/deploy.yaml
  kubernetes/huntarr/ingress.yaml
  kubernetes/huntarr/kustomization.yaml
  kubernetes/huntarr/pvc-config.yaml
  kubernetes/huntarr/service.yaml
  opentofu/modules/authentik/generated-huntarr.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Migrate birdfy bird notification to Clayton Slack
  kubernetes/hass/config/kustomization.yaml
  kubernetes/hass/config/packages/birdfy.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Fix 1Password Connect credentials encoding
  scripts/bootstrap-secrets
Due: none

Add GameTrack API infrastructure for Frank
  kubernetes/frank/api-entrypoint.sh
  kubernetes/frank/deployment.yaml
  kubernetes/frank/kustomization.yaml
  kubernetes/frank/nginx.conf
  kubernetes/frank/postgres.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add decluttarr for automated media upgrade searching
  .gitignore
  kubernetes/byparr/deployment.yaml
  kubernetes/decluttarr/config-radarr.yaml
  kubernetes/decluttarr/config-sonarr.yaml
  kubernetes/decluttarr/deployment-radarr.yaml
  kubernetes/decluttarr/deployment-sonarr.yaml
  kubernetes/decluttarr/externalsecret.yaml
  kubernetes/decluttarr/kustomization.yaml
  kubernetes/decluttarr/namespace.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Update mcp-cli docs for new subcommand syntax
  .claude/rules/integrations/home-assistant.md
  .claude/rules/integrations/unifi.md
  .claude/skills/mcp-cli/SKILL.md
Due: none

Update ESPHome to 2026.1.5, add Renovate PR lifecycle rule
  .claude/rules/tooling/renovate.md
  esphome/scripts/esphome
Due: none

Add allowedOrigins for OpenClaw Control UI
  kubernetes/frank/openclaw.json
Due: none

Migrate ESPHome DNS records from Route53 to Cloudflare
  opentofu/esphome.tf
  opentofu/locals.tf
  scripts/gen-esphome-hosts
Due: esphome-hosts-check

Remove Route53 fnord.net zone and DDNS resources
  kubernetes/ddns-route53/deploy.yaml
  kubernetes/ddns-route53/externalsecret.yaml
  opentofu/ddns-route53.tf
  opentofu/flux.tf
  opentofu/modules/dns/fnord.tf
  opentofu/modules/dns/outputs.tf
Due: kubeconform, ak-tool-generate, kyverno-validate

Remove Route53 oneill.net zone and shared DDNS resources
  kubernetes/ddns-route53/deploy.yaml
  kubernetes/ddns-route53/externalsecret.yaml
  kubernetes/ddns-route53/kustomization.yaml
  opentofu/ddns-route53.tf
  opentofu/modules/dns/main.tf
  opentofu/modules/dns/oneill.tf
  opentofu/modules/dns/outputs.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Document HA REST API access and bearer token
  .claude/rules/integrations/home-assistant.md
Due: none

Migrate ACME.sh cert renewal from Route53 to Cloudflare
  kubernetes/acme-sh/acme-synology.sh
  kubernetes/acme-sh/acme-udmp.sh
  kubernetes/acme-sh/cronjob-synology.yaml
  kubernetes/acme-sh/cronjob-udmp.yaml
  kubernetes/acme-sh/externalsecret.yaml
  opentofu/cloudflare-dns-write.tf
Due: kubeconform, ak-tool-generate, kyverno-validate

Migrate Traefik ACME from Route53 to Cloudflare
  ansible/group_vars/all/cloudflare.yaml
  ansible/roles/traefik/files/docker-compose.yml
  ansible/roles/traefik/templates/traefik.env.j2
Due: ansible-lint

Migrate Proxmox ACME from Route53 to Cloudflare
  ansible/group_vars/all/aws.yaml
  ansible/group_vars/all/cloudflare.yaml
  ansible/group_vars/proxmox.yaml
  ansible/roles/proxmox/tasks/acme.yaml
  ansible/roles/proxmox/templates/aws-credentials.j2
  ansible/roles/proxmox/templates/cloudflare-credentials.j2
Due: ansible-lint

Migrate k.oneill.net DNS from Route53 to Cloudflare
  .claude/rules/integrations/cloudflare.md
  ansible/host_vars/gasherbrum.yaml
  ansible/host_vars/voron2.yaml
  kubernetes/cert-manager/externalsecret.yaml
  kubernetes/cert-manager/letsencrypt.yaml
  kubernetes/cert-manager/zerossl.yaml
  kubernetes/external-dns/externalsecret.yaml
  kubernetes/external-dns/helm/templates/deployment.yaml
  kubernetes/external-dns/kustomization.yaml
  kubernetes/external-dns/namespace.yaml
  kubernetes/external-dns/values.yaml
  opentofu/.terraform.lock.hcl
  opentofu/main.tf
  opentofu/modules/dns/k.oneill.tf
  opentofu/modules/dns/main.tf
  opentofu/modules/dns/oneill.tf
  opentofu/modules/dns/outputs.tf
  opentofu/tailscale.tf
  opentofu/unifi.tf
Due: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Update githubixx.runc role to 0.8.1+1.4.0
  ansible/galaxy/roles/githubixx.runc/.gitignore
  ansible/galaxy/roles/githubixx.runc/CHANGELOG.md
  ansible/galaxy/roles/githubixx.runc/README.md
  ansible/galaxy/roles/githubixx.runc/defaults/main.yml
  ansible/galaxy/roles/githubixx.runc/meta/main.yml
  ansible/galaxy/roles/githubixx.runc/molecule/default/molecule.yml
  ansible/galaxy/roles/githubixx.runc/molecule/default/verify.yml
  ansible/group_vars/kubernetes.yaml
  ansible/requirements.yml
Due: ansible-lint

Reboot VRRoom when Watch PC activity starts
  kubernetes/hass/config/automations-manual.yaml
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Reboot VRRoom when Watch PC activity starts (#1581)
  kubernetes/hass/config/automations-manual.yaml
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Guard HA automations against restart-triggered spurious firing
  kubernetes/hass/config/automations-manual.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Path conditions:
  block-secrets-file: any of: ^\.secrets\.age$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  esphome-hosts-check: any of: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
