Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

Allow manual flake builds
  .github/workflows/flake-builds.yaml
Due: none

Gate flake builds on flake changes
  .github/workflows/flake-builds.yaml
Due: none

Always run flake build jobs
  .github/workflows/flake-builds.yaml
Due: none

Align flake builds with other workflows
  .github/workflows/flake-builds.yaml
Due: none

Deploy PinePods podcast manager
  kubernetes/pinepods/Chart.yaml
  kubernetes/pinepods/externalsecret.yaml
  kubernetes/pinepods/helm/pinepods/deployment.yaml
  kubernetes/pinepods/helm/pinepods/ingress.yaml
  kubernetes/pinepods/helm/pinepods/pvc.yaml
  kubernetes/pinepods/helm/pinepods/secret.yaml
  kubernetes/pinepods/helm/pinepods/service.yaml
  kubernetes/pinepods/helm/valkey/configmap.yaml
  kubernetes/pinepods/helm/valkey/headless-svc.yaml
  kubernetes/pinepods/helm/valkey/health-configmap.yaml
  kubernetes/pinepods/helm/valkey/networkpolicy.yaml
  kubernetes/pinepods/helm/valkey/primary/application.yaml
  kubernetes/pinepods/helm/valkey/primary/service.yaml
  kubernetes/pinepods/helm/valkey/primary/serviceaccount.yaml
  kubernetes/pinepods/helm/valkey/scripts-configmap.yaml
  kubernetes/pinepods/kustomization.yaml
  kubernetes/pinepods/namespace.yaml
  kubernetes/pinepods/postgres-cluster.yaml
  kubernetes/pinepods/pvc-downloads.yaml
  kubernetes/pinepods/render
  kubernetes/pinepods/values.yaml
  opentofu/modules/authentik/generated-pinepods-oidc-1p.tf
  opentofu/modules/authentik/generated-pinepods.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Enable native histograms by default
  kubernetes/prometheus/config/prometheus.yml
Due: kubeconform, ak-tool-generate, kyverno-validate

Use git sources for Ansible collections
  ansible/requirements.yml
Due: ansible-lint

Handle tailscale git collection updates
  .renovaterc
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/FILES.json
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/MANIFEST.json
  ansible/galaxy/collections/ansible_collections/community/proxmox/FILES.json
  ansible/galaxy/collections/ansible_collections/community/proxmox/MANIFEST.json
  ansible/requirements.yml
Due: ansible-lint

Add go-unifi-mcp to dev environment
  .claude/rules/integrations/unifi.md
  .mcp_servers.json
  .secrets.tmpl
  flake.lock
  flake.nix
Due: none

Regenerate galaxy collection manifests
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/FILES.json
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/MANIFEST.json
  ansible/galaxy/collections/ansible_collections/community/proxmox/FILES.json
  ansible/galaxy/collections/ansible_collections/community/proxmox/MANIFEST.json
Due: none

Add Ansible network management for RPi hosts
  ansible/group_vars/all/main.yaml
  ansible/host_vars/garagepi.yaml
  ansible/host_vars/pantrypi.yaml
Due: ansible-lint

Disable wifi rfkill unblock to fix idempotency test
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/FILES.json
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/MANIFEST.json
  ansible/galaxy/collections/ansible_collections/community/proxmox/FILES.json
  ansible/galaxy/collections/ansible_collections/community/proxmox/MANIFEST.json
  ansible/group_vars/all/main.yaml
Due: ansible-lint

Consolidate IP forwarding and IPv6 hardening sysctls
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/FILES.json
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/MANIFEST.json
  ansible/galaxy/collections/ansible_collections/community/proxmox/FILES.json
  ansible/galaxy/collections/ansible_collections/community/proxmox/MANIFEST.json
  ansible/group_vars/kubernetes.yaml
  ansible/roles/common/handlers/main.yaml
  ansible/roles/common/tasks/main.yaml
  ansible/roles/kubeadm/handlers/main.yaml
  ansible/roles/kubeadm/tasks/common.yaml
  ansible/site.yaml
Due: ansible-lint

Enable ansible-lint offline mode to fix manifest churn
  ansible/.ansible-lint.yaml
Due: ansible-lint

Add basement humidifier water level alerts
  kubernetes/hass/config/kustomization.yaml
  kubernetes/hass/config/packages/basement_humidifier_alert.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

bd sync: resolve merge conflict
  .beads/.gitignore
  .beads/issues.jsonl
  .beads/issues.jsonl.bak
Due: none

bd sync: 2026-01-29 15:47:58
  .beads/beads.db
  .beads/issues.jsonl
Due: none

Add IPv6 static configuration to all infrastructure hosts
  ansible/group_vars/all/ipv6.yaml
  ansible/host_vars/garagepi.yaml
  ansible/host_vars/infra1.yaml
  ansible/host_vars/k1.yaml
  ansible/host_vars/k2.yaml
  ansible/host_vars/k3.yaml
  ansible/host_vars/k4.yaml
  ansible/host_vars/luser.yaml
  ansible/host_vars/p1.yaml
  ansible/host_vars/p2.yaml
  ansible/host_vars/p3.yaml
  ansible/host_vars/p4.yaml
  ansible/host_vars/p9.yaml
  ansible/host_vars/pantrypi.yaml
  ansible/roles/proxmox/templates/interfaces.j2
Due: ansible-lint

Add AAAA DNS records for infrastructure hosts
  opentofu/locals.tf
  opentofu/main.tf
  opentofu/modules/dns/oneill.tf
  opentofu/modules/dns/variables.tf
Due: none

bd sync: 2026-01-29 16:15:44
  .beads/issues.jsonl
Due: none

Add AAAA DNS records for infrastructure hosts (#1316)
  opentofu/locals.tf
  opentofu/main.tf
  opentofu/modules/dns/oneill.tf
  opentofu/modules/dns/variables.tf
Due: none

bd sync: 2026-01-29 16:38:36
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-30 08:48:29
  .beads/sync_base.jsonl
Due: none

Disable dhcpcd to fix pantrypi idempotency failure
  ansible/roles/common/tasks/main.yaml
Due: ansible-lint

Disable dhcpcd to fix pantrypi idempotency failure (#1317)
  ansible/roles/common/tasks/main.yaml
Due: ansible-lint

bd sync: 2026-01-30 11:02:50
  .beads/sync_base.jsonl
Due: none

bd sync: 2026-01-30 11:39:31
  .beads/sync_base.jsonl
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
