Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

Fix B2 application key bucket_id deprecation
  opentofu/b2.tf
Due: none

Migrate proxmox OIDC credentials from 1Password to vault
  ansible/group_vars/proxmox.yaml
Due: ansible-lint

Ansible idempotency improvements
  ansible/inventory/default
  ansible/roles/common/vars/main.yaml
  ansible/roles/proxmox/tasks/oidc.yaml
  ansible/roles/proxmox/templates/domains.cfg.j2
  ansible/roles/resticprofile/tasks/install.yaml
Due: ansible-lint

Ansible idempotency improvements
  ansible/group_vars/all/users.yaml
  ansible/group_vars/kubernetes.yaml
  ansible/roles/kubeadm/tasks/main.yaml
  ansible/roles/kubeadm/tasks/nvidia.yaml
  ansible/roles/os-install/tasks/grml.yaml
Due: ansible-lint

Increase ansible forks from 5 to 25
  ansible/ansible.cfg
Due: ansible-lint

Enable PDF archiving for Karakeep
  kubernetes/karakeep/helm/karakeep/common.yaml
  kubernetes/karakeep/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Fix Proxmox ACME certificate ordering and load balancer endpoint
  ansible/roles/proxmox/tasks/acme.yaml
  opentofu/main.tf
Due: ansible-lint

Rename luser-power to p1-power
  esphome/p1-power.yaml
  opentofu/locals.tf
Due: none

Disable offline hosts in ansible inventory
  ansible/inventory/default
Due: ansible-lint

Fix healthcheck drift by switching to simple checks
  opentofu/healthchecks.tf
Due: none

Add Semaphore OpenTofu module and GitHub Actions integration
  .github/actions/setup-semaphore/action.yml
  .github/workflows/ansible-production-deploy.yml
  .secrets.tmpl
  flake.nix
  kubernetes/semaphore/ansible-wrapper.sh
  opentofu/.terraform.lock.hcl
  opentofu/github-repos.tf
  opentofu/main.tf
  opentofu/modules/semaphore/main.tf
  opentofu/modules/semaphore/outputs.tf
  opentofu/modules/semaphore/variables.tf
  opentofu/modules/semaphore/versions.tf
  opentofu/secrets.tf
  scripts/ansible-detect-changes
  scripts/semaphore-deploy
Due: none

Cache age decryption key to avoid repeated 1Password fetches
  .envrc
Due: none

Cache age decryption key to avoid repeated 1Password fetches
  .beads/issues.jsonl
  .envrc
  ansible/ansible.cfg
  ansible/callback_plugins/ara_url.py
  ansible/site.yaml
  kubernetes/semaphore/ansible-wrapper.sh
  scripts/semaphore-deploy
Due: ansible-lint

bd sync: 2026-01-03 22:16:36
  .beads/issues.jsonl
  .beads/metadata.json
Due: none

Add beads issue tracking infrastructure
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  AGENTS.md
Due: none

bd sync: 2026-01-04 00:46:34
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-04 01:19:09
  .beads/issues.jsonl
Due: none

Add ARA URL callback plugin for Semaphore
  .beads/issues.jsonl
  ansible/ansible.cfg
  ansible/callback_plugins/ara_url.py
Due: ansible-lint

bd sync: 2026-01-04 02:07:14
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-04 02:15:48
  .beads/issues.jsonl
Due: none

Remove obsolete ARA Reporting play from site.yaml
  .beads/issues.jsonl
  ansible/site.yaml
Due: ansible-lint

Remove issues.jsonl from main branch
  .beads/issues.jsonl
Due: none

Remove static luser DNS records managed by ddns-route53
  opentofu/locals.tf
  opentofu/modules/dns/fnord.tf
  opentofu/modules/dns/oneill.tf
  opentofu/modules/dns/variables.tf
Due: none

Remove static luser DNS records managed by ddns-route53 (#1053)
  opentofu/locals.tf
  opentofu/modules/dns/fnord.tf
  opentofu/modules/dns/oneill.tf
  opentofu/modules/dns/variables.tf
Due: none

Add Tailscale networking for Semaphore auto-deploy
  .github/actions/setup-argocd/action.yml
  .github/actions/setup-semaphore/action.yml
  .github/workflows/ansible-production-deploy.yml
  .secrets.tmpl
  flake.nix
  kubernetes/semaphore/ansible-wrapper.sh
  kubernetes/semaphore/kustomization.yaml
  kubernetes/semaphore/tailscale-ingress.yaml
  opentofu/.terraform.lock.hcl
  opentofu/github-repos.tf
  opentofu/main.tf
  opentofu/modules/semaphore/main.tf
  opentofu/modules/semaphore/outputs.tf
  opentofu/modules/semaphore/variables.tf
  opentofu/modules/semaphore/versions.tf
  opentofu/secrets.tf
  opentofu/tailscale.tf
  scripts/ansible-detect-changes
  scripts/semaphore-deploy
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Path conditions:
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
