Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

block-secrets-file:
  name: block .secrets.age file
  language: fail
  entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

esphome-hosts-check:
  name: check ESPHome hosts terraform is up to date
  entry: scripts/gen-esphome-hosts --check
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

Replace Aqara vibration sensors with Third Reality tilt sensors for garage doors (#1668)
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Move booklore image to ghcr.io
  kubernetes/booklore/deployment.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Move booklore image to ghcr.io (#1707)
  kubernetes/booklore/deployment.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Update openclaw to v2026.3.13-1
  kubernetes/frank/deployment.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Update openclaw to v2026.3.13-1 (#1708)
  kubernetes/frank/deployment.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Deploy Ollama for shared GPU-accelerated embeddings
  kubernetes/frank/openclaw.json
  kubernetes/ollama/deployment.yaml
  kubernetes/ollama/kustomization.yaml
  kubernetes/ollama/namespace.yaml
  kubernetes/ollama/pvc.yaml
  kubernetes/ollama/service.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add renovate-eval skill with evaluator-auditor feedback loop
  .claude/renovate-eval.md
  .claude/skills/renovate-eval/README.md
  .claude/skills/renovate-eval/SKILL.md
  .claude/skills/renovate-eval/action.yaml
  .claude/skills/renovate-eval/evaluate.sh
  .claude/skills/renovate-eval/prompts/auditor.md
  .claude/skills/renovate-eval/prompts/evaluator.md
  .claude/skills/renovate-eval/prompts/report-format.md
  .claude/skills/renovate-eval/prompts/revision.md
  .claude/skills/renovate-eval/scripts/check-ci-status.sh
  .claude/skills/renovate-eval/scripts/fetch-pr-data.sh
  .claude/skills/renovate-eval/scripts/list-renovate-prs.sh
  .claude/skills/renovate-eval/scripts/run-auditor.sh
  .claude/skills/renovate-eval/scripts/run-evaluator.sh
  .claude/skills/renovate-eval/scripts/validate-report.sh
  .github/workflows/renovate-eval.yaml
Due: none

Switch Karakeep embeddings to Ollama, upgrade to gpt-5-mini
  kubernetes/karakeep/helm/karakeep/common.yaml
  kubernetes/karakeep/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Avoid noisy label churn and improve kustomize awareness
  .claude/renovate-eval.md
  .claude/skills/renovate-eval/evaluate.sh
Due: none

Avoid noisy label churn and improve kustomize awareness
  .claude/skills/renovate-eval/prompts/evaluator.md
Due: none

Group Renovate helm + kustomize PRs per service
  .renovaterc
Due: none

Use packageFileDir for Renovate service grouping
  .renovaterc
Due: none

Switch Renovate internalChecksFilter to flexible
  .renovaterc
Due: none

Auto-trigger renovate-eval on Renovate PR events
  .claude/skills/renovate-eval/evaluate.sh
  .github/workflows/renovate-eval.yaml
Due: none

Auto-trigger renovate-eval on Renovate PR events (#1718)
  .claude/skills/renovate-eval/evaluate.sh
  .github/workflows/renovate-eval.yaml
Due: none

Fix wait-for-checks using wrong state values
  .github/workflows/renovate-eval.yaml
Due: none

Fix wait-for-checks using wrong state values (#1719)
  .github/workflows/renovate-eval.yaml
Due: none

Restore pull_request trigger on renovate-eval workflow
  .github/workflows/renovate-eval.yaml
Due: none

Restore pull_request trigger on renovate-eval workflow (#1720)
  .github/workflows/renovate-eval.yaml
Due: none

Add PR fingerprinting to skip redundant evaluations
  .claude/skills/renovate-eval/evaluate.sh
  .github/workflows/renovate-eval.yaml
Due: none

Add PR fingerprinting to skip redundant evaluations (#1721)
  .claude/skills/renovate-eval/evaluate.sh
  .github/workflows/renovate-eval.yaml
Due: none

Upgrade Karakeep 0.31.0, Meilisearch v1.37.0, enable OAuth auto-redirect
  kubernetes/karakeep/Chart.yaml
  kubernetes/karakeep/helm/karakeep/common.yaml
  kubernetes/karakeep/kustomization.yaml
  kubernetes/karakeep/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Improve renovate-eval skill init and add plannotator support
  .claude/skills/renovate-eval/SKILL.md
  .claude/skills/renovate-eval/evaluate.sh
  .claude/skills/renovate-eval/scripts/init.sh
Due: none

Update Dawarich 1.2.0 -> 1.3.4
  kubernetes/dawarich/deploy-sidekiq.yaml
  kubernetes/dawarich/deploy-web.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Refactor renovate-eval bash for modularity and testability
  .claude/skills/renovate-eval/action.yaml
  .claude/skills/renovate-eval/evaluate.sh
  .claude/skills/renovate-eval/lib/common.sh
  .claude/skills/renovate-eval/scripts/check-ci-status.sh
  .claude/skills/renovate-eval/scripts/fetch-pr-data.sh
  .claude/skills/renovate-eval/scripts/init.sh
  .claude/skills/renovate-eval/scripts/run-auditor.sh
  .claude/skills/renovate-eval/scripts/run-evaluator.sh
  .claude/skills/renovate-eval/scripts/validate-report.sh
  .claude/skills/renovate-eval/tests/common.bats
  .claude/skills/renovate-eval/tests/fixtures/bad-meta-label/eval-evidence.md
  .claude/skills/renovate-eval/tests/fixtures/bad-meta-label/eval-meta.json
  .claude/skills/renovate-eval/tests/fixtures/bad-meta-label/eval-report.md
  .claude/skills/renovate-eval/tests/fixtures/bare-references/eval-evidence.md
  .claude/skills/renovate-eval/tests/fixtures/bare-references/eval-meta.json
  .claude/skills/renovate-eval/tests/fixtures/bare-references/eval-report.md
  .claude/skills/renovate-eval/tests/fixtures/missing-sections/eval-evidence.md
  .claude/skills/renovate-eval/tests/fixtures/missing-sections/eval-meta.json
  .claude/skills/renovate-eval/tests/fixtures/missing-sections/eval-report.md
  .claude/skills/renovate-eval/tests/fixtures/valid-report/eval-evidence.md
  .claude/skills/renovate-eval/tests/fixtures/valid-report/eval-meta.json
  .claude/skills/renovate-eval/tests/fixtures/valid-report/eval-report.md
  .claude/skills/renovate-eval/tests/validate-report.bats
  .github/workflows/ci.yaml
  flake.nix
Due: none

Refactor renovate-eval bash for modularity and testability (#1725)
  .claude/skills/renovate-eval/action.yaml
  .claude/skills/renovate-eval/evaluate.sh
  .claude/skills/renovate-eval/lib/common.sh
  .claude/skills/renovate-eval/scripts/check-ci-status.sh
  .claude/skills/renovate-eval/scripts/fetch-pr-data.sh
  .claude/skills/renovate-eval/scripts/init.sh
  .claude/skills/renovate-eval/scripts/run-auditor.sh
  .claude/skills/renovate-eval/scripts/run-evaluator.sh
  .claude/skills/renovate-eval/scripts/validate-report.sh
  .claude/skills/renovate-eval/tests/common.bats
  .claude/skills/renovate-eval/tests/fixtures/bad-meta-label/eval-evidence.md
  .claude/skills/renovate-eval/tests/fixtures/bad-meta-label/eval-meta.json
  .claude/skills/renovate-eval/tests/fixtures/bad-meta-label/eval-report.md
  .claude/skills/renovate-eval/tests/fixtures/bare-references/eval-evidence.md
  .claude/skills/renovate-eval/tests/fixtures/bare-references/eval-meta.json
  .claude/skills/renovate-eval/tests/fixtures/bare-references/eval-report.md
  .claude/skills/renovate-eval/tests/fixtures/missing-sections/eval-evidence.md
  .claude/skills/renovate-eval/tests/fixtures/missing-sections/eval-meta.json
  .claude/skills/renovate-eval/tests/fixtures/missing-sections/eval-report.md
  .claude/skills/renovate-eval/tests/fixtures/valid-report/eval-evidence.md
  .claude/skills/renovate-eval/tests/fixtures/valid-report/eval-meta.json
  .claude/skills/renovate-eval/tests/fixtures/valid-report/eval-report.md
  .claude/skills/renovate-eval/tests/validate-report.bats
  .github/workflows/ci.yaml
  flake-versions.yaml
  flake.nix
Due: none

Rewrite auditor to enforce evaluator's rubric, not its own
  .claude/skills/renovate-eval/prompts/auditor.md
  .claude/skills/renovate-eval/scripts/run-auditor.sh
  .claude/skills/renovate-eval/tests/run-auditor.bats
Due: none

Rewrite auditor to enforce evaluator's rubric, not its own (#1726)
  .claude/skills/renovate-eval/prompts/auditor.md
  .claude/skills/renovate-eval/scripts/run-auditor.sh
  .claude/skills/renovate-eval/tests/run-auditor.bats
Due: none

Update Renovate version constraints
  .renovaterc
Due: none

Path conditions:
  block-secrets-file: any of: ^\.secrets\.age$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  esphome-hosts-check: any of: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
