Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

block-secrets-file:
  name: block .secrets.age file
  language: fail
  entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

esphome-hosts-check:
  name: check ESPHome hosts terraform is up to date
  entry: scripts/gen-esphome-hosts --check
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

Upgrade Byparr with bounded ephemeral storage
  kubernetes/byparr/deployment.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Remove unused rreading-glasses service
  kubernetes/rreading-glasses/deploy.yaml
  kubernetes/rreading-glasses/externalsecret.yaml
  kubernetes/rreading-glasses/ingress.yaml
  kubernetes/rreading-glasses/kustomization.yaml
  kubernetes/rreading-glasses/postgres-cluster.yaml
  kubernetes/rreading-glasses/service.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Track MinusPod published edge digest
  .claude/renovate-eval.md
  .renovaterc
  kubernetes/minuspod/deploy.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Exercise MinusPod digest evaluation
  kubernetes/minuspod/deploy.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Track MinusPod stable releases
  .claude/renovate-eval.md
  .renovaterc
  kubernetes/minuspod/deploy.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

gitblobstore: checkandput manifest
  16ers25tj3u7qfhdjnscqoh3upqmep2o.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  lt0b2c7nrshhs33k34trnqd5ffdso6e7
  manifest
Due: none

gitblobstore: checkandput manifest
  e9p58nhftoig485l6nbr45vtvbdttkco.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  2dl1s0hvqeel1ckgo5d8eht3tk9r0och
  manifest
Due: none

gitblobstore: checkandput manifest
  jmbrir3pb2972lrb6cf5mgcdmn8a6pvs.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  n2kf61u77scqi142u7au5uaukcqcjsrm
Due: none

gitblobstore: checkandput manifest
  manifest
  pfj5baqr6hb42t093fpv61edeqmfhi93.darc
Due: none

gitblobstore: checkandput manifest
  1mlaq44qj3ulagg6ircgfjrj5h5fj8ub
  manifest
Due: none

Update Renovate version constraints
  .renovaterc
Due: none

Upgrade OpenArchiver and add Apache Tika
  kubernetes/openarchiver/configmap.yaml
  kubernetes/openarchiver/deploy.yaml
  kubernetes/openarchiver/kustomization.yaml
  kubernetes/openarchiver/tika-deployment.yaml
  kubernetes/openarchiver/tika-service.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Upgrade Grimmory MariaDB to 11.8
  kubernetes/grimmory/mariadb-deployment.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

gitblobstore: checkandput manifest
  0agbrco13sks17dc97dj687b25gsgb9g.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  0nffc7po59ofl4ttcl50dfl3kbkrvumi
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  qi9mab3g654rqtf3krrev9tf11p3si14.darc
Due: none

gitblobstore: checkandput manifest
  5h7k767tdmppi8t5v61etngiqvtq03op
  manifest
Due: none

gitblobstore: checkandput manifest
  6pkuv6cslsvvg6ihbl1634c5e3cd02n3.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  klnl9g2sgtd49ipu0jou24hr18k10brj
  manifest
Due: none

Remove unused ChangeDetection service
  kubernetes/changedetection/deploy.yaml
  kubernetes/changedetection/ingress.yaml
  kubernetes/changedetection/kustomization.yaml
  kubernetes/changedetection/pvc.yaml
  kubernetes/changedetection/service.yaml
  opentofu/modules/authentik/generated-changedetection.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Upgrade Hermes and migrate config safely
  kubernetes/felix/deployment.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Upgrade Hermes and migrate config safely (#2854)
  kubernetes/felix/deployment.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Use official Healthchecks image
  kubernetes/healthchecks/Chart.lock
  kubernetes/healthchecks/Chart.yaml
  kubernetes/healthchecks/charts/healthchecks-0.17.0.tgz
  kubernetes/healthchecks/deployment.yaml
  kubernetes/healthchecks/helm/healthchecks/common.yaml
  kubernetes/healthchecks/ingress.yaml
  kubernetes/healthchecks/kustomization.yaml
  kubernetes/healthchecks/render
  kubernetes/healthchecks/service.yaml
  kubernetes/healthchecks/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Use shared Renovate evaluation config
  .renovate-eval.md
Due: none

Use shared Renovate evaluation config (#2857)
  .renovate-eval.md
Due: none

Reduce Renovate maintenance toil
  .renovate-eval.md
  .renovaterc
Due: none

Give Kyverno Kustomizations unique identities
  kubernetes/scripts/kyverno-wrapper
Due: none

Path conditions:
  block-secrets-file: any of: ^\.secrets\.age$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  esphome-hosts-check: any of: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
