Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

.pre-commit-config.yaml:

---
exclude: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^ansible/
  - id: check-added-large-files
    exclude: ^esphome/img/
  - id: check-merge-conflict

- repo: https://github.com/lyz-code/yamlfix
  rev: 1.19.1
  hooks:
  - id: yamlfix
    args: [-c, .yamlfix.toml]
    exclude: ^ansible/|service-blueprint\.template\.yaml$|kubernetes/hass/config/configuration\.yaml$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.38.0
  hooks:
  - id: yamllint
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    types_or: [json, markdown]

- repo: local
  hooks:
  - id: block-secrets-file
    name: block .secrets.age file
    language: fail
    entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate
    files: ^\.secrets\.age$
  - id: ansible-lint
    name: ansible-lint
    entry: scripts/ansible-lint-wrapper
    language: system
    files: ^ansible/.*$
    require_serial: true
  - id: format-kustomization
    name: format kustomization.yaml files
    entry: scripts/format-kustomization
    language: system
    files: ^kubernetes/.*/kustomization\.ya?ml$
    pass_filenames: true
  - id: kubeconform
    name: kubeconform manifest validation
    entry: kubernetes/scripts/kubeconform-wrapper
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
    exclude: (helm\.yaml|patch-.*\.yaml)$
  - id: ak-tool-generate
    name: generate authentik terraform configs
    entry: kubernetes/scripts/ak-tool generate
    language: system
    files: ^kubernetes/.*/.*\.(ya?ml)$
    pass_filenames: false
    always_run: false
  - id: hass-check-config
    name: validate home assistant config
    entry: scripts/hass-check-config
    language: system
    files: ^(kubernetes/hass/|scripts/hass-check-config)
    pass_filenames: false
  - id: kyverno-validate
    name: kyverno policy validation
    entry: kubernetes/scripts/kyverno-wrapper
    language: system
    pass_filenames: true
    files: ^kubernetes/.*\.(ya?ml)$
  - id: esphome-hosts-check
    name: check ESPHome hosts terraform is up to date
    entry: scripts/gen-esphome-hosts --check
    language: python
    additional_dependencies: [pyyaml]
    files: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$
    pass_filenames: false
  - id: beads-flush
    name: beads pre-commit flush
    entry: bash -c '[ "$GITHUB_ACTIONS" = "true" ] && exit 0; [ "$(git rev-parse --abbrev-ref
      HEAD)" != "beads-sync" ] && exit 0; bd hooks run pre-commit'
    language: system
    pass_filenames: false
    always_run: true
    stages: [pre-commit]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.11.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.47.0
  hooks:
  - id: markdownlint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.105.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
  - id: terraform_tflint
  - id: terraform_providers_lock
    args:
    - --hook-config=--mode=always-regenerate-lockfile
    - --args=-platform=linux_amd64
    - --args=-platform=darwin_arm64

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.10
  hooks:
  - id: actionlint

- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 42.95.1
  hooks:
  - id: renovate-config-validator

Remove Ansible vault secrets from CI
  .github/workflows/ansible-integration-test.yaml
  .github/workflows/ci.yaml
  Dockerfile.ansible
  ansible/host_vars/ansible-integration-test.yaml
  ansible/scripts/docker-integration-test
  ansible/scripts/sanitize-vault-values
  scripts/ansible-lint-wrapper
Due: ansible-lint

Fix Renovate lint automation
  .claude/renovate-eval.md
  .github/workflows/renovate-lint-fix.yaml
  .renovaterc
Due: none

gitblobstore: checkandput manifest
  manifest
  trqp1gcj7vcotm51opmeqig3et7chp7m.darc
Due: none

gitblobstore: checkandput manifest
  icn58akukvn7r4s3vdon820aqdgeevs0
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  v62pe9jamm862gqlv0es6gk9balfil9m.darc
Due: none

gitblobstore: checkandput manifest
  i07v8m81c49891d2mmgtdfa25pia9i3v
  manifest
Due: none

Scope Alloy log discovery to each node
  kubernetes/alloy/helm/templates/configmap.yaml
  kubernetes/alloy/helm/templates/controllers/daemonset.yaml
  kubernetes/alloy/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Keep scheduled cleanup noninteractive
  flake.nix
  scripts/cleanup
Due: none

Upgrade Karakeep and enable embeddings
  kubernetes/karakeep/helm/karakeep/common.yaml
  kubernetes/karakeep/kustomization.yaml
  kubernetes/karakeep/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Adopt acme.sh ARI renewal cadence
  kubernetes/acme-sh/cronjob-renew.yaml
  kubernetes/acme-sh/cronjob-synology.yaml
  kubernetes/acme-sh/cronjob-udmp.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Compress cluster backups on slow storage
  kubernetes/cluster-backup/backup
  kubernetes/cluster-backup/cronjob.yaml
  kubernetes/cluster-backup/externalsecret-healthcheck.yaml
  kubernetes/cluster-backup/kustomization.yaml
  opentofu/healthchecks.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Upgrade Karakeep Meilisearch to 1.51
  kubernetes/karakeep/helm/meilisearch/configmap.yaml
  kubernetes/karakeep/helm/meilisearch/statefulset.yaml
  kubernetes/karakeep/kustomization.yaml
  kubernetes/karakeep/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Upgrade OpenArchiver Meilisearch to 1.51
  kubernetes/openarchiver/meilisearch-statefulset.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Make idempotency checks tolerate host flakes
  kubernetes/semaphore/scripts/ansible-idempotency-test
  scripts/ansible-idempotency-test
Due: none

Require explicit Argo management intent
  .kyverno/policies/require-explicit-argo-management.yaml
  kubernetes/hass/kustomization.yaml
  kubernetes/network-storage-benchmark/kustomization.yaml
  kubernetes/scripts/kyverno-wrapper
  kubernetes/smtp-relay/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Update ESPHome and streamline garage doors
  esphome/common/device-classes/opengarage.yaml
  esphome/decommissioned/README.md
  esphome/decommissioned/bedjet.yaml
  esphome/scripts/esphome
  kubernetes/hass/config/configuration.yaml
  opentofu/esphome-hosts.tf
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

Increase k2 root disk to 500 GiB
  opentofu/proxmox.tf
Due: none

Update Hermes Agent to v2026.8.13
  kubernetes/felix/deployment.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Reconcile Slack manifests for provider update
  opentofu/slack/.terraform.lock.hcl
  opentofu/slack/apps.tf
  opentofu/slack/main.tf
Due: none

Restore Homepage runtime settings
  kubernetes/homepage/custom.js
  kubernetes/homepage/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Use native OIDC for Homepage
  kubernetes/homepage/externalsecret-auth.yaml
  kubernetes/homepage/externalsecret-oidc.yaml
  kubernetes/homepage/helm/templates/common.yaml
  kubernetes/homepage/kustomization.yaml
  kubernetes/homepage/password-generator.yaml
  kubernetes/homepage/values.yaml
  kubernetes/scripts/templates/oidc-1p.tf.j2
  opentofu/modules/authentik/generated-argocd-oidc-1p.tf
  opentofu/modules/authentik/generated-audiobookshelf-oidc-1p.tf
  opentofu/modules/authentik/generated-autobrr-oidc-1p.tf
  opentofu/modules/authentik/generated-bambuddy-oidc-1p.tf
  opentofu/modules/authentik/generated-dawarich-oidc-1p.tf
  opentofu/modules/authentik/generated-felix-dashboard-oidc-1p.tf
  opentofu/modules/authentik/generated-grafana-oidc-1p.tf
  opentofu/modules/authentik/generated-grimmory-oidc-1p.tf
  opentofu/modules/authentik/generated-homebox-oidc-1p.tf
  opentofu/modules/authentik/generated-homepage-oidc-1p.tf
  opentofu/modules/authentik/generated-homepage.tf
  opentofu/modules/authentik/generated-immich-oidc-1p.tf
  opentofu/modules/authentik/generated-karakeep-oidc-1p.tf
  opentofu/modules/authentik/generated-komga-oidc-1p.tf
  opentofu/modules/authentik/generated-outpost.tf
  opentofu/modules/authentik/generated-qui-oidc-1p.tf
  opentofu/modules/authentik/generated-semaphore-oidc-1p.tf
  opentofu/modules/authentik/generated-shelfmark-comics-oidc-1p.tf
  opentofu/modules/authentik/generated-shelfmark-oidc-1p.tf
  opentofu/modules/authentik/generated-speakr-oidc-1p.tf
  opentofu/modules/authentik/generated-storyteller-oidc-1p.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Protect Renovate-owned branches
  .claude/rules/tooling/renovate.md
Due: none

Protect Renovate-owned branches (#2805)
  .claude/rules/tooling/renovate.md
Due: none

Upgrade Homepage to v2 with native OIDC
  kubernetes/ara/ingress.yaml
  kubernetes/argocd/helm/templates/argocd-server/ingress.yaml
  kubernetes/argocd/values.yaml
  kubernetes/bambuddy/ingress.yaml
  kubernetes/camofox/ingress.yaml
  kubernetes/goldilocks/helm/templates/dashboard-ingress.yaml
  kubernetes/goldilocks/values.yaml
  kubernetes/homepage/custom.js
  kubernetes/homepage/externalsecret-auth.yaml
  kubernetes/homepage/externalsecret-oidc.yaml
  kubernetes/homepage/helm/templates/common.yaml
  kubernetes/homepage/kustomization.yaml
  kubernetes/homepage/password-generator.yaml
  kubernetes/homepage/services.yaml
  kubernetes/homepage/values.yaml
  kubernetes/scripts/templates/oidc-1p.tf.j2
  opentofu/modules/authentik/generated-argocd-oidc-1p.tf
  opentofu/modules/authentik/generated-audiobookshelf-oidc-1p.tf
  opentofu/modules/authentik/generated-autobrr-oidc-1p.tf
  opentofu/modules/authentik/generated-bambuddy-oidc-1p.tf
  opentofu/modules/authentik/generated-dawarich-oidc-1p.tf
  opentofu/modules/authentik/generated-felix-dashboard-oidc-1p.tf
  opentofu/modules/authentik/generated-grafana-oidc-1p.tf
  opentofu/modules/authentik/generated-grimmory-oidc-1p.tf
  opentofu/modules/authentik/generated-homebox-oidc-1p.tf
  opentofu/modules/authentik/generated-homepage-oidc-1p.tf
  opentofu/modules/authentik/generated-homepage.tf
  opentofu/modules/authentik/generated-immich-oidc-1p.tf
  opentofu/modules/authentik/generated-karakeep-oidc-1p.tf
  opentofu/modules/authentik/generated-komga-oidc-1p.tf
  opentofu/modules/authentik/generated-outpost.tf
  opentofu/modules/authentik/generated-qui-oidc-1p.tf
  opentofu/modules/authentik/generated-semaphore-oidc-1p.tf
  opentofu/modules/authentik/generated-shelfmark-comics-oidc-1p.tf
  opentofu/modules/authentik/generated-shelfmark-oidc-1p.tf
  opentofu/modules/authentik/generated-speakr-oidc-1p.tf
  opentofu/modules/authentik/generated-storyteller-oidc-1p.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Upgrade Byparr with bounded ephemeral storage
  kubernetes/byparr/deployment.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate
