Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

block-secrets-file:
  name: block .secrets.age file
  language: fail
  entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

esphome-hosts-check:
  name: check ESPHome hosts terraform is up to date
  entry: scripts/gen-esphome-hosts --check
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

Fix acme.sh UDMP cert deployment on renewal
  kubernetes/acme-sh/acme-udmp.sh
Due: none

Remove valkey liveness/readiness exec probes
  kubernetes/authentik/helm/valkey/statefulset.yaml
  kubernetes/authentik/valkey-values.yaml
  kubernetes/dawarich/helm/valkey/statefulset.yaml
  kubernetes/dawarich/valkey-values.yaml
  kubernetes/immich/helm/valkey/statefulset.yaml
  kubernetes/immich/valkey-values.yaml
  kubernetes/n8n/helm/valkey/statefulset.yaml
  kubernetes/n8n/valkey-values.yaml
  kubernetes/openarchiver/helm/valkey/statefulset.yaml
  kubernetes/openarchiver/valkey-values.yaml
  kubernetes/pinepods/helm/valkey/primary/application.yaml
  kubernetes/pinepods/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Add flake package version tracking
  .github/workflows/update-flake-versions.yaml
  flake-versions.yaml
  scripts/gen-flake-versions
Due: none

Add flake package version tracking
  .github/workflows/update-flake-versions.yaml
  scripts/gen-flake-versions
Due: none

Disable cloud-init /etc/hosts management
  .gitignore
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/FILES.json
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/MANIFEST.json
  ansible/galaxy/collections/ansible_collections/community/proxmox/FILES.json
  ansible/galaxy/collections/ansible_collections/community/proxmox/MANIFEST.json
  ansible/roles/hostname/tasks/main.yml
Due: ansible-lint

Add LowNodeUtilization descheduler profile
  kubernetes/descheduler/helm/templates/configmap.yaml
  kubernetes/descheduler/helm/templates/cronjob.yaml
  kubernetes/descheduler/kustomization.yaml
  kubernetes/descheduler/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add Cloudflare zone and DNS records for fnord.net
  .claude/rules/opentofu/usage.md
  opentofu/.terraform.lock.hcl
  opentofu/flux.tf
  opentofu/main.tf
  opentofu/modules/dns/.terraform.lock.hcl
  opentofu/modules/dns/fnord.tf
  opentofu/modules/dns/main.tf
  opentofu/modules/dns/outputs.tf
  opentofu/modules/dns/variables.tf
  opentofu/secrets.tf
Due: none

Move pve_exporter ACL inline to fix perpetual drift
  opentofu/proxmox-pve-exporter.tf
Due: none

Switch OpenClaw to official GHCR image
  .renovaterc
  kubernetes/frank/deployment.yaml
  kubernetes/frank/openclaw.json
Due: kubeconform, ak-tool-generate, kyverno-validate

Deploy cloudflare-ddns for luser.fnord.net
  kubernetes/cloudflare-ddns/deploy.yaml
  kubernetes/cloudflare-ddns/externalsecret.yaml
  kubernetes/cloudflare-ddns/kustomization.yaml
  kubernetes/cloudflare-ddns/namespace.yaml
  opentofu/cloudflare-ddns.tf
  opentofu/modules/dns/outputs.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Deploy cloudflare-ddns for luser.fnord.net (#1504)
  kubernetes/cloudflare-ddns/deploy.yaml
  kubernetes/cloudflare-ddns/externalsecret.yaml
  kubernetes/cloudflare-ddns/kustomization.yaml
  kubernetes/cloudflare-ddns/namespace.yaml
  opentofu/cloudflare-ddns.tf
  opentofu/modules/dns/outputs.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Move Frank Slack app to personal workspace
  kubernetes/frank/openclaw.json
  opentofu/.terraform.lock.hcl
  opentofu/main.tf
  opentofu/slack-frank.tf
Due: none

Move Frank Slack app to personal workspace (#1505)
  kubernetes/frank/openclaw.json
  opentofu/.terraform.lock.hcl
  opentofu/main.tf
  opentofu/slack-frank.tf
Due: none

Update Renovate version constraints
  .renovaterc
Due: none

Update Renovate version constraints (#1506)
  .renovaterc
Due: none

Add Cloudflare zone and DNS records for oneill.net
  opentofu/modules/dns/oneill.tf
  opentofu/modules/dns/outputs.tf
Due: none

Add Cloudflare zone and DNS records for oneill.net (#1507)
  opentofu/modules/dns/oneill.tf
  opentofu/modules/dns/outputs.tf
Due: none

Add luser.oneill.net to cloudflare-ddns
  kubernetes/cloudflare-ddns/deploy.yaml
  opentofu/cloudflare-ddns.tf
Due: kubeconform, ak-tool-generate, kyverno-validate

Add luser.oneill.net to cloudflare-ddns (#1508)
  kubernetes/cloudflare-ddns/deploy.yaml
  opentofu/cloudflare-ddns.tf
Due: kubeconform, ak-tool-generate, kyverno-validate

Migrate home notifications to Clayton Slack workspace
  kubernetes/hass/config/configuration.yaml
  kubernetes/hass/config/packages/basement_humidifier_alert.yaml
  kubernetes/hass/config/packages/ego_charger_maintenance.yaml
  opentofu/slack-home.tf
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Migrate home notifications to Clayton Slack workspace (#1509)
  kubernetes/hass/config/configuration.yaml
  kubernetes/hass/config/packages/basement_humidifier_alert.yaml
  kubernetes/hass/config/packages/ego_charger_maintenance.yaml
  opentofu/slack-home.tf
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Deploy ByParr as shared Cloudflare bypass service
  kubernetes/byparr/deployment.yaml
  kubernetes/byparr/kustomization.yaml
  kubernetes/byparr/namespace.yaml
  kubernetes/byparr/service.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Deploy ByParr as shared Cloudflare bypass service (#1510)
  kubernetes/byparr/deployment.yaml
  kubernetes/byparr/kustomization.yaml
  kubernetes/byparr/namespace.yaml
  kubernetes/byparr/service.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Configure containerd registry mirrors for spegel
  ansible/group_vars/kubernetes.yaml
Due: ansible-lint

Configure containerd registry mirrors for spegel (#1511)
  ansible/group_vars/kubernetes.yaml
Due: ansible-lint

Migrate oneill.net hosting to Cloudflare Pages
  opentofu/cloudflare-pages.tf
  opentofu/github-repos.tf
  opentofu/modules/dns/oneill.tf
Due: none

Migrate oneill.net hosting to Cloudflare Pages (#1512)
  opentofu/cloudflare-pages.tf
  opentofu/github-repos.tf
  opentofu/modules/dns/oneill.tf
Due: none

Add Syncthing and nginx sidecars to Frank
  kubernetes/frank/deployment.yaml
  kubernetes/frank/ingress-syncthing.yaml
  kubernetes/frank/ingress-ui.yaml
  kubernetes/frank/ingress-www.yaml
  kubernetes/frank/kustomization.yaml
  kubernetes/frank/nginx.conf
  kubernetes/frank/pvc-syncthing.yaml
  kubernetes/frank/service-syncthing-gui.yaml
  kubernetes/frank/service-syncthing.yaml
  kubernetes/frank/service-www.yaml
  opentofu/modules/authentik/generated-frank-syncthing.tf
  opentofu/modules/authentik/generated-frank-ui.tf
  opentofu/modules/authentik/generated-frank-www.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add Syncthing and nginx sidecars to Frank (#1531)
  kubernetes/frank/deployment.yaml
  kubernetes/frank/ingress-syncthing.yaml
  kubernetes/frank/ingress-ui.yaml
  kubernetes/frank/ingress-www.yaml
  kubernetes/frank/kustomization.yaml
  kubernetes/frank/nginx.conf
  kubernetes/frank/pvc-syncthing.yaml
  kubernetes/frank/service-syncthing-gui.yaml
  kubernetes/frank/service-syncthing.yaml
  kubernetes/frank/service-www.yaml
  opentofu/modules/authentik/generated-frank-syncthing.tf
  opentofu/modules/authentik/generated-frank-ui.tf
  opentofu/modules/authentik/generated-frank-www.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Update external-secrets to v2.0.1
  kubernetes/external-secrets/Chart.yaml
  kubernetes/external-secrets/helm/templates/crds/clustersecretstore.yaml
  kubernetes/external-secrets/helm/templates/crds/secretstore.yaml
  kubernetes/external-secrets/helm/templates/deployment.yaml
  kubernetes/external-secrets/helm/templates/rbac.yaml
  kubernetes/external-secrets/helm/templates/serviceaccount.yaml
  kubernetes/external-secrets/helm/templates/validatingwebhook.yaml
  kubernetes/external-secrets/helm/templates/webhook-certificate.yaml
  kubernetes/external-secrets/helm/templates/webhook-deployment.yaml
  kubernetes/external-secrets/helm/templates/webhook-service.yaml
  kubernetes/external-secrets/helm/templates/webhook-serviceaccount.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Update external-secrets to v2.0.1 (#1533)
  kubernetes/external-secrets/Chart.yaml
  kubernetes/external-secrets/helm/templates/crds/clustersecretstore.yaml
  kubernetes/external-secrets/helm/templates/crds/secretstore.yaml
  kubernetes/external-secrets/helm/templates/deployment.yaml
  kubernetes/external-secrets/helm/templates/rbac.yaml
  kubernetes/external-secrets/helm/templates/serviceaccount.yaml
  kubernetes/external-secrets/helm/templates/validatingwebhook.yaml
  kubernetes/external-secrets/helm/templates/webhook-certificate.yaml
  kubernetes/external-secrets/helm/templates/webhook-deployment.yaml
  kubernetes/external-secrets/helm/templates/webhook-service.yaml
  kubernetes/external-secrets/helm/templates/webhook-serviceaccount.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Enable Slack thread replies for Frank
  kubernetes/frank/openclaw.json
Due: none

Path conditions:
  block-secrets-file: any of: ^\.secrets\.age$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  esphome-hosts-check: any of: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
