Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

validate-iscsi-labels:
  name: validate iSCSI PVC labels
  entry: kubernetes/scripts/validate-iscsi-labels
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

Remove shared proxmox.oneill.net SAN from ACME config
  ansible/roles/proxmox/tasks/acme.yaml
Due: ansible-lint

Add k2 VM as Kubernetes worker
  ansible/host_vars/k2.yaml
  ansible/inventory/default
  opentofu/locals.tf
  opentofu/proxmox.tf
Due: ansible-lint

Add VS Code settings for custom YAML tags
  .gitignore
  .vscode/settings.json
Due: none

Convert k4 to Proxmox host p4 and add k4 VM
  AGENTS.md
  ansible/host_vars/k4.yaml
  ansible/host_vars/p2.yaml
  ansible/host_vars/p4.yaml
  ansible/inventory/default
  ansible/roles/os-install/files/docker-compose.yaml
  ansible/roles/os-install/files/proxmox-default.toml
  ansible/roles/os-install/tasks/main.yml
  ansible/roles/os-install/templates/proxmox-answer.toml.j2
  ansible/roles/proxmox/tasks/cluster.yaml
  opentofu/locals.tf
  opentofu/proxmox.tf
Due: ansible-lint

Fix sysctl for Debian Trixie
  ansible/roles/common/tasks/main.yaml
  ansible/roles/kubeadm/tasks/common.yaml
Due: ansible-lint

Fix k1 interface name for Proxmox VirtIO NIC
  ansible/host_vars/k1.yaml
Due: ansible-lint

Improve Proxmox role storage and installer
  ansible/roles/os-install/templates/proxmox-answer.toml.j2
  ansible/roles/proxmox/tasks/storage.yaml
Due: ansible-lint

Convert k5 to Proxmox host p3
  ansible/host_vars/k5.yaml
  ansible/host_vars/p3.yaml
  ansible/inventory/default
  opentofu/locals.tf
Due: ansible-lint

Add support for extra OIDC redirect URIs in ak-tool
  kubernetes/scripts/ak-tool
  kubernetes/scripts/templates/provider-app-oidc.tf.j2
  opentofu/modules/authentik/generated-argocd.tf
  opentofu/modules/authentik/generated-autobrr.tf
  opentofu/modules/authentik/generated-booklore.tf
  opentofu/modules/authentik/generated-grafana.tf
  opentofu/modules/authentik/generated-karakeep.tf
  opentofu/modules/authentik/generated-qui.tf
  opentofu/modules/authentik/generated-semaphore.tf
Due: none

Fix kyverno apply syntax for v1.15
  .pre-commit-config.yaml
Due: none

Add Immich photo management deployment
  kubernetes/immich/Chart.yaml
  kubernetes/immich/externalsecret.yaml
  kubernetes/immich/helm/immich/machine-learning.yaml
  kubernetes/immich/helm/immich/server.yaml
  kubernetes/immich/helm/valkey/scripts.yaml
  kubernetes/immich/helm/valkey/service-internal.yaml
  kubernetes/immich/helm/valkey/services.yaml
  kubernetes/immich/helm/valkey/statefulset.yaml
  kubernetes/immich/immich-postgres-cluster.yaml
  kubernetes/immich/kustomization.yaml
  kubernetes/immich/namespace.yaml
  kubernetes/immich/pvc-library.yaml
  kubernetes/immich/render
  kubernetes/immich/valkey-values.yaml
  kubernetes/immich/values.yaml
  opentofu/modules/authentik/generated-immich-oidc-1p.tf
  opentofu/modules/authentik/generated-immich.tf
Due: format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Convert k5 to Proxmox host p3
  ansible/group_vars/nut.yaml
  esphome/p2-power.yaml
  esphome/p3-power.yaml
  esphome/p4-power.yaml
  kubernetes/network-storage-benchmark/README.md
  kubernetes/network-storage-benchmark/run-benchmark.sh
  kubernetes/prometheus/config/prometheus.yml
  kubernetes/smokeping-prober/config.yaml
Due: ansible-lint, kubeconform, validate-iscsi-labels, ak-tool-generate

Fix Velero healthcheck kubectl in-cluster auth
  kubernetes/velero/healthcheck.sh
Due: none

Add load-balanced Proxmox UI endpoint via Traefik
  ansible/roles/traefik/files/docker-compose.yml
  ansible/roles/traefik/handlers/main.yml
  ansible/roles/traefik/tasks/main.yml
  ansible/roles/traefik/templates/conf.d/proxmox.yml.j2
  kubernetes/homepage/services.yaml
  opentofu/modules/dns/oneill.tf
Due: ansible-lint, kubeconform, validate-iscsi-labels, ak-tool-generate

Add stale lock handling to resticprofile configs
  ansible/group_vars/all.yaml
  kubernetes/resticprofile/profiles.yaml
Due: ansible-lint, kubeconform, validate-iscsi-labels, ak-tool-generate

Fix docker-compose handlers to detect image digest changes
  ansible/roles/nut/tasks/webgui.yaml
  ansible/roles/os-install/handlers/main.yml
  ansible/roles/traefik/tasks/main.yml
Due: ansible-lint

Disable spegel PreferSameNode traffic distribution for k8s 1.33
  kubernetes/spegel/helm/templates/daemonset.yaml
  kubernetes/spegel/helm/templates/service.yaml
  kubernetes/spegel/values.yaml
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Pin Docker version and enable Renovate management
  ansible/group_vars/all.yaml
Due: ansible-lint

Move ARA image pin to kustomization for automerge
  kubernetes/ara/helm/deployment.yaml
  kubernetes/ara/kustomization.yaml
  kubernetes/ara/values.yaml
Due: format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Split group_vars/all.yaml into separate files by function
  ansible/group_vars/all.yaml
  ansible/group_vars/all/aws.yaml
  ansible/group_vars/all/docker.yaml
  ansible/group_vars/all/fail2ban.yaml
  ansible/group_vars/all/main.yaml
  ansible/group_vars/all/node_exporter.yaml
  ansible/group_vars/all/relaymail.yaml
  ansible/group_vars/all/restic.yaml
  ansible/group_vars/all/tailscale.yaml
  ansible/group_vars/all/users.yaml
Due: ansible-lint

Path conditions:
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  validate-iscsi-labels: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
