Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

.pre-commit-config.yaml:

---
exclude: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^ansible/
  - id: check-added-large-files
    exclude: ^esphome/img/
  - id: check-merge-conflict

- repo: https://github.com/lyz-code/yamlfix
  rev: 1.19.0
  hooks:
  - id: yamlfix
    args: [-c, .yamlfix.toml]
    exclude: ^ansible/|service-blueprint\.template\.yaml$|kubernetes/hass/config/configuration\.yaml$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.37.1
  hooks:
  - id: yamllint
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    types_or: [json, markdown]

- repo: local
  hooks:
  - id: ansible-lint
    name: ansible-lint
    entry: scripts/ansible-lint-wrapper
    language: system
    files: ^ansible/.*$
    require_serial: true
  - id: format-kustomization
    name: format kustomization.yaml files
    entry: scripts/format-kustomization
    language: system
    files: ^kubernetes/.*/kustomization\.ya?ml$
    pass_filenames: true
  - id: kubeconform
    name: kubeconform manifest validation
    entry: kubernetes/scripts/kubeconform-wrapper
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
    exclude: (helm\.yaml|patch-.*\.yaml)$
  - id: ak-tool-generate
    name: generate authentik terraform configs
    entry: kubernetes/scripts/ak-tool generate
    language: system
    files: ^kubernetes/.*/.*\.(ya?ml)$
    pass_filenames: false
    always_run: false
  - id: hass-check-config
    name: validate home assistant config
    entry: scripts/hass-check-config
    language: system
    files: ^(kubernetes/hass/|scripts/hass-check-config)
    pass_filenames: false
  - id: kyverno-validate
    name: kyverno policy validation
    entry: kubernetes/scripts/kyverno-wrapper
    language: system
    pass_filenames: true
    files: ^kubernetes/.*\.(ya?ml)$

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.11.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.8
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.46.0
  hooks:
  - id: markdownlint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.104.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
  - id: terraform_tflint
  - id: terraform_providers_lock
    args:
    - --hook-config=--mode=always-regenerate-lockfile
    - --args=-platform=linux_amd64
    - --args=-platform=darwin_arm64

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.9
  hooks:
  - id: actionlint

- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 42.38.0
  hooks:
  - id: renovate-config-validator

Add tests/rpi/Dockerfile to automerge digest updates
  .renovaterc
Due: none

Add container registry operations rule for skopeo
  .claude/rules/tooling/container-registries.md
  .markdownlint.yaml
Due: none

Add staleness detection for .secrets.age
  .envrc
  .gitignore
  scripts/bootstrap-secrets
Due: none

Fix INJECT_FACTS_AS_VARS deprecation warnings
  .claude/rules/ansible/semaphore.md
  ansible/group_vars/all/docker.yaml
  ansible/host_vars/flux.yaml
  ansible/roles/kubeadm/tasks/master.yaml
  ansible/roles/kubeadm/templates/kubeadm.conf.j2
Due: ansible-lint

Add p2 back to Proxmox cluster
  ansible/inventory/default
Due: ansible-lint

Fix cross-seed path mismatch with qBittorrent
  kubernetes/cross-seed/config.js
  kubernetes/cross-seed/deploy.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Replace tbaczynski.chrony with local chrony role
  ansible/galaxy/roles/tbaczynski.chrony/.gitlab-ci.yml
  ansible/galaxy/roles/tbaczynski.chrony/.yamllint.yml
  ansible/galaxy/roles/tbaczynski.chrony/README.md
  ansible/galaxy/roles/tbaczynski.chrony/defaults/main.yaml
  ansible/galaxy/roles/tbaczynski.chrony/handlers/main.yml
  ansible/galaxy/roles/tbaczynski.chrony/meta/main.yml
  ansible/galaxy/roles/tbaczynski.chrony/tasks/main.yaml
  ansible/galaxy/roles/tbaczynski.chrony/templates/chrony.conf.j2
  ansible/galaxy/roles/tbaczynski.chrony/templates/chrony.keys.j2
  ansible/requirements.yml
  ansible/roles/chrony/defaults/main.yaml
  ansible/roles/chrony/handlers/main.yaml
  ansible/roles/chrony/tasks/main.yaml
  ansible/roles/chrony/templates/chrony.conf.j2
  ansible/site.yaml
Due: ansible-lint

Add beads sync state files to gitignore
  .beads/.gitignore
Due: none

Fix DNS resolution when using flux as exit node
  opentofu/tailscale.tf
Due: none

Add IPv6 AAAA records for ddns-route53
  kubernetes/ddns-route53/deploy.yaml
  kubernetes/ddns-route53/externalsecret.yaml
  opentofu/ddns-route53.tf
  opentofu/locals.tf
  opentofu/modules/dns/outputs.tf
Due: kubeconform, ak-tool-generate, kyverno-validate

Add ESPHome hosts management via OpenTofu
  .claude/rules/esphome/static-ips.md
  .pre-commit-config.yaml
  esphome/bedjet-power.yaml
  esphome/bedjet.yaml
  esphome/freezer-door.yaml
  esphome/freezer.yaml
  esphome/garage-bme280.yaml
  esphome/infra1-power.yaml
  esphome/living-room-bme280.yaml
  esphome/office-bme280.yaml
  esphome/office-closet-lamp.yaml
  esphome/office-foot-warmer.yaml
  esphome/office-heater.yaml
  esphome/officedesk.yaml
  esphome/offline/battery-bme280.yaml
  esphome/offline/family_room_humidifier.yaml
  esphome/offline/filament-dryer.yaml
  esphome/offline/s31-blank-1.yaml
  esphome/offline/s31-blank-3.yaml
  esphome/offline/temp-probe.yaml
  esphome/offline/x1c-bentobox.yaml
  esphome/opengarage-left-door.yaml
  esphome/opengarage-right-door.yaml
  esphome/p1-power.yaml
  esphome/p2-power.yaml
  esphome/p3-power.yaml
  esphome/p4-power.yaml
  esphome/szamar-power.yaml
  esphome/temp-probe1.yaml
  esphome/temp-probe2.yaml
  esphome/ups-power.yaml
  esphome/x1c-ams1-monitor.yaml
  esphome/x1c-ams2-monitor.yaml
  opentofu/esphome-hosts.tf
  opentofu/esphome.tf
  opentofu/locals.tf
  opentofu/unifi.tf
  scripts/gen-esphome-hosts
Due: none

Add NUT client shutdown coordination for Proxmox hosts
  ansible/group_vars/nut.yaml
  ansible/group_vars/nut_client.yaml
  ansible/inventory/default
  ansible/roles/nut/tasks/main.yaml
  ansible/roles/nut/templates/upssched-cmd.sh.j2
  ansible/site.yaml
  ansible/templates/nut/upssched.conf.j2
Due: ansible-lint

Add UPS power and energy sensors for Home Assistant
  .claude/rules/kubernetes/deployment-pattern.md
  kubernetes/hass/config/kustomization.yaml
  kubernetes/hass/config/packages/ups_power.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Add kyverno policy requiring namespace in kustomization files
  .kyverno/policies/require-kustomization-namespace.yaml
  kubernetes/0-namespaces/kustomization.yaml
  kubernetes/hass/config/kustomization.yaml
  kubernetes/nvidia-device-plugin/kustomization.yaml
  kubernetes/restic/cronjobs/kustomization.yaml
  kubernetes/restic/rest-server/kustomization.yaml
  kubernetes/restic/shared/kustomization.yaml
  kubernetes/semaphore/idempotency-test/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Remove Vagrant conditional from postfix role
  ansible/site.yaml
Due: ansible-lint

bd sync: 2026-01-18 15:08:25
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-18 15:21:31
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-18 17:01:08
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-18 17:04:08
  .beads/issues.jsonl
Due: none

Update .gitignore to include Beads JSONL files
  .gitignore
Due: none

Update artis3n.tailscale from 1.1.0 to 1.2.0
  ansible/galaxy/collections/ansible_collections/artis3n.tailscale-1.2.0.info/GALAXY.yml
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/.config/molecule/config.yml
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/.envrc.example
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/DEVELOPMENT.md
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/extensions/molecule/DEVELOPMENT.md
  ansible/galaxy/collections/ansible_collections/artis3n/tailscale/roles/machine/tasks/determine_distro_family.yml
Due: none
