Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

Add ESPHome power monitor DNS records
  opentofu/locals.tf
Due: none

Fix Grafana certificate issuer typo
  kubernetes/grafana/helm/grafana/ingress.yaml
  kubernetes/grafana/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

restic: add xtal B2 forget/check cronjobs and healthchecks
  kubernetes/restic/cronjobs/cronjob-xtal-b2-check.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-b2-forget.yaml
  kubernetes/restic/cronjobs/kustomization.yaml
  kubernetes/restic/profiles.yaml
  opentofu/healthchecks.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add development workflow section to AGENTS.md
  AGENTS.md
Due: none

restic: add xtal backup copy to B2
  kubernetes/restic/cronjobs/cronjob-xtal-copy.yaml
  kubernetes/restic/cronjobs/kustomization.yaml
  kubernetes/restic/profiles.yaml
  opentofu/healthchecks.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add ESPHome power monitor for infra1
  esphome/infra1-power.yaml
Due: none

Update agent documentation
  .agents.d/external-secrets.md
  .agents.d/hass-metrics.md
  AGENTS.md
Due: none

Add temperature monitoring with rolling minimum and water leak alerts
  kubernetes/hass/config/configuration.yaml
  kubernetes/hass/config/kustomization.yaml
  kubernetes/hass/config/packages/temperature_alerts.yaml
  kubernetes/hass/helm/statefulset.yaml
  kubernetes/hass/kustomization.yaml
  kubernetes/hass/render
  kubernetes/hass/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Update .agents.d/hass-metrics.md
  .agents.d/hass-metrics.md
Due: none

Add restore_mode, web package, and fix icon for infra1-power
  esphome/infra1-power.yaml
  esphome/s31-blank-1.yaml
  esphome/s31-blank-3.yaml
Due: none

garage doors: use Aqara tilt sensors for state detection
  esphome/common/device-classes/opengarage.yaml
  esphome/opengarage-left-door.yaml
  esphome/opengarage-right-door.yaml
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Remove getmail configuration
  kubernetes/getmail/cronjob.yaml
  kubernetes/getmail/externalsecret.yaml
  kubernetes/getmail/getmailrc
  kubernetes/getmail/kustomization.yaml
  kubernetes/getmail/namespace.yaml
  kubernetes/getmail/procmailrc
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add preserveResourcesOnDeletion to ApplicationSet
  kubernetes/argocd/appset.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Add Grml rescue system to PXE boot menu
  .renovaterc
  ansible/roles/os-install/files/boot.ipxe
  ansible/roles/os-install/tasks/grml.yaml
  ansible/roles/os-install/tasks/main.yaml
  ansible/roles/os-install/vars/main.yaml
Due: ansible-lint

P2V migration: luser physical to VM
  ansible/host_vars/ansible-integration-test.yaml
  ansible/host_vars/luser.yaml
  ansible/roles/common/tasks/main.yaml
  opentofu/locals.tf
  opentofu/proxmox.tf
Due: ansible-lint

Fix Grml ISO mount adding entry to fstab
  ansible/roles/os-install/tasks/grml.yaml
Due: ansible-lint

Enable memory ballooning on Kubernetes VMs
  opentofu/proxmox.tf
Due: none

Add zram swap role for memory pressure relief
  ansible/group_vars/proxmox/zram.yaml
  ansible/roles/common/vars/main.yaml
  ansible/roles/kubeadm/tasks/common.yaml
  ansible/roles/zram/defaults/main.yaml
  ansible/roles/zram/handlers/main.yaml
  ansible/roles/zram/tasks/main.yaml
  ansible/roles/zram/templates/zram-generator.conf.j2
  ansible/site.yaml
Due: ansible-lint

Garage door sensors: add availability template to prevent false notifications
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Fix proxmox group_vars directory/file conflict
  ansible/group_vars/proxmox.yaml
  ansible/group_vars/proxmox/zram.yaml
Due: ansible-lint

Add p1 Proxmox host with configurable ZFS raid level
  ansible/host_vars/p1.yaml
  ansible/inventory/default
  ansible/roles/os-install/templates/proxmox-answer.toml.j2
  opentofu/locals.tf
Due: ansible-lint

Replace main floor hygrostat with basement hygrostat
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Path conditions:
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
