Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

.pre-commit-config.yaml:

---
exclude: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^ansible/
  - id: check-added-large-files
    exclude: ^esphome/img/
  - id: check-merge-conflict

- repo: https://github.com/lyz-code/yamlfix
  rev: 1.18.0
  hooks:
  - id: yamlfix
    args: [-c, .yamlfix.toml]
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.37.1
  hooks:
  - id: yamllint
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    types_or: [json, markdown]

- repo: local
  hooks:
  - id: ansible-lint
    name: ansible-lint
    entry: scripts/ansible-lint-wrapper
    language: system
    files: ^ansible/.*$
    require_serial: true
  - id: format-kustomization
    name: format kustomization.yaml files
    entry: scripts/format-kustomization
    language: system
    files: ^kubernetes/.*/kustomization\.ya?ml$
    pass_filenames: true
  - id: kubeconform
    name: kubeconform manifest validation
    entry: kubernetes/scripts/kubeconform-wrapper
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
    exclude: (helm\.yaml|patch-.*\.yaml)$
  - id: validate-iscsi-labels
    name: validate iSCSI PVC labels
    entry: kubernetes/scripts/validate-iscsi-labels
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
  - id: ak-tool-generate
    name: generate authentik terraform configs
    entry: kubernetes/scripts/ak-tool generate
    language: system
    files: ^kubernetes/.*/.*\.(ya?ml)$
    pass_filenames: false
    always_run: false

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.11.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.2
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.45.0
  hooks:
  - id: markdownlint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.103.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
  - id: terraform_tflint
  - id: terraform_providers_lock
    args:
    - --hook-config=--mode=always-regenerate-lockfile
    - --args=-platform=linux_amd64
    - --args=-platform=darwin_arm64

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.8
  hooks:
  - id: actionlint

- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 41.165.5
  hooks:
  - id: renovate-config-validator

Fix typo: ERROR_COMANDLINE → ERROR_COMMANDLINE
  ansible/group_vars/all/restic.yaml
Due: ansible-lint

Split group_vars/all.yaml into separate files by function
  ansible/group_vars/all.yaml
  ansible/group_vars/all/aws.yaml
  ansible/group_vars/all/docker.yaml
  ansible/group_vars/all/fail2ban.yaml
  ansible/group_vars/all/main.yaml
  ansible/group_vars/all/node_exporter.yaml
  ansible/group_vars/all/relaymail.yaml
  ansible/group_vars/all/restic.yaml
  ansible/group_vars/all/tailscale.yaml
  ansible/group_vars/all/users.yaml
Due: ansible-lint

Add Authentik OIDC authentication for Proxmox
  ansible/group_vars/proxmox.yaml
  ansible/roles/proxmox/tasks/main.yaml
  ansible/roles/proxmox/tasks/oidc.yaml
  opentofu/modules/authentik/proxmox-oidc-1p.tf
  opentofu/modules/authentik/proxmox.tf
Due: ansible-lint

Migrate restic backups from SFTP to REST server
  ansible/group_vars/all/restic-repo-secrets.yaml
  ansible/group_vars/all/restic.yaml
  ansible/group_vars/proxmox.yaml
  ansible/host_vars/ansible-integration-test.yaml
  ansible/host_vars/flux.yaml
  ansible/host_vars/luser.yaml
  ansible/roles/resticprofile/defaults/main.yaml
  ansible/roles/resticprofile/tasks/configure-client.yaml
  ansible/roles/resticprofile/tasks/main.yaml
  ansible/roles/resticprofile/tasks/sftp-client.yaml
  ansible/roles/resticprofile/tasks/sftp-server.yaml
  ansible/roles/resticprofile/templates/config.j2
  ansible/site.yaml
  kubernetes/restic-rest-server/deployment.yaml
  kubernetes/restic-rest-server/externalsecret.yaml
  kubernetes/restic-rest-server/ingress.yaml
  kubernetes/restic-rest-server/kustomization.yaml
  kubernetes/restic-rest-server/namespace.yaml
  kubernetes/restic-rest-server/service.yaml
  kubernetes/restic-rest-server/sync-restic-secrets
  kubernetes/restic-rest-server/tailscale-ingress.yaml
  kubernetes/resticprofile/cronjob-b2-forget.yaml
  kubernetes/resticprofile/cronjob-main-check.yaml
  kubernetes/resticprofile/cronjob-main-copy.yaml
  kubernetes/resticprofile/cronjob-main-forget.yaml
  kubernetes/resticprofile/kustomization.yaml
  kubernetes/resticprofile/profiles.yaml
  opentofu/tailscale.tf
Due: ansible-lint, format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Add unified iscsi-storage script for Synology maintenance
  scripts/iscsi-storage
  scripts/restart-iscsi-pods
Due: none

Add homepage annotations to booklore, n8n, and openarchiver ingresses
  kubernetes/booklore/ingress.yaml
  kubernetes/n8n/helm/n8n/ingress.yaml
  kubernetes/n8n/values.yaml
  kubernetes/openarchiver/ingress.yaml
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Move nut_webgui environment config to env file
  ansible/roles/nut/files/docker-compose.yaml
  ansible/roles/nut/templates/webgui.env.j2
Due: ansible-lint

Consolidate restic directories with templated maintenance cronjobs
  .envrc
  ansible/group_vars/all/restic-repo-secrets.yaml
  kubernetes/restic-rest-server/kustomization.yaml
  kubernetes/restic-rest-server/sync-restic-secrets
  kubernetes/restic/cronjob-maintenance.yaml.j2
  kubernetes/restic/cronjobs/cronjob-b2-forget.yaml
  kubernetes/restic/cronjobs/cronjob-b2.yaml
  kubernetes/restic/cronjobs/cronjob-flux-maintenance.yaml
  kubernetes/restic/cronjobs/cronjob-main-copy.yaml
  kubernetes/restic/cronjobs/cronjob-main-maintenance.yaml
  kubernetes/restic/cronjobs/cronjob-xtal-maintenance.yaml
  kubernetes/restic/cronjobs/kustomization.yaml
  kubernetes/restic/kustomization.yaml
  kubernetes/restic/maintenance-wrapper.sh
  kubernetes/restic/profiles.yaml
  kubernetes/restic/rclone.conf
  kubernetes/restic/render-and-sync
  kubernetes/restic/rest-server/deployment.yaml
  kubernetes/restic/rest-server/externalsecret.yaml
  kubernetes/restic/rest-server/ingress.yaml
  kubernetes/restic/rest-server/kustomization.yaml
  kubernetes/restic/rest-server/service.yaml
  kubernetes/restic/rest-server/tailscale-ingress.yaml
  kubernetes/restic/scripts/get-1password-secrets
  kubernetes/restic/scripts/run
  kubernetes/restic/scripts/run-rclone
  kubernetes/restic/shared/externalsecret.yaml
  kubernetes/restic/shared/kustomization.yaml
  kubernetes/restic/shared/namespace.yaml
  kubernetes/restic/shared/pvc.yaml
Due: ansible-lint, format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Set WiFi min_auth_mode to WPA2
  esphome/common/wifi.yaml
Due: none

Add Kyverno policies for kustomization and PVC validation
  .kyverno/policies/require-iscsi-backup-label.yaml
  .kyverno/policies/require-kustomize-image-format.yaml
  .pre-commit-config.yaml
  kubernetes/ara/kustomization.yaml
  kubernetes/karakeep/kustomization.yaml
  kubernetes/openarchiver/kustomization.yaml
  kubernetes/overseerr/kustomization.yaml
  kubernetes/scripts/kyverno-wrapper
  kubernetes/scripts/validate-iscsi-labels
Due: format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Remove defunct host configs for frank and pizero
  ansible/group_vars/pizero.yaml
  ansible/host_vars/frank.yaml
Due: ansible-lint

Move Tailscale exit node from luser to infrapi
  ansible/host_vars/flux.yaml
  ansible/host_vars/infrapi.yaml
  ansible/host_vars/luser.yaml
Due: ansible-lint

Migrate rsnapshot to Kubernetes, consolidate healthcheck secrets
  kubernetes/restic/shared/externalsecret.yaml
  kubernetes/rsnapshot/cronjob-daily.yaml
  kubernetes/rsnapshot/cronjob-monthly.yaml
  kubernetes/rsnapshot/cronjob-weekly.yaml
  kubernetes/rsnapshot/externalsecret.yaml
  kubernetes/rsnapshot/kustomization.yaml
  kubernetes/rsnapshot/namespace.yaml
  kubernetes/rsnapshot/rsnapshot.conf
  kubernetes/rsnapshot/ssh-config
  kubernetes/velero/healthcheck-externalsecret.yaml
  kubernetes/velero/healthcheck.sh
Due: format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Consolidate NFS mounts for hardlink compatibility
  kubernetes/cross-seed/config.js
  kubernetes/cross-seed/deploy.yaml
  kubernetes/radarr/deploy.yaml
  kubernetes/sonarr/deploy.yaml
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Add CrowdSec with UniFi firewall log integration
  kubernetes/alloy/helm/templates/configmap.yaml
  kubernetes/alloy/helm/templates/controllers/daemonset.yaml
  kubernetes/alloy/kustomization.yaml
  kubernetes/alloy/syslog-service.yaml
  kubernetes/alloy/values.yaml
  kubernetes/crowdsec/Chart.lock
  kubernetes/crowdsec/Chart.yaml
  kubernetes/crowdsec/externalsecret-lapi.yaml
  kubernetes/crowdsec/externalsecret.yaml
  kubernetes/crowdsec/helm/templates/acquis-configmap.yaml
  kubernetes/crowdsec/helm/templates/agent-configmap.yaml
  kubernetes/crowdsec/helm/templates/agent-deployment.yaml
  kubernetes/crowdsec/helm/templates/agent-service.yaml
  kubernetes/crowdsec/helm/templates/docker-start-configmap.yaml
  kubernetes/crowdsec/helm/templates/lapi-configmap.yaml
  kubernetes/crowdsec/helm/templates/lapi-deployment.yaml
  kubernetes/crowdsec/helm/templates/lapi-persistentVolume.yaml
  kubernetes/crowdsec/helm/templates/lapi-service.yaml
  kubernetes/crowdsec/kustomization.yaml
  kubernetes/crowdsec/namespace.yaml
  kubernetes/crowdsec/postgres-cluster.yaml
  kubernetes/crowdsec/render
  kubernetes/crowdsec/values.yaml
  kubernetes/loki/externalsecret-basic-auth.yaml
  kubernetes/loki/ingress.yaml
  kubernetes/loki/kustomization.yaml
Due: format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Migrate getmail from luser to Kubernetes
  kubernetes/getmail/cronjob.yaml
  kubernetes/getmail/externalsecret.yaml
  kubernetes/getmail/getmailrc
  kubernetes/getmail/kustomization.yaml
  kubernetes/getmail/namespace.yaml
  kubernetes/getmail/procmailrc
Due: format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Tighten CrowdSec security and clean up agent config
  kubernetes/crowdsec/helm/templates/agent-configmap.yaml
  kubernetes/crowdsec/helm/templates/agent-deployment.yaml
  kubernetes/crowdsec/helm/templates/lapi-configmap.yaml
  kubernetes/crowdsec/helm/templates/lapi-deployment.yaml
  kubernetes/crowdsec/values.yaml
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Remove resource requests/limits via kustomize patch
  kubernetes/crowdsec/kustomization.yaml
  kubernetes/crowdsec/patch-remove-resources.yaml
Due: format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Remove CWA and downloader
  kubernetes/bookshelf/copy-to-booklore.sh
  kubernetes/bookshelf/deploy.yaml
  kubernetes/bookshelf/kustomization.yaml
  kubernetes/cwa/deploy-downloader.yaml
  kubernetes/cwa/deploy.yaml
  kubernetes/cwa/externalsecret.yaml
  kubernetes/cwa/ingress-downloader.yaml
  kubernetes/cwa/ingress.yaml
  kubernetes/cwa/kustomization.yaml
  kubernetes/cwa/pvc-config.yaml
  kubernetes/cwa/pvc-metadata.yaml
  kubernetes/cwa/service-downloader.yaml
  kubernetes/cwa/service.yaml
  kubernetes/scripts/ak-tool
  opentofu/modules/authentik/generated-cwa-cwa.tf
  opentofu/modules/authentik/generated-cwa-downloader.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Add battery monitoring for outdoor sensors
  kubernetes/hass/config/configuration.yaml
  kubernetes/prometheus/config/rules.yml
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Add infra1 host as replacement for infrapi
  ansible/host_vars/infra1.yaml
  ansible/inventory/default
  opentofu/locals.tf
Due: ansible-lint
