Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

block-secrets-file:
  name: block .secrets.age file
  language: fail
  entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

esphome-hosts-check:
  name: check ESPHome hosts terraform is up to date
  entry: scripts/gen-esphome-hosts --check
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

Document MinusPod 2.65.0 feature changes
  docs/minuspod-2.65.0-significant-features.md
Due: none

Update MinusPod to 2.65.0
  kubernetes/minuspod/deploy.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Upgrade Argo CD without NetworkPolicies
  kubernetes/argocd/Chart.yaml
  kubernetes/argocd/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

gitblobstore: checkandput manifest
  manifest
  p73s51ca1pq8sit56d6qm7obguoaav4l.darc
Due: none

gitblobstore: checkandput manifest
  e6rpjcm3diq74ijf7ctraui9jasrebt3
  manifest
Due: none

gitblobstore: checkandput manifest
  fr6uogco9vojv7kci429hcia7h3pt6qc.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  r9pd4r3c3iv9v69et2mpo5qvoq8gib0j
Due: none

Redirect MinusPod root and add Homepage card
  kubernetes/minuspod/ingress.yaml
  kubernetes/minuspod/kustomization.yaml
  kubernetes/minuspod/middleware-redirect-root.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

gitblobstore: checkandput manifest
  manifest
  q927etol8h4benpmjvhde75o62l2ad5g.darc
Due: none

gitblobstore: checkandput manifest
  65no5bmija9u2id64cbphhqbtjeuolqo
  manifest
Due: none

Add qBittorrent API health probes
  kubernetes/qbittorrent/deploy.yaml
  kubernetes/qbittorrent/externalsecret.yaml
  kubernetes/qbittorrent/kustomization.yaml
  kubernetes/qbittorrent/scripts/check-health.sh
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

gitblobstore: checkandput manifest
  manifest
  ncectcrjj6hqbdc60ciavo5ml7i93hvc.darc
Due: none

gitblobstore: checkandput manifest
  5npq1oa0at16dnsuvjmmvip3dsfo0b5f
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  v4dritukharh2dgbrlmucrgjhmgrpso1.darc
Due: none

gitblobstore: checkandput manifest
  manifest
  tlml27q5e8tues2timblr7a65b6r1dop
Due: none

Sync ezShare CPAP data to NFS
  .renovaterc
  ansible/host_vars/k5.yaml
  ansible/roles/common/tasks/main.yaml
  kubernetes/cpap-ezshare-sync/cronjob.yaml
  kubernetes/cpap-ezshare-sync/kustomization.yaml
  kubernetes/cpap-ezshare-sync/namespace.yaml
  kubernetes/cpap-ezshare-sync/pvc.yaml
  kubernetes/cpap-ezshare-sync/run
  kubernetes/got-your-back/run
Due: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Repair VPA admission certificate handling
  kubernetes/vpa/helm/templates/admission-controller-deployment.yaml
  kubernetes/vpa/helm/templates/admission-controller-pdb.yaml
  kubernetes/vpa/helm/templates/webhooks/mutating.yaml
  kubernetes/vpa/kustomization.yaml
  kubernetes/vpa/values.yaml
  kubernetes/vpa/webhook-certificate.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Switch qBittorrent to official image
  kubernetes/cross-seed/deploy.yaml
  kubernetes/qbit-manage/deploy.yaml
  kubernetes/qbittorrent/deploy.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Rebalance VPA admission replicas
  kubernetes/descheduler/helm/templates/configmap.yaml
  kubernetes/descheduler/helm/templates/cronjob.yaml
  kubernetes/descheduler/values.yaml
  kubernetes/vpa/helm/templates/admission-controller-deployment.yaml
  kubernetes/vpa/helm/templates/webhooks/mutating.yaml
  kubernetes/vpa/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Add authenticated cross-seed completion hook
  kubernetes/qbittorrent/deploy.yaml
  kubernetes/qbittorrent/externalsecret.yaml
  kubernetes/qbittorrent/kustomization.yaml
  kubernetes/qbittorrent/scripts/cross-seed-hook.sh
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Track qBittorrent LT2 image revisions
  .renovaterc
Due: none

Reduce cross-seed full search frequency
  kubernetes/cross-seed/config.js
Due: none

Fix cross-seed search windows
  kubernetes/cross-seed/config.js
Due: none

Add qBittorrent operational telemetry
  kubernetes/blackbox-exporter/config.yaml
  kubernetes/blackbox-exporter/deploy.yaml
  kubernetes/blackbox-exporter/externalsecret.yaml
  kubernetes/blackbox-exporter/kustomization.yaml
  kubernetes/prometheus/config/prometheus.yml
  kubernetes/prometheus/config/rules.yml
  kubernetes/prometheus/externalsecret.yaml
  kubernetes/qui/deploy.yaml
  kubernetes/qui/kustomization.yaml
  kubernetes/qui/service-metrics.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Enforce pinned image pull policy
  .kyverno/policies/require-pinned-image-pull-policy.yaml
  .pre-commit-config.yaml
  kubernetes/awair-exporter/deploy.yaml
  kubernetes/blackbox-exporter/deploy.yaml
  kubernetes/cluster-backup/cronjob.yaml
  kubernetes/got-your-back/cronjob-full.yaml
  kubernetes/got-your-back/cronjob-incremental.yaml
  kubernetes/meshcentral/deploy.yaml
  kubernetes/mosquitto/deploy.yaml
  kubernetes/mqtt-log/deploy.yaml
  kubernetes/netatmo-wunderground-agent/deploy.yaml
  kubernetes/plexmediaserver/deploy.yaml
  kubernetes/qbittorrent/deploy.yaml
  kubernetes/rclone-exporter/deployment.yaml
  kubernetes/scripts/kyverno-wrapper
  kubernetes/smokeping/deploy.yaml
  kubernetes/tautulli/deploy.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Prefer ingress for Kubernetes access
  AGENTS.md
Due: none

Path conditions:
  block-secrets-file: any of: ^\.secrets\.age$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  esphome-hosts-check: any of: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
