Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

block-secrets-file:
  name: block .secrets.age file
  language: fail
  entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

esphome-hosts-check:
  name: check ESPHome hosts terraform is up to date
  entry: scripts/gen-esphome-hosts --check
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

Halve Codex runner capacity
  kubernetes/codex-runners/helm/dotfiles-autoscalingrunnerset.yaml
  kubernetes/codex-runners/helm/github-actions-autoscalingrunnerset.yaml
  kubernetes/codex-runners/helm/go-unifi-mcp-autoscalingrunnerset.yaml
  kubernetes/codex-runners/helm/infra-autoscalingrunnerset.yaml
  kubernetes/codex-runners/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Give Kyverno Kustomizations unique identities
  kubernetes/scripts/kyverno-wrapper
Due: none

Use UDMP LAN address for split DNS
  opentofu/tailscale.tf
Due: none

Validate rendered apps independently
  .pre-commit-config.yaml
  kubernetes/netdata/kustomization.yaml
  kubernetes/scripts/kyverno-wrapper
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Upgrade Grimmory with canonical settings
  kubernetes/grimmory/deployment.yaml
  kubernetes/grimmory/mariadb-deployment.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Centralize WhisperX transcription
  kubernetes/minuspod/deploy.yaml
  kubernetes/speakr/deploy-speakr.yaml
  kubernetes/speakr/kustomization.yaml
  kubernetes/speakr/service-whisperx.yaml
  kubernetes/storyteller/storyteller.json
  kubernetes/whisperx/deployment.yaml
  kubernetes/whisperx/externalsecret.yaml
  kubernetes/whisperx/kustomization.yaml
  kubernetes/whisperx/namespace.yaml
  kubernetes/whisperx/pvc-cache.yaml
  kubernetes/whisperx/service.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add persistent soju IRC bouncer
  kubernetes/soju/certificate.yaml
  kubernetes/soju/config
  kubernetes/soju/deploy.yaml
  kubernetes/soju/kustomization.yaml
  kubernetes/soju/namespace.yaml
  kubernetes/soju/pvc.yaml
  kubernetes/soju/service.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Preserve failed ESPHome build logs
  esphome/scripts/esphome-all
Due: none

Isolate ESPHome Python environment
  esphome/scripts/esphome
Due: none

Back up nfs-slow persistent volumes
  kubernetes/restic/cronjobs/cronjob-hetzner.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Document homelab backup architecture
  .claude/rules/backups.md
  AGENTS.md
Due: none

Move agent guidance to .agents
  .agents/rules/ansible/semaphore.md
  .agents/rules/ansible/usage.md
  .agents/rules/backups.md
  .agents/rules/esphome/static-ips.md
  .agents/rules/integrations/cloudflare.md
  .agents/rules/integrations/home-assistant.md
  .agents/rules/integrations/unifi.md
  .agents/rules/kubernetes/deployment-pattern.md
  .agents/rules/kubernetes/external-secrets.md
  .agents/rules/kubernetes/helm-rendering.md
  .agents/rules/opentofu/slack.md
  .agents/rules/opentofu/usage.md
  .agents/rules/overview.md
  .agents/rules/tooling/authentik.md
  .agents/rules/tooling/ci-cd.md
  .agents/rules/tooling/container-registries.md
  .agents/rules/tooling/pre-commit.md
  .agents/rules/tooling/renovate.md
  .agents/rules/tooling/secrets.md
  .agents/rules/workflow.md
  .agents/skills/mcp-cli
  .agents/skills/mcp-cli/SKILL.md
  .agents/skills/renovate-eval
  .claude/rules
  .github/workflows/issue-triage.yaml
  AGENTS.md
Due: none

Add ESPHome Device Builder launcher
  .renovaterc
  esphome/scripts/esphome
  esphome/scripts/esphome-device-builder
  esphome/scripts/versions
Due: none

Reduce P4 bootloader logging
  esphome/common/device-classes/crowpanel-p4-10.yaml
Due: none

Catalog ESPHome compile warnings
  .agents/rules/esphome/upgrades.md
  .github/workflows/esphome.yaml
  esphome/scripts/esphome-all
  esphome/scripts/esphome-warnings
  esphome/warning-catalog.yaml
Due: esphome-hosts-check

Delay VRRoom reboot until Harmony is ready
  kubernetes/hass/config/packages/basement_entertainment.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Delay VRRoom reboot until Harmony is ready (#2887)
  kubernetes/hass/config/packages/basement_entertainment.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Update ESPHome to 2026.7.4
  esphome/common/device-classes/crowpanel-p4-10.yaml
  esphome/common/weather-bg.yaml
  esphome/scripts/versions
  esphome/warning-catalog.yaml
  flake.nix
Due: esphome-hosts-check

Add persistent Synology console logging
  ansible/host_vars/infra1.yaml
  ansible/inventory/default
  ansible/requirements.yml
  ansible/roles/conserver/defaults/main.yaml
  ansible/roles/conserver/handlers/main.yaml
  ansible/roles/conserver/tasks/main.yaml
  ansible/roles/conserver/tasks/tls.yaml
  ansible/roles/conserver/templates/conserver.cf.j2
  ansible/roles/conserver/templates/console.cf.j2
  ansible/roles/conserver/templates/logrotate.j2
  ansible/roles/conserver/templates/server.local.j2
  ansible/site.yaml
Due: ansible-lint

Expose OpenArchiver API key to direnv
  .secrets.tmpl
Due: none

Increase exporter alert tolerance
  kubernetes/prometheus/config/rules.yml
Due: kubeconform, ak-tool-generate, kyverno-validate

Document Synology console access
  .agents/rules/integrations/synology.md
  AGENTS.md
Due: none

Path conditions:
  block-secrets-file: any of: ^\.secrets\.age$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  esphome-hosts-check: any of: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
