Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

block-secrets-file:
  name: block .secrets.age file
  language: fail
  entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

esphome-hosts-check:
  name: check ESPHome hosts terraform is up to date
  entry: scripts/gen-esphome-hosts --check
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

Finish Renovate eval runner setup
  kubernetes/codex-runners/runner-hooks-configmap.yaml
  opentofu/.terraform.lock.hcl
  opentofu/github-repos.tf
Due: kubeconform, ak-tool-generate, kyverno-validate

Use smartmontools service name
  ansible/roles/common/handlers/main.yaml
  ansible/roles/common/tasks/main.yaml
Due: ansible-lint

Deploy Multus macvlan attachment
  .pre-commit-config.yaml
  kubernetes/0-multus/kustomization.yaml
  kubernetes/0-multus/render
  kubernetes/0-multus/upstream/multus-daemonset-thick.yaml
  kubernetes/1-nad/kustomization.yaml
  kubernetes/1-nad/network-attachment-definition.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Remove CrowdSec from the cluster
  kubernetes/crowdsec/Chart.lock
  kubernetes/crowdsec/Chart.yaml
  kubernetes/crowdsec/externalsecret-lapi.yaml
  kubernetes/crowdsec/externalsecret.yaml
  kubernetes/crowdsec/helm/templates/acquis-configmap.yaml
  kubernetes/crowdsec/helm/templates/agent-configmap.yaml
  kubernetes/crowdsec/helm/templates/agent-deployment.yaml
  kubernetes/crowdsec/helm/templates/agent-service.yaml
  kubernetes/crowdsec/helm/templates/docker-start-configmap.yaml
  kubernetes/crowdsec/helm/templates/lapi-configmap.yaml
  kubernetes/crowdsec/helm/templates/lapi-deployment.yaml
  kubernetes/crowdsec/helm/templates/lapi-persistentVolume.yaml
  kubernetes/crowdsec/helm/templates/lapi-service.yaml
  kubernetes/crowdsec/kustomization.yaml
  kubernetes/crowdsec/namespace.yaml
  kubernetes/crowdsec/patch-remove-resources.yaml
  kubernetes/crowdsec/postgres-cluster.yaml
  kubernetes/crowdsec/render
  kubernetes/crowdsec/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Keep Codex runners on uv Debian image
  kubernetes/codex-runners/README.md
  kubernetes/codex-runners/cronjob-auth-refresh.yaml
  kubernetes/codex-runners/helm/dotfiles-autoscalingrunnerset.yaml
  kubernetes/codex-runners/helm/github-actions-autoscalingrunnerset.yaml
  kubernetes/codex-runners/helm/go-unifi-mcp-autoscalingrunnerset.yaml
  kubernetes/codex-runners/helm/infra-autoscalingrunnerset.yaml
  kubernetes/codex-runners/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Upgrade Homebox with API key pepper
  kubernetes/homebox/externalsecret-api-key-pepper.yaml
  kubernetes/homebox/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Update Renovate version constraints
  .renovaterc
Due: none

Fix Authentik redirect URI drift
  kubernetes/scripts/templates/provider-app-oidc.tf.j2
  opentofu/modules/authentik/.terraform.lock.hcl
  opentofu/modules/authentik/generated-argocd.tf
  opentofu/modules/authentik/generated-audiobookshelf.tf
  opentofu/modules/authentik/generated-autobrr.tf
  opentofu/modules/authentik/generated-dawarich.tf
  opentofu/modules/authentik/generated-felix-dashboard.tf
  opentofu/modules/authentik/generated-grafana.tf
  opentofu/modules/authentik/generated-grimmory.tf
  opentofu/modules/authentik/generated-homebox.tf
  opentofu/modules/authentik/generated-immich.tf
  opentofu/modules/authentik/generated-karakeep.tf
  opentofu/modules/authentik/generated-komga.tf
  opentofu/modules/authentik/generated-pinepods.tf
  opentofu/modules/authentik/generated-qui.tf
  opentofu/modules/authentik/generated-semaphore.tf
  opentofu/modules/authentik/generated-shelfmark-comics.tf
  opentofu/modules/authentik/generated-shelfmark.tf
  opentofu/modules/authentik/generated-speakr.tf
  opentofu/modules/authentik/proxmox.tf
Due: none

Declare Authentik OIDC grant types
  kubernetes/scripts/templates/provider-app-oidc.tf.j2
  opentofu/modules/authentik/.terraform.lock.hcl
  opentofu/modules/authentik/generated-argocd.tf
  opentofu/modules/authentik/generated-audiobookshelf.tf
  opentofu/modules/authentik/generated-autobrr.tf
  opentofu/modules/authentik/generated-dawarich.tf
  opentofu/modules/authentik/generated-felix-dashboard.tf
  opentofu/modules/authentik/generated-grafana.tf
  opentofu/modules/authentik/generated-grimmory.tf
  opentofu/modules/authentik/generated-homebox.tf
  opentofu/modules/authentik/generated-immich.tf
  opentofu/modules/authentik/generated-karakeep.tf
  opentofu/modules/authentik/generated-komga.tf
  opentofu/modules/authentik/generated-pinepods.tf
  opentofu/modules/authentik/generated-qui.tf
  opentofu/modules/authentik/generated-semaphore.tf
  opentofu/modules/authentik/generated-shelfmark-comics.tf
  opentofu/modules/authentik/generated-shelfmark.tf
  opentofu/modules/authentik/generated-speakr.tf
  opentofu/modules/authentik/versions.tf
Due: none

Deploy Bambuddy on Kubernetes
  kubernetes/bambuddy/deployment.yaml
  kubernetes/bambuddy/externalsecret.yaml
  kubernetes/bambuddy/ingress.yaml
  kubernetes/bambuddy/kustomization.yaml
  kubernetes/bambuddy/namespace.yaml
  kubernetes/bambuddy/password-generators.yaml
  kubernetes/bambuddy/postgres-cluster.yaml
  kubernetes/bambuddy/pvc.yaml
  kubernetes/bambuddy/scripts/install-bambu-studio-ca
  kubernetes/bambuddy/service.yaml
  opentofu/modules/authentik/generated-bambuddy-oidc-1p.tf
  opentofu/modules/authentik/generated-bambuddy.tf
  opentofu/modules/dns/oneill.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Configure kubelet pods without swap
  ansible/roles/kubeadm/templates/kubeadm.conf.j2
Due: ansible-lint

Update External Secrets to 2.7.0
  kubernetes/external-secrets/Chart.yaml
  kubernetes/external-secrets/helm/templates/crds/beyondtrustworkloadcredentialsdynamicsecret.yaml
  kubernetes/external-secrets/helm/templates/crds/clusterexternalsecret.yaml
  kubernetes/external-secrets/helm/templates/crds/clustergenerator.yaml
  kubernetes/external-secrets/helm/templates/crds/clusterpushsecret.yaml
  kubernetes/external-secrets/helm/templates/crds/clustersecretstore.yaml
  kubernetes/external-secrets/helm/templates/crds/externalsecret.yaml
  kubernetes/external-secrets/helm/templates/crds/pushsecret.yaml
  kubernetes/external-secrets/helm/templates/crds/secretstore.yaml
  kubernetes/external-secrets/helm/templates/deployment.yaml
  kubernetes/external-secrets/helm/templates/rbac.yaml
  kubernetes/external-secrets/helm/templates/serviceaccount.yaml
  kubernetes/external-secrets/helm/templates/validatingwebhook.yaml
  kubernetes/external-secrets/helm/templates/webhook-certificate.yaml
  kubernetes/external-secrets/helm/templates/webhook-deployment.yaml
  kubernetes/external-secrets/helm/templates/webhook-service.yaml
  kubernetes/external-secrets/helm/templates/webhook-serviceaccount.yaml
  kubernetes/external-secrets/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Remove unused PinePods deployment
  kubernetes/pinepods/Chart.yaml
  kubernetes/pinepods/externalsecret.yaml
  kubernetes/pinepods/helm/pinepods/deployment.yaml
  kubernetes/pinepods/helm/pinepods/ingress.yaml
  kubernetes/pinepods/helm/pinepods/pvc.yaml
  kubernetes/pinepods/helm/pinepods/secret.yaml
  kubernetes/pinepods/helm/pinepods/service.yaml
  kubernetes/pinepods/helm/valkey/configmap.yaml
  kubernetes/pinepods/helm/valkey/headless-svc.yaml
  kubernetes/pinepods/helm/valkey/health-configmap.yaml
  kubernetes/pinepods/helm/valkey/networkpolicy.yaml
  kubernetes/pinepods/helm/valkey/primary/application.yaml
  kubernetes/pinepods/helm/valkey/primary/service.yaml
  kubernetes/pinepods/helm/valkey/primary/serviceaccount.yaml
  kubernetes/pinepods/helm/valkey/scripts-configmap.yaml
  kubernetes/pinepods/kustomization.yaml
  kubernetes/pinepods/namespace.yaml
  kubernetes/pinepods/postgres-cluster.yaml
  kubernetes/pinepods/pvc-downloads.yaml
  kubernetes/pinepods/render
  kubernetes/pinepods/values.yaml
  opentofu/modules/authentik/generated-pinepods-oidc-1p.tf
  opentofu/modules/authentik/generated-pinepods.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

docs: note qbit_manage compatibility requirement
  kubernetes/qbittorrent/deploy.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Replace failed WH51 soil sensors
  kubernetes/hass/config/configuration.yaml
  kubernetes/hass/config/kustomization.yaml
  kubernetes/hass/config/packages/rtl433_garden_sensors.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Centralize outdoor battery alerting
  kubernetes/hass/config/packages/rtl433_garden_sensors.yaml
  kubernetes/prometheus/config/rules.yml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

gitblobstore: checkandput manifest
  manifest
  qj5bb893bqgtamkn4s7pknra5blm6mon.darc
Due: none

gitblobstore: checkandput manifest
  i86cehd3infscc57fidkml1usbkd19cm
  manifest
Due: none

gitblobstore: checkandput manifest
  j3unrbi8aaes0oh841aj9l4qb8s84sna.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  il3e7rpi33qnmkpqf1ohbvomdsfbg8qu
  manifest
Due: none

Path conditions:
  block-secrets-file: any of: ^\.secrets\.age$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  esphome-hosts-check: any of: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
