Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

.pre-commit-config.yaml:

---
exclude: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^ansible/
  - id: check-added-large-files
    exclude: ^esphome/img/
  - id: check-merge-conflict

- repo: https://github.com/lyz-code/yamlfix
  rev: 1.19.1
  hooks:
  - id: yamlfix
    args: [-c, .yamlfix.toml]
    exclude: ^ansible/|service-blueprint\.template\.yaml$|kubernetes/hass/config/configuration\.yaml$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.38.0
  hooks:
  - id: yamllint
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    types_or: [json, markdown]

- repo: local
  hooks:
  - id: block-secrets-file
    name: block .secrets.age file
    language: fail
    entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate
    files: ^\.secrets\.age$
  - id: ansible-lint
    name: ansible-lint
    entry: scripts/ansible-lint-wrapper
    language: system
    files: ^ansible/.*$
    require_serial: true
  - id: format-kustomization
    name: format kustomization.yaml files
    entry: scripts/format-kustomization
    language: system
    files: ^kubernetes/.*/kustomization\.ya?ml$
    pass_filenames: true
  - id: kubeconform
    name: kubeconform manifest validation
    entry: kubernetes/scripts/kubeconform-wrapper
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
    exclude: (helm\.yaml|patch-.*\.yaml)$
  - id: ak-tool-generate
    name: generate authentik terraform configs
    entry: kubernetes/scripts/ak-tool generate
    language: system
    files: ^kubernetes/.*/.*\.(ya?ml)$
    pass_filenames: false
    always_run: false
  - id: hass-check-config
    name: validate home assistant config
    entry: scripts/hass-check-config
    language: system
    files: ^(kubernetes/hass/|scripts/hass-check-config)
    pass_filenames: false
  - id: kyverno-validate
    name: kyverno policy validation
    entry: kubernetes/scripts/kyverno-wrapper
    language: system
    pass_filenames: true
    files: ^kubernetes/.*\.(ya?ml)$
  - id: esphome-hosts-check
    name: check ESPHome hosts terraform is up to date
    entry: scripts/gen-esphome-hosts --check
    language: python
    additional_dependencies: [pyyaml]
    files: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$
    pass_filenames: false
  - id: beads-flush
    name: beads pre-commit flush
    entry: bash -c '[ "$GITHUB_ACTIONS" = "true" ] && exit 0; [ "$(git rev-parse --abbrev-ref
      HEAD)" != "beads-sync" ] && exit 0; bd hooks run pre-commit'
    language: system
    pass_filenames: false
    always_run: true
    stages: [pre-commit]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.11.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.47.0
  hooks:
  - id: markdownlint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.105.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
  - id: terraform_tflint
  - id: terraform_providers_lock
    args:
    - --hook-config=--mode=always-regenerate-lockfile
    - --args=-platform=linux_amd64
    - --args=-platform=darwin_arm64

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.10
  hooks:
  - id: actionlint

- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 42.95.1
  hooks:
  - id: renovate-config-validator

Document Synology console access
  .agents/rules/integrations/synology.md
  AGENTS.md
Due: none

Add H2D Ben2Box controller
  esphome/h2d-ben2box.yaml
  esphome/warning-catalog.yaml
  opentofu/esphome-hosts.tf
Due: esphome-hosts-check

Update Renovate version constraints
  .renovaterc
Due: none

Trust monitored backups during routine update reviews
  .renovate-eval.md
Due: none

Trust monitored backups during routine update reviews (#2936)
  .renovate-eval.md
Due: none

Document OpenTofu validation roots
  .renovate-eval.md
  opentofu/README.md
  opentofu/bootstrap/README.md
Due: none

Upgrade VPA and remove obsolete startup options
  kubernetes/vpa/Chart.yaml
  kubernetes/vpa/helm/crds/vpa-v1-crd.yaml
  kubernetes/vpa/helm/templates/admission-controller-deployment.yaml
  kubernetes/vpa/helm/templates/admission-controller-service-account.yaml
  kubernetes/vpa/helm/templates/recommender-deployment.yaml
  kubernetes/vpa/helm/templates/recommender-service-account.yaml
  kubernetes/vpa/helm/templates/updater-deployment.yaml
  kubernetes/vpa/helm/templates/updater-service-account.yaml
  kubernetes/vpa/helm/templates/webhooks/mutating.yaml
  kubernetes/vpa/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Manage DNS packages for flux on Debian 12
  ansible/host_vars/flux.yaml
Due: ansible-lint

Upgrade Tailscale operator with required PeerRelay CRD
  kubernetes/tailscale-operator/Chart.yaml
  kubernetes/tailscale-operator/helm/templates/deployment.yaml
  kubernetes/tailscale-operator/helm/templates/operator-rbac.yaml
  kubernetes/tailscale-operator/helm/templates/peerrelay.yaml
  kubernetes/tailscale-operator/helm/templates/proxy-rbac.yaml
  kubernetes/tailscale-operator/helm/templates/tailnet.yaml
  kubernetes/tailscale-operator/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Use full target versions in Renovate branch names
  .renovaterc
Due: none

Upgrade NVIDIA device plugin and fix chart rendering
  kubernetes/nvidia-device-plugin/Chart.yaml
  kubernetes/nvidia-device-plugin/helm/configmap.yml
  kubernetes/nvidia-device-plugin/helm/daemonset-device-plugin.yml
  kubernetes/nvidia-device-plugin/helm/daemonset-gfd.yml
  kubernetes/nvidia-device-plugin/helm/daemonset-mps-control-daemon.yml
  kubernetes/nvidia-device-plugin/helm/role-binding.yml
  kubernetes/nvidia-device-plugin/helm/role.yml
  kubernetes/nvidia-device-plugin/helm/service-account.yml
  kubernetes/nvidia-device-plugin/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Monitor database replication across CNPG clusters
  .kyverno/policies/require-cnpg-monitoring-annotations.yaml
  kubernetes/ara/ara-postgres-cluster.yaml
  kubernetes/authentik/authentik-postgres-cluster.yaml
  kubernetes/bambuddy/postgres-cluster.yaml
  kubernetes/dawarich/dawarich-postgres-cluster.yaml
  kubernetes/felix/postgres.yaml
  kubernetes/hass/hass-postgres-cluster.yaml
  kubernetes/healthchecks/postgres-cluster.yaml
  kubernetes/homebox/homebox-postgres-cluster.yaml
  kubernetes/immich/immich-postgres-cluster.yaml
  kubernetes/karakeep/postgres-cluster.yaml
  kubernetes/kube-state-metrics/helm/templates/crs-configmap.yaml
  kubernetes/kube-state-metrics/helm/templates/deployment.yaml
  kubernetes/kube-state-metrics/helm/templates/role.yaml
  kubernetes/kube-state-metrics/kustomization.yaml
  kubernetes/kube-state-metrics/values.yaml
  kubernetes/openarchiver/postgres-cluster.yaml
  kubernetes/prometheus/config/cnpg-rules.yml
  kubernetes/prometheus/config/prometheus.yml
  kubernetes/prometheus/kustomization.yaml
  kubernetes/semaphore/semaphore-postgres-cluster.yaml
  kubernetes/speakr/speakr-postgres-cluster.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Upgrade Home Assistant and retire HTTP YAML settings
  kubernetes/hass/config/configuration.yaml
  kubernetes/hass/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Update flake inputs without .NET tests
  flake.lock
  flake.nix
Due: none

Pin Seerr Access policy session to 24 hours
  opentofu/cloudflare-access-seerr.tf
Due: none

Simplify production deployment workflows
  .github/actions/detect-apps/action.yml
  .github/actions/detect-hosts/action.yml
  .github/actions/setup-argocd/action.yml
  .github/actions/setup-semaphore/action.yml
  .github/workflows/ansible-production-deploy.yaml
  .github/workflows/argocd-diff.yml
  .github/workflows/argocd-production-deploy.yaml
  .github/workflows/deploy-reset-commands.yml
Due: none

Simplify production deployment workflows (#3022)
  .github/actions/detect-apps/action.yml
  .github/actions/detect-hosts/action.yml
  .github/actions/setup-argocd/action.yml
  .github/actions/setup-semaphore/action.yml
  .github/workflows/ansible-production-deploy.yaml
  .github/workflows/argocd-diff.yml
  .github/workflows/argocd-production-deploy.yaml
  .github/workflows/deploy-reset-commands.yml
Due: none

Update ESPHome to 2026.8.2 with LED migration
  esphome/common/device-classes/m5stack_atoms3lite_kmeteriso.yaml
  esphome/h2d-ben2box.yaml
  esphome/scripts/versions
Due: esphome-hosts-check

Replace archived Prettier hook mirror
  .pre-commit-config.yaml
Due: none

Install CSI NFS driver alongside existing storage
  kubernetes/0-nfs-csi-driver/Chart.yaml
  kubernetes/0-nfs-csi-driver/helm/templates/csi-nfs-controller.yaml
  kubernetes/0-nfs-csi-driver/helm/templates/csi-nfs-driverinfo.yaml
  kubernetes/0-nfs-csi-driver/helm/templates/csi-nfs-node.yaml
  kubernetes/0-nfs-csi-driver/helm/templates/rbac-csi-nfs.yaml
  kubernetes/0-nfs-csi-driver/kustomization.yaml
  kubernetes/0-nfs-csi-driver/namespace.yaml
  kubernetes/0-nfs-csi-driver/render
  kubernetes/0-nfs-csi-driver/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Refresh appliance temperatures every five minutes
  kubernetes/hass/config/packages/temperature_alerts.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate
