Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

block-secrets-file:
  name: block .secrets.age file
  language: fail
  entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

esphome-hosts-check:
  name: check ESPHome hosts terraform is up to date
  entry: scripts/gen-esphome-hosts --check
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

Update Renovate version constraints (#1730)
  .renovaterc
Due: none

Deploy HortusFox plant management app
  kubernetes/hortusfox/app-secret.yaml
  kubernetes/hortusfox/cronjob.yaml
  kubernetes/hortusfox/deployment.yaml
  kubernetes/hortusfox/ingress.yaml
  kubernetes/hortusfox/kustomization.yaml
  kubernetes/hortusfox/mariadb-deployment.yaml
  kubernetes/hortusfox/mariadb-pvc.yaml
  kubernetes/hortusfox/mariadb-secret.yaml
  kubernetes/hortusfox/mariadb-service.yaml
  kubernetes/hortusfox/namespace.yaml
  kubernetes/hortusfox/password-generators.yaml
  kubernetes/hortusfox/pvc.yaml
  kubernetes/hortusfox/service.yaml
  opentofu/modules/authentik/generated-hortusfox.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Reduce netdata polling overhead on Docker and Kubernetes hosts
  ansible/inventory/default
  ansible/roles/docker/meta/main.yaml
  ansible/roles/docker/tasks/main.yaml
  ansible/roles/docker/tasks/maintenance.yaml
  ansible/roles/matter/meta/main.yaml
  ansible/roles/netdata/tasks/main.yaml
  ansible/roles/nut/meta/main.yaml
  ansible/roles/os-install/meta/main.yaml
  ansible/roles/traefik/meta/main.yaml
  ansible/roles/zigbee2mqtt/meta/main.yaml
  ansible/roles/zwavejs/meta/main.yaml
  ansible/site.yaml
  kubernetes/netdata/helm/netdata/child/configmap.yaml
  kubernetes/netdata/values.yaml
Due: ansible-lint, kubeconform, ak-tool-generate, kyverno-validate

Add NUT driver watchdog for busy-loop bug
  ansible/roles/nut/files/nut-driver-watchdog
  ansible/roles/nut/files/nut-driver-watchdog.service
  ansible/roles/nut/files/nut-driver-watchdog.timer
  ansible/roles/nut/tasks/main.yaml
Due: ansible-lint

Interpolate Apple TV media position for basement clock
  kubernetes/hass/config/packages/basement_clock.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Revert Renovate grouping and flexible internalChecksFilter
  .renovaterc
Due: none

Fix renovate-eval gh auth check in CI
  .claude/skills/renovate-eval/lib/common.sh
Due: none

Skip external status checks in renovate-eval wait loop
  .github/workflows/renovate-eval.yaml
Due: none

Use gh repo view for auth validation instead of gh api /user
  .claude/skills/renovate-eval/lib/common.sh
Due: none

Fix QEMU clock skew in RPi image test
  tests/rpi/entrypoint.sh
Due: none

Fix ansible integration test for setup-buildx-action v4
  .github/workflows/ansible-integration-test.yaml
Due: none

Update zwavejs/zwave-js-ui 11.12.0 -> 11.15.1
  ansible/roles/zwavejs/defaults/main.yaml
Due: ansible-lint

Update openarchiver meilisearch v1.36.0 -> v1.39.0
  .renovaterc
  kubernetes/openarchiver/meilisearch-statefulset.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Update curlimages/curl 8.12.1 -> 8.18.0 and group for Renovate
  .renovaterc
  kubernetes/hortusfox/cronjob.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Add verbatim report display and skill re-invocation rules
  .claude/skills/renovate-eval/SKILL.md
Due: none

Fix renovate-eval for large PR diffs
  .claude/skills/renovate-eval/evaluate.sh
  .claude/skills/renovate-eval/lib/common.sh
  .claude/skills/renovate-eval/prompts/evaluator.md
  .claude/skills/renovate-eval/scripts/fetch-pr-data.sh
  .claude/skills/renovate-eval/scripts/run-evaluator.sh
  .github/workflows/renovate-eval.yaml
Due: none

Update containerd to 2.2.1, fix deprecated CNI config
  ansible/galaxy/roles/githubixx.containerd/.gitignore
  ansible/galaxy/roles/githubixx.containerd/.yamllint
  ansible/galaxy/roles/githubixx.containerd/CHANGELOG.md
  ansible/galaxy/roles/githubixx.containerd/README.md
  ansible/galaxy/roles/githubixx.containerd/defaults/main.yml
  ansible/galaxy/roles/githubixx.containerd/handlers/main.yml
  ansible/galaxy/roles/githubixx.containerd/meta/main.yml
  ansible/galaxy/roles/githubixx.containerd/molecule/default/converge.yml
  ansible/galaxy/roles/githubixx.containerd/molecule/default/molecule.yml
  ansible/galaxy/roles/githubixx.containerd/molecule/default/prepare.yml
  ansible/galaxy/roles/githubixx.containerd/molecule/default/verify.yml
  ansible/galaxy/roles/githubixx.containerd/tasks/main.yml
  ansible/galaxy/roles/githubixx.containerd/tasks/manage_import.yml
  ansible/galaxy/roles/githubixx.containerd/templates/etc/systemd/system/containerd.service.j2
  ansible/galaxy/roles/githubixx.containerd/vars/flavor_base.yml
  ansible/group_vars/kubernetes.yaml
  ansible/requirements.yml
Due: ansible-lint

CI-aware merge logic in renovate-eval skill
  .claude/renovate-eval.md
  .claude/skills/renovate-eval/SKILL.md
  .claude/skills/renovate-eval/scripts/init.sh
Due: none

Add readest-hardcover-sync deployment
  .renovaterc
  kubernetes/readest-hardcover-sync/deploy.yaml
  kubernetes/readest-hardcover-sync/externalsecret.yaml
  kubernetes/readest-hardcover-sync/ingress.yaml
  kubernetes/readest-hardcover-sync/kustomization.yaml
  kubernetes/readest-hardcover-sync/namespace.yaml
  kubernetes/readest-hardcover-sync/pvc.yaml
  kubernetes/readest-hardcover-sync/service.yaml
  kubernetes/scripts/ak-tool
  opentofu/modules/authentik/generated-outpost.tf
  opentofu/modules/authentik/generated-readest-hardcover-sync.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Fix flake lock semaphore sync in update workflow
  .github/workflows/update-flake-lock.yaml
Due: none

Path conditions:
  block-secrets-file: any of: ^\.secrets\.age$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  esphome-hosts-check: any of: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
