Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

block-secrets-file:
  name: block .secrets.age file
  language: fail
  entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

esphome-hosts-check:
  name: check ESPHome hosts terraform is up to date
  entry: scripts/gen-esphome-hosts --check
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

gitblobstore: checkandput manifest
  lu5ltdihqlotgno1iblpr5to08tprhg5
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  ua4k80u3v6ql0ngau3g2ksskuiljpbo5.darc
Due: none

gitblobstore: checkandput manifest
  6j51e0tk7i76boilo0nlcjqr20104u9v
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  n5ibqha8kki94fg7s45v48ejt2mk7ri4.darc
Due: none

gitblobstore: checkandput manifest
  manifest
  ol9v41pia7hqt3f1i7o5foeascc5hn50
Due: none

gitblobstore: checkandput manifest
  manifest
  nkc2n683dgm6g3p0vg3b6dn0mhhqt1v1.darc
Due: none

gitblobstore: checkandput manifest
  8fmdj5b20dl4q60jadn6rrvihaj8prm6
  manifest
Due: none

gitblobstore: checkandput manifest
  1p874a3kk7ddjj49d7qdjl11904n7l59.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  u43pco0efi7p1868mqr37q5qt015ulu0
Due: none

Decommission B2 Velero storage
  opentofu/.terraform.lock.hcl
  opentofu/b2.tf
  opentofu/hetzner.tf
  opentofu/main.tf
  opentofu/secrets.tf
Due: none

Use pre-obscured restic WebDAV secrets
  .secrets.tmpl
  kubernetes/restic/scripts/run
  kubernetes/restic/scripts/run-rclone
Due: none

Bootstrap obscured rclone companion secrets
  .secrets.tmpl
  docs/bootstrap-secrets.md
  kubernetes/restic/scripts/run
  kubernetes/restic/scripts/run-rclone
  opentofu/hetzner.tf
  opentofu/secrets.tf
  scripts/bootstrap-secrets
Due: none

Add rclone exporter metrics
  kubernetes/prometheus/config/prometheus.yml
  kubernetes/rclone-exporter/deployment.yaml
  kubernetes/rclone-exporter/externalsecret.yaml
  kubernetes/rclone-exporter/kustomization.yaml
  kubernetes/rclone-exporter/rclone.conf
  kubernetes/rclone-exporter/service.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

gitblobstore: checkandput manifest
  jsll3v5fvbfmgl8hrv6h4npv4vv4maps.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  i1mqm10h8k9f99vi74lou8h4p951ihfn
  manifest
Due: none

Update Frank OpenClaw to GPT 5.5
  kubernetes/frank/deployment.yaml
  kubernetes/frank/openclaw.json
Due: kubeconform, ak-tool-generate, kyverno-validate

Update Renovate version constraints
  .renovaterc
Due: none

Default renovate eval workflow to Codex
  .claude/skills/renovate-eval/README.md
  .github/workflows/renovate-eval.yaml
Due: none

Exclude mutable tags from Spegel resolution
  kubernetes/spegel/helm/templates/daemonset.yaml
  kubernetes/spegel/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Alert on weird Landroid mower states
  kubernetes/hass/config/kustomization.yaml
  kubernetes/hass/config/packages/landroid_mower_alert.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Configure Readest Slack notifications
  kubernetes/readest-hardcover-sync/deploy.yaml
  kubernetes/readest-hardcover-sync/externalsecret.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Generate Prometheus node exporter targets
  .github/workflows/render-helm.yaml
  kubernetes/prometheus/config/node-exporter-targets.yml
  kubernetes/prometheus/config/prometheus.yml
  kubernetes/prometheus/kustomization.yaml
  kubernetes/prometheus/render
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Include Tailscale operator CRDs
  kubernetes/tailscale-operator/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Move issue triage to Codex
  .github/workflows/issue-triage.yaml
  .github/workflows/renovate-eval.yaml
Due: none

Replace BookLore with Grimmory and remove Bookshelf
  kubernetes/booklore/kustomization.yaml
  kubernetes/booklore/mariadb-deployment.yaml
  kubernetes/booklore/mariadb-secret.yaml
  kubernetes/booklore/mariadb-service.yaml
  kubernetes/booklore/namespace.yaml
  kubernetes/booklore/service.yaml
  kubernetes/bookshelf/copy-to-booklore.sh
  kubernetes/bookshelf/deploy.yaml
  kubernetes/bookshelf/ingress.yaml
  kubernetes/bookshelf/kustomization.yaml
  kubernetes/bookshelf/pvc-config.yaml
  kubernetes/bookshelf/service.yaml
  kubernetes/grimmory/deployment.yaml
  kubernetes/grimmory/ingress.yaml
  kubernetes/grimmory/kustomization.yaml
  kubernetes/grimmory/mariadb-deployment.yaml
  kubernetes/grimmory/mariadb-pvc.yaml
  kubernetes/grimmory/mariadb-secret.yaml
  kubernetes/grimmory/mariadb-service.yaml
  kubernetes/grimmory/namespace.yaml
  kubernetes/grimmory/pvc.yaml
  kubernetes/grimmory/service.yaml
  kubernetes/shelfmark/deploy.yaml
  opentofu/modules/authentik/generated-booklore-oidc-1p.tf
  opentofu/modules/authentik/generated-bookshelf.tf
  opentofu/modules/authentik/generated-grimmory-oidc-1p.tf
  opentofu/modules/authentik/generated-grimmory.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add front yard containers soil sensor
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Path conditions:
  block-secrets-file: any of: ^\.secrets\.age$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  esphome-hosts-check: any of: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
