Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

.pre-commit-config.yaml:

---
exclude: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^ansible/
  - id: check-added-large-files
    exclude: ^esphome/img/
  - id: check-merge-conflict

- repo: https://github.com/lyz-code/yamlfix
  rev: 1.19.1
  hooks:
  - id: yamlfix
    args: [-c, .yamlfix.toml]
    exclude: ^ansible/|service-blueprint\.template\.yaml$|kubernetes/hass/config/configuration\.yaml$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.38.0
  hooks:
  - id: yamllint
    exclude: ^ansible/|service-blueprint\.template\.yaml$

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    types_or: [json, markdown]

- repo: local
  hooks:
  - id: block-secrets-file
    name: block .secrets.age file
    language: fail
    entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate
    files: ^\.secrets\.age$
  - id: ansible-lint
    name: ansible-lint
    entry: scripts/ansible-lint-wrapper
    language: system
    files: ^ansible/.*$
    require_serial: true
  - id: format-kustomization
    name: format kustomization.yaml files
    entry: scripts/format-kustomization
    language: system
    files: ^kubernetes/.*/kustomization\.ya?ml$
    pass_filenames: true
  - id: kubeconform
    name: kubeconform manifest validation
    entry: kubernetes/scripts/kubeconform-wrapper
    language: system
    files: ^kubernetes/.*\.(ya?ml)$
    pass_filenames: true
    exclude: (helm\.yaml|patch-.*\.yaml)$
  - id: ak-tool-generate
    name: generate authentik terraform configs
    entry: kubernetes/scripts/ak-tool generate
    language: system
    files: ^kubernetes/.*/.*\.(ya?ml)$
    pass_filenames: false
    always_run: false
  - id: hass-check-config
    name: validate home assistant config
    entry: scripts/hass-check-config
    language: system
    files: ^(kubernetes/hass/|scripts/hass-check-config)
    pass_filenames: false
  - id: kyverno-validate
    name: kyverno policy validation
    entry: kubernetes/scripts/kyverno-wrapper
    language: system
    pass_filenames: true
    files: ^kubernetes/.*\.(ya?ml)$
  - id: esphome-hosts-check
    name: check ESPHome hosts terraform is up to date
    entry: scripts/gen-esphome-hosts --check
    language: python
    additional_dependencies: [pyyaml]
    files: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$
    pass_filenames: false
  - id: beads-flush
    name: beads pre-commit flush
    entry: bash -c '[ "$GITHUB_ACTIONS" = "true" ] && exit 0; [ "$(git rev-parse --abbrev-ref
      HEAD)" != "beads-sync" ] && exit 0; bd hooks run pre-commit'
    language: system
    pass_filenames: false
    always_run: true
    stages: [pre-commit]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.11.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.47.0
  hooks:
  - id: markdownlint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.105.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
  - id: terraform_tflint
  - id: terraform_providers_lock
    args:
    - --hook-config=--mode=always-regenerate-lockfile
    - --args=-platform=linux_amd64
    - --args=-platform=darwin_arm64

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.10
  hooks:
  - id: actionlint

- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 42.95.1
  hooks:
  - id: renovate-config-validator

Add front yard containers soil sensor
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Install upstream gh for renovate eval
  .claude/skills/renovate-eval/action.yaml
Due: none

Add B-hyve valve watering metrics
  kubernetes/hass/config/kustomization.yaml
  kubernetes/hass/config/packages/bhyve_valve_metrics.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Clean up Prometheus alerts
  kubernetes/prometheus/config/prometheus.yml
  kubernetes/prometheus/config/rules.yml
Due: kubeconform, ak-tool-generate, kyverno-validate

Add Autobrr Slack alerting
  kubernetes/alertmanager/config.yaml
  kubernetes/alertmanager/externalsecret.yaml
  kubernetes/alertmanager/templates/slack.tmpl
  kubernetes/autobrr/deploy.yaml
  kubernetes/autobrr/kustomization.yaml
  kubernetes/autobrr/service-metrics.yaml
  kubernetes/prometheus/config/rules.yml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Disable garagepi Ethernet
  ansible/host_vars/garagepi.yaml
  opentofu/locals.tf
Due: ansible-lint

Fix Autobrr feed stale alert
  kubernetes/prometheus/config/rules.yml
Due: kubeconform, ak-tool-generate, kyverno-validate

Add Makita charger notifications
  kubernetes/hass/config/kustomization.yaml
  kubernetes/hass/config/packages/makita_charger_notifications.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Update GitHub provider secret arguments
  opentofu/.terraform.lock.hcl
  opentofu/github-repos.tf
Due: none

Harden acme-sh cronjobs
  kubernetes/acme-sh/acme-common.sh
  kubernetes/acme-sh/acme-renew.sh
  kubernetes/acme-sh/acme-udmp.sh
  kubernetes/acme-sh/cronjob-renew.yaml
  kubernetes/acme-sh/cronjob-synology.yaml
  kubernetes/acme-sh/cronjob-udmp.yaml
  kubernetes/acme-sh/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

gitblobstore: checkandput manifest
  i2c9jnc2ebcrqlul2b7le7ml7f0k79g3
  manifest
Due: none

Add xtal node metrics scrape
  kubernetes/argocd/appset.yaml
  kubernetes/prometheus/config/prometheus.yml
  kubernetes/tailscale-operator/kustomization.yaml
  kubernetes/tailscale-operator/xtal-node-exporter.yaml
  opentofu/tailscale.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Tighten Renovate eval report signal
  .claude/skills/renovate-eval/prompts/auditor.md
  .claude/skills/renovate-eval/prompts/eval-data-schema.md
  .claude/skills/renovate-eval/prompts/evaluator.md
Due: none

Update Renovate version constraints
  .renovaterc
Due: none

Upgrade Dawarich with JWT secret
  kubernetes/dawarich/deploy-sidekiq.yaml
  kubernetes/dawarich/deploy-web.yaml
  kubernetes/dawarich/externalsecret.yaml
  kubernetes/dawarich/password-generators.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Remove garagepi-eth Smokeping target
  kubernetes/smokeping-prober/config.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Remove Hortusfox deployment
  kubernetes/hortusfox/app-secret.yaml
  kubernetes/hortusfox/cronjob.yaml
  kubernetes/hortusfox/deployment.yaml
  kubernetes/hortusfox/ingress.yaml
  kubernetes/hortusfox/kustomization.yaml
  kubernetes/hortusfox/mariadb-deployment.yaml
  kubernetes/hortusfox/mariadb-pvc.yaml
  kubernetes/hortusfox/mariadb-secret.yaml
  kubernetes/hortusfox/mariadb-service.yaml
  kubernetes/hortusfox/namespace.yaml
  kubernetes/hortusfox/password-generators.yaml
  kubernetes/hortusfox/pvc.yaml
  kubernetes/hortusfox/service.yaml
  opentofu/modules/authentik/generated-hortusfox.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Rotate Tailscale auth key
  ansible/group_vars/all/tailscale.yaml
Due: ansible-lint

Resize Hetzner box to 10 TB
  opentofu/hetzner.tf
Due: none

Upgrade Dawarich with SMTP settings
  kubernetes/dawarich/deploy-sidekiq.yaml
  kubernetes/dawarich/deploy-web.yaml
  kubernetes/dawarich/externalsecret.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Handle qBittorrent 5.2 cleanup auth
  kubernetes/cross-seed/cleanup.js
Due: none
