Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

Sync semaphore nix-flake.lock when updating root flake.lock
  .github/workflows/update-flake-lock.yaml
  kubernetes/semaphore/nix-flake.lock
Due: none

Sync semaphore nix-flake.lock when updating root flake.lock (#1434)
  .github/workflows/update-flake-lock.yaml
  kubernetes/semaphore/nix-flake.lock
Due: none

Fix descheduler frank-daily-restart namespace filter
  kubernetes/descheduler/helm/templates/configmap.yaml
  kubernetes/descheduler/helm/templates/cronjob.yaml
  kubernetes/descheduler/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Fix descheduler frank-daily-restart namespace filter (#1435)
  kubernetes/descheduler/helm/templates/configmap.yaml
  kubernetes/descheduler/helm/templates/cronjob.yaml
  kubernetes/descheduler/values.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Use proper TLS verification for netdata backend
  kubernetes/netdata/patch-service-traefik.yaml
  kubernetes/netdata/serverstransport.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Decommission nginx ingress controller
  kubernetes/components/authentik/kustomization.yaml
  kubernetes/ingress-nginx/Chart.yaml
  kubernetes/ingress-nginx/helm/clusterrole.yaml
  kubernetes/ingress-nginx/helm/clusterrolebinding.yaml
  kubernetes/ingress-nginx/helm/controller-configmap.yaml
  kubernetes/ingress-nginx/helm/controller-deployment.yaml
  kubernetes/ingress-nginx/helm/controller-ingressclass.yaml
  kubernetes/ingress-nginx/helm/controller-poddisruptionbudget.yaml
  kubernetes/ingress-nginx/helm/controller-role.yaml
  kubernetes/ingress-nginx/helm/controller-rolebinding.yaml
  kubernetes/ingress-nginx/helm/controller-service-metrics.yaml
  kubernetes/ingress-nginx/helm/controller-service.yaml
  kubernetes/ingress-nginx/helm/controller-serviceaccount.yaml
  kubernetes/ingress-nginx/kustomization.yaml
  kubernetes/ingress-nginx/namespace.yaml
  kubernetes/ingress-nginx/render
  kubernetes/ingress-nginx/values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Upgrade k8s 1.33.5→1.33.8, resize worker disks to 150G
  ansible/group_vars/kubernetes.yaml
  opentofu/proxmox.tf
Due: ansible-lint

Remove stale office lights group and fix MCP config path
  .envrc
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Upgrade alertmanager to v0.31.0, eliminate gomplate init container
  kubernetes/alertmanager/config.yaml
  kubernetes/alertmanager/deploy.yaml
  kubernetes/alertmanager/externalsecret.yaml
  kubernetes/alertmanager/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Upgrade speakr to v0.8.10, enable folders, remove probes
  kubernetes/speakr/deploy-speakr.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Update oefenweb.postfix to v3.8.2, update deprecation allowlist
  ansible/deprecation-allowlist.yaml
  ansible/galaxy/roles/oefenweb.postfix/README.md
  ansible/galaxy/roles/oefenweb.postfix/defaults/main.yml
  ansible/galaxy/roles/oefenweb.postfix/tasks/main.yml
  ansible/requirements.yml
Due: ansible-lint

Add iSCSI session cleanup script and timer
  ansible/roles/kubeadm/files/iscsi-session-cleanup
  ansible/roles/kubeadm/files/iscsi-session-cleanup.service
  ansible/roles/kubeadm/files/iscsi-session-cleanup.timer
  ansible/roles/kubeadm/tasks/iscsi.yaml
Due: ansible-lint

Add iSCSI session cleanup script and timer (#1467)
  ansible/roles/kubeadm/files/iscsi-session-cleanup
  ansible/roles/kubeadm/files/iscsi-session-cleanup.service
  ansible/roles/kubeadm/files/iscsi-session-cleanup.timer
  ansible/roles/kubeadm/tasks/iscsi.yaml
Due: ansible-lint

Override runc to 1.4.0 for CVE fixes
  ansible/group_vars/kubernetes.yaml
Due: ansible-lint

Migrate Grafana chart to grafana-community/helm-charts
  kubernetes/grafana/Chart.yaml
  kubernetes/grafana/helm/grafana/clusterrole.yaml
  kubernetes/grafana/helm/grafana/clusterrolebinding.yaml
  kubernetes/grafana/helm/grafana/configmap.yaml
  kubernetes/grafana/helm/grafana/deployment.yaml
  kubernetes/grafana/helm/grafana/ingress.yaml
  kubernetes/grafana/helm/grafana/pvc.yaml
  kubernetes/grafana/helm/grafana/role.yaml
  kubernetes/grafana/helm/grafana/rolebinding.yaml
  kubernetes/grafana/helm/grafana/service.yaml
  kubernetes/grafana/helm/grafana/serviceaccount.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Upgrade rclone to v1.73.0, fix auth_key quoting
  kubernetes/velero/rclone-deployment.yaml
  kubernetes/velero/rclone-externalsecret.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Convert OpenArchiver Valkey to groundhog2k Helm chart
  kubernetes/openarchiver/Chart.yaml
  kubernetes/openarchiver/configmap.yaml
  kubernetes/openarchiver/deploy.yaml
  kubernetes/openarchiver/externalsecret.yaml
  kubernetes/openarchiver/helm/valkey/pvc.yaml
  kubernetes/openarchiver/helm/valkey/scripts.yaml
  kubernetes/openarchiver/helm/valkey/service-internal.yaml
  kubernetes/openarchiver/helm/valkey/services.yaml
  kubernetes/openarchiver/helm/valkey/statefulset.yaml
  kubernetes/openarchiver/kustomization.yaml
  kubernetes/openarchiver/password-generators.yaml
  kubernetes/openarchiver/patch-valkey-secret-mount.yaml
  kubernetes/openarchiver/render
  kubernetes/openarchiver/valkey-service.yaml
  kubernetes/openarchiver/valkey-statefulset.yaml
  kubernetes/openarchiver/valkey-values.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add ExternalSecret server-side defaults for SSA compatibility
  kubernetes/argocd/externalsecret-oidc-config.yaml
  kubernetes/argocd/externalsecret-server-secretkey.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Upgrade OpenAI Terraform provider to v2.0.0
  opentofu/.terraform.lock.hcl
  opentofu/main.tf
Due: none

Switch provider config from api_key to admin_key
  opentofu/main.tf
Due: none

Remove Helm chart AI analysis workflow
  .github/workflows/render-helm.yaml
  opentofu/openai.tf
  scripts/analyze-chart-changes.py
Due: none

Fix acme.sh UDMP cert deployment on renewal
  kubernetes/acme-sh/acme-udmp.sh
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
