Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

block-secrets-file:
  name: block .secrets.age file
  language: fail
  entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

esphome-hosts-check:
  name: check ESPHome hosts terraform is up to date
  entry: scripts/gen-esphome-hosts --check
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

Fix flake lock semaphore sync in update workflow
  .github/workflows/update-flake-lock.yaml
Due: none

Fix flake file sync for semaphore
  .github/workflows/sync-semaphore-flake.yaml
  .github/workflows/update-flake-lock.yaml
  kubernetes/semaphore/flake.lock
  kubernetes/semaphore/flake.nix
  kubernetes/semaphore/render
Due: none

Speed up Ansible runs by eliminating redundant work
  .github/workflows/ansible-integration-test.yaml
  Dockerfile.ansible
  ansible/ansible.cfg
  ansible/host_vars/ansible-integration-test.yaml
  ansible/roles/docker/meta/main.yaml
  ansible/roles/docker/tasks/main.yaml
  ansible/roles/docker/tasks/maintenance.yaml
  ansible/roles/kubeadm/tasks/common.yaml
  ansible/roles/matter/meta/main.yaml
  ansible/roles/nut/meta/main.yaml
  ansible/roles/os-install/meta/main.yaml
  ansible/roles/rtl433/meta/main.yaml
  ansible/roles/traefik/meta/main.yaml
  ansible/roles/zigbee2mqtt/meta/main.yaml
  ansible/roles/zwavejs/meta/main.yaml
  ansible/site.yaml
  flake.nix
Due: ansible-lint

Pin netdata APT package version for Renovate tracking
  .renovaterc
  ansible/roles/netdata/defaults/main.yaml
  ansible/roles/netdata/tasks/main.yaml
Due: ansible-lint

Include netdata-user in version-pinned install
  ansible/roles/netdata/tasks/main.yaml
Due: ansible-lint

Add WH51 0f1792 sensor, clean up plant monitoring
  .mcp_servers.json
  .secrets.tmpl
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Update Renovate version constraints
  .renovaterc
Due: none

Add scripts/cleanup convention and remove flake GC
  esphome/.gitignore
  esphome/scripts/esphome
  flake.nix
  opentofu/modules/dns/.terraform.lock.hcl
  scripts/cleanup
Due: none

Add scripts/cleanup convention and remove flake GC
  scripts/cleanup
Due: none

Fix Renovate GHCR images stuck pending forever
  .claude/rules/tooling/container-registries.md
  .renovaterc
  kubernetes/hass/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Add secrets/direnv rule for Claude
  .claude/rules/overview.md
  .claude/rules/tooling/secrets.md
Due: none

Add zizmor security linter and fix findings
  .claude/skills/renovate-eval/action.yaml
  .github/actions/detect-apps/action.yml
  .github/actions/detect-hosts/action.yml
  .github/workflows/ansible-integration-test.yaml
  .github/workflows/ansible-production-deploy.yaml
  .github/workflows/argocd-diff.yml
  .github/workflows/argocd-production-deploy.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-reset-commands.yml
  .github/workflows/esphome.yaml
  .github/workflows/flake-builds.yaml
  .github/workflows/issue-triage.yaml
  .github/workflows/render-helm.yaml
  .github/workflows/renovate-eval.yaml
  .github/workflows/rpi-image-test.yaml
  .github/workflows/sync-semaphore-flake.yaml
  .github/workflows/terraform.yaml
  .github/workflows/update-flake-lock.yaml
  .github/workflows/update-flake-versions.yaml
  .github/workflows/update-renovate-versions.yaml
  .pre-commit-config.yaml
  .zizmor.yml
Due: none

homepage: enable mobile quick launch button
  kubernetes/homepage/settings.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Add read-only K8s API access for Frank
  kubernetes/frank/deployment.yaml
  kubernetes/frank/kustomization.yaml
  kubernetes/frank/rbac.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Add read-only K8s API access for Frank (#1890)
  kubernetes/frank/deployment.yaml
  kubernetes/frank/kustomization.yaml
  kubernetes/frank/rbac.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Fix update-flake-lock workflow bugs
  .github/workflows/update-flake-lock.yaml
Due: none

Revert owner-qualified head filter in check-pr
  .github/workflows/update-flake-lock.yaml
Due: none

Add leak alerts for bathroom water sensors
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Upgrade Frank to OpenClaw v2026.4.2
  kubernetes/frank/deployment.yaml
  kubernetes/frank/openclaw.json
  kubernetes/frank/pvc.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Switch frank from Claude to OpenAI Codex
  kubernetes/frank/externalsecret.yaml
  kubernetes/frank/openclaw.json
Due: kubeconform, ak-tool-generate, kyverno-validate

Fix Home Assistant package name in renovate version script
  scripts/update-renovate-versions.py
Due: none

Path conditions:
  block-secrets-file: any of: ^\.secrets\.age$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  esphome-hosts-check: any of: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
