Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-secrets-file, ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate, esphome-hosts-check

block-secrets-file:
  name: block .secrets.age file
  language: fail
  entry: .secrets.age should never be committed - run bootstrap-secrets to regenerate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

esphome-hosts-check:
  name: check ESPHome hosts terraform is up to date
  entry: scripts/gen-esphome-hosts --check
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

Harden PiFire Traefik configuration
  ansible/host_vars/pifire.yaml
  ansible/roles/traefik/handlers/main.yml
  ansible/roles/traefik/tasks/main.yml
  ansible/roles/traefik/templates/conf.d/matter.yaml.j2
  ansible/roles/traefik/templates/conf.d/pifire.yaml.j2
  ansible/roles/traefik/templates/conf.d/proxmox.yaml.j2
  ansible/roles/traefik/templates/docker-compose.yaml.j2
Due: ansible-lint

Persist journals on SSD-backed Pi hosts
  ansible/group_vars/pi.yaml
  ansible/roles/common/handlers/main.yaml
  ansible/roles/common/tasks/journald.yaml
  ansible/roles/common/tasks/main.yaml
  ansible/roles/common/templates/journald-storage.conf.j2
Due: ansible-lint

Disable Wi-Fi power saving on Pi hosts
  ansible/group_vars/pi.yaml
  ansible/roles/common/files/disable-wifi-power-save
  ansible/roles/common/tasks/main.yaml
  ansible/roles/common/tasks/wifi_power_save.yaml
Due: ansible-lint

Pin MinusPod to deployed 2.76.1
  kubernetes/minuspod/deploy.yaml
Due: kubeconform, ak-tool-generate, kyverno-validate

Fix Renovate lint file selection
  .github/workflows/renovate-lint-fix.yaml
Due: none

Normalize existing Ansible YAML files
  ansible/group_vars/all/docker.yaml
  ansible/group_vars/rtl433.yaml
  ansible/roles/rtl433/files/docker-compose.yaml
Due: ansible-lint

Use repository Python for Semaphore ARA
  kubernetes/semaphore/scripts/ansible-wrapper.sh
  kubernetes/semaphore/scripts/setup-nix.sh
Due: none

Normalize docs and miscellaneous YAML
  .beads/README.md
  .claude/rules/kubernetes/deployment-pattern.md
  .claude/rules/kubernetes/helm-rendering.md
  .claude/rules/tooling/authentik.md
  .claude/rules/tooling/pre-commit.md
  .claude/rules/workflow.md
  .github/actions/setup-semaphore/action.yml
  .kyverno/policies/require-goldilocks-vpa-config.yaml
  esphome/common/device-classes/opengarage.yaml
  esphome/decommissioned/README.md
  tests/rpi/docker-compose.yaml
  tools/managarr/config.yml
Due: none

Fix shell lint and Immich VPA policy
  kubernetes/immich/namespace.yaml
  kubernetes/vpa/toggle-updater
  scripts/ansible-detect-changes
  scripts/rpi-image-test
Due: kubeconform, ak-tool-generate, kyverno-validate

Defer active ezShare file failures
  kubernetes/cpap-ezshare-sync/cronjob.yaml
  kubernetes/cpap-ezshare-sync/externalsecret-healthcheck.yaml
  kubernetes/cpap-ezshare-sync/kustomization.yaml
  kubernetes/cpap-ezshare-sync/run
  opentofu/healthchecks.tf
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Fix Python lint debt
  ansible/callback_plugins/ara_url.py
  kubernetes/network-storage-benchmark/scripts/run-storage-tests.py
  kubernetes/semaphore/scripts/lib/semaphore.py
  scripts/lib/semaphore.py
  scripts/update-renovate-versions.py
Due: ansible-lint

Fix Ansible Python lint debt
  ansible/roles/kubeadm/files/iscsi-session-cleanup
  kubernetes/semaphore/scripts/ansible-idempotency-test
  scripts/ansible-idempotency-test
Due: ansible-lint

Audit Healthchecks notification channels
  ansible/group_vars/all/restic.yaml
  kubernetes/healthchecks/audit-channels
  kubernetes/healthchecks/cronjob-channel-audit.yaml
  kubernetes/healthchecks/externalsecret.yaml
  kubernetes/healthchecks/kustomization.yaml
  kubernetes/restic/profiles.yaml
  kubernetes/restic/render-and-sync
  opentofu/healthchecks.tf
Due: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Fix Kubernetes Python lint debt
  kubernetes/codex-runners/auth-tools/copy-auth-json.py
  kubernetes/codex-runners/auth-tools/publish-auth-json.py
  kubernetes/network-storage-benchmark/scripts/parse-results.py
  kubernetes/scripts/ak-tool
Due: none

Fix shared deployment Python lint debt
  scripts/argocd-deploy
  scripts/format-kustomization
  scripts/gen-esphome-hosts
  tools/weather-bg/generate
Due: esphome-hosts-check

Fix GitHub Actions security lint debt
  .github/workflows/ansible-production-deploy.yaml
  .github/workflows/argocd-production-deploy.yaml
  .github/workflows/issue-triage.yaml
Due: none

Apply remaining safe lint fixes
  kubernetes/bambuddy/scripts/install-bambu-studio-ca
  kubernetes/restic/body-failure.txt
  kubernetes/restic/body-start.txt
  kubernetes/restic/body-success.txt
  scripts/semaphore-deploy
Due: none

Quote shell expansions in workflows
  .github/workflows/argocd-diff.yml
  .github/workflows/deploy-reset-commands.yml
  .github/workflows/render-helm.yaml
Due: none

Lint every file in CI
  .github/workflows/ci.yaml
Due: none

Update Renovate version constraints
  .renovaterc
Due: none

Path conditions:
  block-secrets-file: any of: ^\.secrets\.age$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  esphome-hosts-check: any of: ^(esphome/[^/]+\.yaml|opentofu/esphome-hosts\.tf|scripts/gen-esphome-hosts)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
