Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

validate-iscsi-labels:
  name: validate iSCSI PVC labels
  entry: kubernetes/scripts/validate-iscsi-labels
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

Fix kustomization CRD references for cert-manager v1.19.1
  kubernetes/cert-manager/kustomization.yaml
Due: format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Upgrade Kubernetes cluster to v1.33.5
  ansible/group_vars/kubernetes.yaml
  kubernetes/ara/ara-postgres-cluster.yaml
Due: ansible-lint, kubeconform, validate-iscsi-labels, ak-tool-generate

Upgrade Kubernetes cluster to v1.33.5 (#677)
  ansible/group_vars/kubernetes.yaml
  kubernetes/ara/ara-postgres-cluster.yaml
Due: ansible-lint, kubeconform, validate-iscsi-labels, ak-tool-generate

Increase refrigerator temperature alert threshold to 50°F
  kubernetes/hass/config/configuration.yaml
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Add public OIDC client support to ak-tool
  kubernetes/scripts/ak-tool
  kubernetes/scripts/templates/provider-app-oidc.tf.j2
Due: none

Deploy Booklore book management application
  kubernetes/booklore/deployment.yaml
  kubernetes/booklore/ingress.yaml
  kubernetes/booklore/kustomization.yaml
  kubernetes/booklore/mariadb-deployment.yaml
  kubernetes/booklore/mariadb-pvc.yaml
  kubernetes/booklore/mariadb-secret.yaml
  kubernetes/booklore/mariadb-service.yaml
  kubernetes/booklore/namespace.yaml
  kubernetes/booklore/pvc.yaml
  kubernetes/booklore/service.yaml
  opentofu/modules/authentik/generated-booklore-oidc-1p.tf
  opentofu/modules/authentik/generated-booklore.tf
Due: format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Regenerate Authentik providers with explicit client_type
  kubernetes/scripts/ak-tool
  opentofu/modules/authentik/generated-argocd.tf
  opentofu/modules/authentik/generated-autobrr.tf
  opentofu/modules/authentik/generated-booklore-oidc-1p.tf
  opentofu/modules/authentik/generated-booklore.tf
  opentofu/modules/authentik/generated-grafana.tf
  opentofu/modules/authentik/generated-karakeep.tf
  opentofu/modules/authentik/generated-semaphore.tf
Due: none

Regenerate Authentik providers with explicit client_type
  kubernetes/scripts/ak-tool
  opentofu/modules/authentik/generated-argocd.tf
  opentofu/modules/authentik/generated-autobrr.tf
  opentofu/modules/authentik/generated-grafana.tf
  opentofu/modules/authentik/generated-karakeep.tf
  opentofu/modules/authentik/generated-qui.tf
  opentofu/modules/authentik/generated-semaphore.tf
Due: none

Add Booklore ingestion support to bookshelf
  kubernetes/bookshelf/copy-to-cwa.sh
  kubernetes/bookshelf/deploy.yaml
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Add Ephemera book downloader deployment
  kubernetes/ephemera/deploy-ephemera.yaml
  kubernetes/ephemera/deploy-flaresolverr.yaml
  kubernetes/ephemera/ingress.yaml
  kubernetes/ephemera/kustomization.yaml
  kubernetes/ephemera/pvc-data.yaml
  kubernetes/ephemera/service-ephemera.yaml
  kubernetes/ephemera/service-flaresolverr.yaml
  opentofu/modules/authentik/generated-ephemera.tf
  opentofu/modules/authentik/generated-outpost.tf
Due: format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Enable Booklore Swagger API documentation
  kubernetes/booklore/deployment.yaml
Due: kubeconform, validate-iscsi-labels, ak-tool-generate

Configure NUT server for multi-UPS monitoring with Synology support
  ansible/group_vars/nut.yaml
  ansible/host_vars/upspi.yaml
  ansible/inventory/default
Due: ansible-lint

Replace Peanut with nut_webgui for UPS monitoring
  ansible/group_vars/nut.yaml
  ansible/roles/nut/defaults/main.yaml
  ansible/roles/nut/files/docker-compose.yaml
  ansible/roles/nut/handlers/main.yaml
  ansible/roles/nut/meta/main.yaml
  ansible/roles/nut/tasks/main.yaml
  ansible/roles/nut/tasks/peanut.yaml
  ansible/roles/nut/tasks/webgui.yaml
  ansible/roles/nut/templates/peanut-settings.yml.j2
  ansible/roles/nut/templates/webgui.env.j2
  kubernetes/homepage/services.yaml
Due: ansible-lint, kubeconform, validate-iscsi-labels, ak-tool-generate

Prepare luser network for single 10G NIC migration
  ansible/host_vars/luser.yaml
Due: ansible-lint

Add script to restart all pods using iSCSI storage
  scripts/restart-iscsi-pods
Due: none

Update scripts/restart-iscsi-pods
  scripts/restart-iscsi-pods
Due: none

Address PR review feedback
  scripts/restart-iscsi-pods
Due: none

Add service deployment script
  scripts/deploy-service.sh
Due: none

Convert recyclarr to Docker to eliminate dotnet dependency
  flake.nix
  tools/recyclarr/data/recyclarr.yml
  tools/recyclarr/recyclarr
  tools/recyclarr/recyclarr.yml
Due: none

Deploy Dawarich location tracking application
  kubernetes/dawarich/Chart.yaml
  kubernetes/dawarich/dawarich-postgres-cluster.yaml
  kubernetes/dawarich/deploy-sidekiq.yaml
  kubernetes/dawarich/deploy-web.yaml
  kubernetes/dawarich/externalsecret.yaml
  kubernetes/dawarich/helm/valkey/pvc.yaml
  kubernetes/dawarich/helm/valkey/scripts.yaml
  kubernetes/dawarich/helm/valkey/service-internal.yaml
  kubernetes/dawarich/helm/valkey/services.yaml
  kubernetes/dawarich/helm/valkey/statefulset.yaml
  kubernetes/dawarich/ingress.yaml
  kubernetes/dawarich/kustomization.yaml
  kubernetes/dawarich/namespace.yaml
  kubernetes/dawarich/password-generators.yaml
  kubernetes/dawarich/patch-valkey-secret-mount.yaml
  kubernetes/dawarich/pvc-public.yaml
  kubernetes/dawarich/pvc-storage.yaml
  kubernetes/dawarich/pvc-watched.yaml
  kubernetes/dawarich/render
  kubernetes/dawarich/service.yaml
  kubernetes/dawarich/valkey-values.yaml
Due: format-kustomization, kubeconform, validate-iscsi-labels, ak-tool-generate

Restrict flux exit node to SSH-only access via Tailscale ACL
  ansible/host_vars/flux.yaml
  opentofu/tailscale.tf
Due: ansible-lint

Path conditions:
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  validate-iscsi-labels: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
