Repository claytono/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

ansible-lint:
  name: ansible-lint
  entry: scripts/ansible-lint-wrapper
  language: system
  require_serial: true

format-kustomization:
  name: format kustomization.yaml files
  entry: scripts/format-kustomization
  language: system
  pass_filenames: true

kubeconform:
  name: kubeconform manifest validation
  entry: kubernetes/scripts/kubeconform-wrapper
  language: system
  pass_filenames: true

ak-tool-generate:
  name: generate authentik terraform configs
  entry: kubernetes/scripts/ak-tool generate
  language: system
  pass_filenames: false
  always_run: false

hass-check-config:
  name: validate home assistant config
  entry: scripts/hass-check-config
  language: system
  pass_filenames: false

kyverno-validate:
  name: kyverno policy validation
  entry: kubernetes/scripts/kyverno-wrapper
  language: system
  pass_filenames: true

Add Nix setup to Ansible production deploy workflow
  .github/workflows/ansible-production-deploy.yml
Due: none

Use separate display URL for Semaphore task links
  .github/workflows/ansible-production-deploy.yml
  scripts/semaphore-deploy
Due: none

Fix Python script execution in nix develop
  .github/workflows/ansible-production-deploy.yml
Due: none

Fix Python script execution in nix develop (#1056)
  .github/workflows/ansible-production-deploy.yml
Due: none

Test auto-deploy for single host change
  ansible/host_vars/k1.yaml
Due: ansible-lint

Add detect-hosts composite action for Ansible deploys
  .github/actions/detect-hosts/action.yml
  .github/workflows/ansible-production-deploy.yml
  scripts/ansible-detect-changes
Due: none

Remove test comment from k1.yaml
  ansible/host_vars/k1.yaml
Due: ansible-lint

Fix Proxmox ACME certificate check
  ansible/roles/proxmox/tasks/acme.yaml
Due: ansible-lint

Fix Docker digest automerge for kubernetes manager
  .renovaterc
Due: none

Remove fix-cache-permissions initContainer from restic cronjob
  .renovaterc
  kubernetes/restic/cronjobs/cronjob-b2.yaml
  kubernetes/restic/kustomization.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, kyverno-validate

Restore SSH key mount for Home Assistant szamar integration
  kubernetes/hass/hass-externalsecrets.yaml
  kubernetes/hass/helm/statefulset.yaml
  kubernetes/hass/values.yaml
Due: kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

Add generic Renovate regex manager for Docker images
  .renovaterc
  ansible/roles/nut/files/docker-compose.yaml
  ansible/roles/os-install/files/docker-compose.yaml
  ansible/roles/rtl433/defaults/main.yaml
  ansible/roles/rtl433/files/docker-compose.yaml
  ansible/roles/rtl433/tasks/main.yaml
  ansible/roles/traefik/files/docker-compose.yml
  ansible/roles/zigbee2mqtt/defaults/main.yaml
  ansible/roles/zigbee2mqtt/templates/docker-compose.yaml.j2
  ansible/roles/zwavejs/defaults/main.yaml
  ansible/roles/zwavejs/templates/docker-compose.yaml.j2
Due: ansible-lint

Fix Renovate autoReplaceStringTemplate newline escaping
  .claude/rules/tooling/renovate.md
  .renovaterc
  scripts/renovate-dryrun
Due: none

Use recursive matchStringsStrategy for Docker image annotations
  .claude/rules/tooling/renovate.md
  .renovaterc
Due: none

Add automerge rule for Ansible Docker digest updates
  .renovaterc
Due: none

Align production deployment workflow naming
  .github/workflows/ansible-production-deploy.yaml
  .github/workflows/argocd-production-deploy.yaml
Due: none

Renovate audit cleanup
  .renovaterc
  ansible/group_vars/plex_client.yaml
  ansible/group_vars/plex_server.yaml
  scripts/hass-check-config
Due: ansible-lint, hass-check-config

bd sync: 2026-01-07 09:13:23
  .beads/issues.jsonl
Due: none

Add office thermostat/gaming PC circuit management automation
  .pre-commit-config.yaml
  kubernetes/hass/config/kustomization.yaml
  kubernetes/hass/config/packages/office_thermostat_gaming.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

bd sync: 2026-01-07 22:54:15
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-08 09:39:58
  .beads/issues.jsonl
Due: none

Update Home Assistant helm chart to 0.3.37 (HA 2025.12.5)
  kubernetes/hass/Chart.yaml
  kubernetes/hass/config/kustomization.yaml
  kubernetes/hass/helm/ingress.yaml
  kubernetes/hass/helm/service.yaml
  kubernetes/hass/helm/serviceaccount.yaml
  kubernetes/hass/helm/statefulset.yaml
Due: format-kustomization, kubeconform, ak-tool-generate, hass-check-config, kyverno-validate

bd sync: 2026-01-08 11:45:37
  .beads/issues.jsonl
Due: none

Include docker-compose manager in Ansible automerge rule
  .renovaterc
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  format-kustomization: any of: ^kubernetes/.*/kustomization\.ya?ml$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kubeconform: any of: ^kubernetes/.*\.(ya?ml)$ and not ((helm\.yaml|patch-.*\.yaml)$) and not (^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/)
  ak-tool-generate: any of: ^kubernetes/.*/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  hass-check-config: any of: ^(kubernetes/hass/|scripts/hass-check-config), but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
  kyverno-validate: any of: ^kubernetes/.*\.(ya?ml)$, but not: ^ansible/galaxy/|^kubernetes/.*/helm/|^kubernetes/.*/crds/
